@mixin bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

.mobile_app {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 24px;
  padding: 10px;
  .app {
    width: 100%;
    display: inline-block;
    figure {
      @include flex-c();
      flex-direction: column;
      img {
        width: 80%;
      }
      figcaption {
        text-align: center;
        padding-top: 12px;
        font-size: 14px;
        color: var(--white);
        span {
          display: inline-block;
          width: 20px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}