@mixin bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@media screen and (max-width: 700px) {
  
}