@import url(../reset.css);
@import url(../font/font.css);

@mixin flex-c($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}
@mixin trans-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: "Metropolis", "Noto Sans KR", "맑은 고딕", "Malgun Gothic",
    sans-serif;
  font-size: 10px;
  letter-spacing: -0.025em;
  line-height: 1;
}

header {
  nav {
    @include flex-c(space-between);
  }
}

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@media screen and (max-width: 700px) {
  .wrap {
    header {
      ul.h-top {
        display: none;
      }
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@media screen and (min-width: 701px) {
  .wrap {
    header {
      width: 100%;
      height: 155px;
      padding: 0 80px;
      position: fixed;
      top: 0;
      left: 0;
      border: 1px solid #ca1d1d;
      ul.h-top {
        padding: 20px 0;
        @include flex-c(end);
        li {
          padding: 8px 15px;
          a {
            font-size: 1.6em;
            display: block;
          }
        }
        .bluegreen,
        .gray {
          border-radius: 99px;
          a {
            display: block;
            font-size: 1.6em;
            font-weight: 900;
            color: #fff;
            img {
              margin-right: 5px;
            }
          }
        }
        .bluegreen {
          background: #41b4b7;
          margin-right: 5px;
        }
        .gray {
          background: #9badb6;
        }
      }
      h1 {
        position: absolute;
        @include trans-c();
      }
      .prod-menu{display: none}
      nav {
        @include flex-c(space-between);
        width: 100%;
        // height: 100px;
        padding: 10px;
        > ul {
          display: flex;
          justify-content: center;
          li.main-menu {
            font-weight: 900;
            font-size: 1.6em;
            position: relative;
            a {
              // width: 100%;
              display: inline-block;
              color: #555;
              span {
                display: none;
                &.one {
                  display: block;
                }
              }
            }
            ul.sub-menu {
              background: #fff;
              z-index: 99;
              margin-top: 20px;
              transition: 0.3s ease;
              li {
                a {
                  display: block;
                  width: 100%;
                  padding: 10px 0;
                  transition: .35s;
                }
              }
            }
          }
          &.left {
            li.main-menu:not(:last-child) {
              a {
                padding-right: 20px;
                // transition: 0.35s;
              }
              > ul.sub-menu {
                left: 0;
              }
            }
            li.main-menu {
              text-transform: uppercase;
              >a {
                &:hover {
                  color: rgb(0, 183, 255);
                }
              }
            }
            &:hover > li.main-menu{
              a{
                padding-right: 30px;
              }
              ul.sub-menu{
                visibility: visible;
                opacity: 1;
              }
            }
          }
          &.right {
            display: none;
            li.main-menu:not(:first-child) {
              a {
                padding-left: 20px;
                transition: 0.35s;
              }
            }
            li.main-menu {
              > ul.sub-menu {
                right: 0;
              }
            }
          }
          &:hover {
            li.main-menu {
              border: 1px solid #000;
              display: block;
              span {
                display: block;
                &.one {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// @media screen and (min-width: 1400px) {
//   header {
//     ul.h-top {
//       padding: 20px 0;
//       @include flex-c(end);
//       li {
//         padding: 8px 15px;
//         a {
//           font-size: 1.6em;
//           display: block;
//         }
//       }
//       .bluegreen,
//       .gray {
//         border-radius: 99px;
//         a {
//           display: block;
//           font-size: 1.6em;
//           font-weight: 900;
//           color: #fff;
//           img {
//             margin-right: 5px;
//           }
//         }
//       }
//       .bluegreen {
//         background: #41b4b7;
//         margin-right: 5px;
//       }
//       .gray {
//         background: #9badb6;
//       }
//     }
//     width: 100%;
//     height: 155px;
//     padding: 0 80px;
//     position: fixed;
//     top: 0;
//     left: 0;
//     border: 1px solid #ca1d1d;
//     h1 {
//       position: absolute;
//       @include trans-c();
//     }
//     nav {
//       @include flex-c(space-between);
//       width: 100%;
//       > ul {
//         @include flex-c(space-between);
//         li.main-menu {
//           font-weight: 900;
//           font-size: 1.6em;
//           position: relative;
//           display: inline-block;
//           transition: width 0.35s ease;
//           padding: 10px 0; /* 위아래만 공통으로 주기 */
//           a {
//             width: 100%;
//             display: block;
//             color: #555;
//             white-space: nowrap;
//             border: 1px solid #000;
//             span {
//               display: none;
//               &.one {
//                 display: block;
//               }
//             }
//           }
//           ul.sub-menu {
//             position: absolute;
//             top: 100%;
//             width: auto;
//             background: #fff;
//             z-index: 99;
//             border: 1px solid #000;
//             li {
//               white-space: nowrap;
//               a {
//                 display: block;
//                 width: 100%;
//               }
//             }
//           }
//         }
//         &.left {
//           li.main-menu:not(:last-child) {
//             a {
//               padding-right: 20px;
//               transition: 0.35s;
//               border: 1px solid #000;
//             }
//             > ul.sub-menu {
//               left: 0;
//             }
//           }
//           li.main-menu {
//             text-transform: uppercase;
//             a {
//               &:hover {
//                 color: rgb(0, 183, 255);
//               }
//             }
//           }
//           &:hover > li.main-menu {
//             padding-right: 57px;
//           }
//         }
//         &.right {
//           li.main-menu:not(:first-child) {
//             a {
//               padding-left: 20px;
//               transition: 0.35s;
//             }
//           }
//           li.main-menu {
//             > ul.sub-menu {
//               right: 0;
//             }
//           }
//         }
//         &:hover {
//           li.main-menu {
//             border: 1px solid #000;
//             display: block;
//             flex: 1;
//             white-space: nowrap;
//             width: auto;
//             span {
//               display: block;
//               &.one {
//                 display: none;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }
