@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/metropolis-2");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
html,
body {
  font-family: "Metropolis", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif;
  font-size: 10px;
  line-height: 1;
  color: #333;
}

li,
p,
a {
  font-size: inherit;
}

header {
  z-index: 99;
  border: 2px solid #10a0ff;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.sect1 h2, section.sect3 h2, section.sect4 h2 {
  color: #333;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 300;
}
section.sect1 {
  position: relative;
}
section.sect1 .swiper {
  height: 100%;
  width: 100%;
}
section.sect2 {
  background: #fff;
  position: relative;
}
section.sect2 .inner {
  position: relative;
  border: none;
}
section h2 {
  font-family: "Metropolis";
  font-weight: 300;
  letter-spacing: 2px;
}

@media screen and (max-width: 770px) {
  .wrap header {
    width: 100%;
    height: 85px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrap header ul.h-top {
    display: none;
    padding: 20px 0;
  }
  .wrap header ul.h-top li {
    padding: 8px 15px;
  }
  .wrap header ul.h-top li a {
    font-size: 1.4em;
    display: block;
  }
  .wrap header ul.h-top .bluegreen,
  .wrap header ul.h-top .gray {
    border-radius: 99px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrap header ul.h-top .bluegreen a,
  .wrap header ul.h-top .gray a {
    display: block;
    font-size: 1.4em;
    font-weight: 900;
    color: #fff;
  }
  .wrap header ul.h-top .bluegreen a img,
  .wrap header ul.h-top .gray a img {
    margin-right: 5px;
  }
  .wrap header ul.h-top .bluegreen {
    background: #41b4b7;
    margin-right: 5px;
    margin-left: 10px;
  }
  .wrap header ul.h-top .gray {
    background: #9badb6;
  }
  .wrap header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .wrap header h1 img {
    width: 50%;
  }
  .wrap header button.prod-menu {
    border: none;
    background: none;
    width: 23px;
    cursor: pointer;
  }
  .wrap header button.prod-menu img {
    width: 100%;
  }
  .wrap header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrap header nav ul.left,
  .wrap header nav ul.right-menu {
    display: none;
  }
  .wrap header nav .serch-menu {
    text-align: right;
  }
  .wrap header nav .serch-menu > a.serch {
    display: none;
  }
  .wrap header nav .serch-menu > a.allmenu {
    width: 19px;
  }
  .wrap header nav .serch-menu > a.allmenu img {
    width: 100%;
  }
  .wrap header .all-nav {
    display: none;
  }
  .wrap main {
    margin-top: 85px;
  }
  .wrap main section h2 {
    font-size: 2.5rem;
    font-weight: 300;
  }
  .wrap main section.sect1 {
    width: 100%;
    height: calc(100vh - 85px);
    margin-top: 85px;
  }
  .wrap main section.sect1 .swiper_container {
    width: 100%;
    height: calc(100vh - 280px);
    position: relative;
  }
  .wrap main section.sect1 .swiper_container .swiper {
    width: calc(100% - 80px);
    height: 100%;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-wrapper .swiper-slide {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-wrapper .swiper-slide a img {
    width: 100%; /* 슬라이드의 너비에 맞춤 */
    height: 100%; /* 슬라이드의 높이에 맞춤 */
    object-fit: cover; /* 이미지 비율을 유지하며 슬라이드에 딱 맞게 */
    display: block;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-wrapper .swiper-slide a img.web {
    display: none;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-wrapper .swiper-slide a img.mob {
    display: block;
  }
  .wrap main section.sect1 .swiper_container .arrow {
    display: none;
  }
  .wrap main section.sect2 h2 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
  }
  .wrap main section.sect2 .inner {
    width: 100%;
  }
  .wrap main section.sect2 .inner .swiper_pc {
    display: none;
  }
  .wrap main section.sect2 .inner .swiper_p_t {
    width: 100%;
  }
  .wrap main section.sect2 .inner .swiper_p_t .smallSwiper {
    width: 100%;
    height: 800px;
    border: none;
  }
  .wrap main section.sect2 .inner .swiper_p_t .smallSwiper .swiper-wrapper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .wrap main section.sect2 .inner .swiper_p_t .smallSwiper .swiper-wrapper .swiper-slide::before {
    content: "";
    width: 100%;
    height: 700px;
    background: url(../img/sect2/mainsec4_gradi_m.png) no-repeat center bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .wrap main section.sect2 .inner .swiper_p_t .smallSwiper .swiper-wrapper .swiper-slide video {
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .wrap main section.sect2 .inner .swiper_p_t .smallSwiper .swiper-wrapper .swiper-slide .txt2 {
    text-align: left;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  .wrap main section.sect2 .inner .swiper_p_t .smallSwiper .swiper-wrapper .swiper-slide .txt2 .subH {
    letter-spacing: -0.5px;
    margin-bottom: 27px;
    color: #fff;
    font-size: 2rem;
    font-family: "Metropolis-bold";
  }
  .wrap main section.sect2 .inner .swiper_p_t .smallSwiper .swiper-wrapper .swiper-slide .txt2 .summary2 {
    width: 100%;
    height: auto;
    color: #fff;
    opacity: 1;
  }
  .wrap main section.sect2 .inner .swiper_p_t .smallSwiper .swiper-wrapper .swiper-slide .txt2 .summary2 h3 {
    font-size: 2.8em;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -3px;
    margin-bottom: 20px;
    word-break: keep-all;
  }
  .wrap main section.sect2 .inner .swiper_p_t .smallSwiper .swiper-wrapper .swiper-slide .txt2 .summary2 p {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }
  .wrap main section.sect2 .inner .swiper_p_t .smallSwiper .swiper-wrapper .swiper-slide .txt2 .summary2 p br {
    display: none;
  }
  .wrap main section.sect2 .inner .swiper_p_t .not_pc {
    width: 100%;
    position: absolute;
    bottom: 40px;
    z-index: 2;
    border: none;
  }
  .wrap main section.sect2 .inner .swiper_p_t .not_pc span {
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 0 10px;
  }
  .wrap main section.sect3 {
    background: #f4f7fa;
    padding: 80px 0;
  }
  .wrap main section.sect3 .col .col_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  .wrap main section.sect3 .col .col_tab span {
    height: 20px;
    width: 2px;
    background: #ddd;
    margin: 0 15px;
  }
  .wrap main section.sect3 .col .col_tab li {
    color: #999;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .wrap main section.sect3 .col .col_tab li.on {
    color: #0890c0;
    font-weight: 600;
  }
  .wrap main section.sect3 .col .prod {
    margin-top: 25px;
    display: none;
  }
  .wrap main section.sect3 .col .prod.on {
    display: block;
  }
  .wrap main section.sect3 .col .prod .web {
    display: none;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container {
    width: 95%;
    margin-left: 5%;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .mainImg {
    margin-bottom: 20px;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .mainImg img {
    width: 100%;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt ul.tag {
    margin-bottom: 20px;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt ul.tag li {
    height: 30px;
    display: inline-block;
    padding: 0 10px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 99px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt .colName {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt .summary {
    font-size: 1.6rem;
    font-weight: 300;
    color: #666;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt .btn {
    width: 60px;
    display: block;
    margin-top: 20px;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt .btn img {
    width: 100%;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .prod_list {
    display: flex;
    gap: 18px;
    margin-top: 50px;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .prod_list li .img {
    width: 150px;
    height: 90px;
    overflow: hidden;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .prod_list li .img img {
    width: 100%;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .prod_list li p {
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 400;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a span {
    position: relative;
    z-index: 1;
    font-weight: 500;
    display: block;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a::before {
    border: 1px solid #333;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #0890c0;
    background: #0890c0;
    opacity: 0;
    transition: 0.5s;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a:hover {
    color: #fff;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a:hover::after {
    bottom: 0;
    opacity: 1;
  }
  .wrap main section.sect3 .col .prod .mob .swiper-scrollbar {
    display: none;
  }
  .wrap main section.sect3 .col .prod .prodBtn_next {
    display: none;
  }
  .wrap main section.sect3 .col .prod .prodBtn_prev {
    display: none;
  }
  .wrap main section.sect3 .news {
    padding-top: 80px;
  }
  .wrap main section.sect3 .news .maintxt {
    display: none;
  }
  .wrap main section.sect3 .news .swiper {
    width: 90%;
    height: auto;
    margin-top: 40px;
    position: relative;
  }
  .wrap main section.sect3 .news .swiper .swiper-wrapper .swiper-slide {
    padding-bottom: 100px;
    cursor: auto;
  }
  .wrap main section.sect3 .news .swiper .swiper-wrapper .swiper-slide a img {
    width: 100%;
  }
  .wrap main section.sect3 .news .swiper .swiper-wrapper .swiper-slide a .txt {
    margin-top: 30px;
    font-size: 2.5rem;
  }
  .wrap main section.sect3 .news .swiper .swiper-wrapper .swiper-slide a .txt span {
    font-size: 2.2rem;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
  }
  .wrap main section.sect3 .news .swiper .swiper-button-next {
    top: 95%;
    left: 0;
    width: 60px;
    height: 16px;
    background: url(../img/sect3/go-right-icon.png) no-repeat 0 0;
    background-size: 100%;
  }
  .wrap main section.sect3 .news .swiper .swiper-button-next::after {
    display: none;
  }
  .wrap main section.sect3 .news .swiper .swiper-scrollbar .swiper-scrollbar-drag {
    background: #0890c0;
  }
  .wrap main section.sect3 .news .swiper_tab {
    display: none;
  }
}
@media screen and (min-width: 771px) {
  .wrap header {
    width: 100%;
    height: 155px;
    padding: 0 80px;
    position: fixed;
    top: 0;
    left: 0;
  }
  .wrap header ul.h-top {
    display: block;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .wrap header ul.h-top li {
    padding: 8px 15px;
  }
  .wrap header ul.h-top li a {
    font-size: 1.4em;
    display: block;
  }
  .wrap header ul.h-top .bluegreen,
  .wrap header ul.h-top .gray {
    border-radius: 99px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrap header ul.h-top .bluegreen a,
  .wrap header ul.h-top .gray a {
    display: block;
    font-size: 1.4em;
    font-weight: 900;
    color: #fff;
  }
  .wrap header ul.h-top .bluegreen a img,
  .wrap header ul.h-top .gray a img {
    margin-right: 5px;
  }
  .wrap header ul.h-top .bluegreen {
    background: #41b4b7;
    margin-right: 5px;
    margin-left: 10px;
  }
  .wrap header ul.h-top .gray {
    background: #9badb6;
  }
  .wrap header h1 {
    position: absolute;
    left: 40px;
    top: 50%;
  }
  .wrap header .prod-menu {
    display: none;
  }
  .wrap header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    padding-left: 210px;
  }
  .wrap header nav ul.left li.main-menu {
    font-weight: 900;
    font-size: 1.6em;
    position: relative;
  }
  .wrap header nav ul.left li.main-menu a {
    display: inline-block;
    color: #555;
    transition: 0.3s ease;
    padding: 10px 0;
  }
  .wrap header nav ul.left li.main-menu a span {
    display: none;
  }
  .wrap header nav ul.left li.main-menu a span.one {
    display: block;
  }
  .wrap header nav ul.left li.main-menu ul.sub-menu {
    display: none;
    background: #fff;
    z-index: 99;
    margin-top: 10px;
  }
  .wrap header nav ul.left li.main-menu ul.sub-menu li a {
    width: 100%;
    padding: 10px 0;
  }
  .wrap header nav ul.left.left {
    display: flex;
  }
  .wrap header nav ul.left.left li.main-menu:not(:last-child) a {
    padding-right: 20px;
  }
  .wrap header nav ul.left.left li.main-menu:not(:last-child) > ul.sub-menu {
    left: 0;
  }
  .wrap header nav ul.left.left li.main-menu {
    text-transform: uppercase;
  }
  .wrap header nav ul.left.left li.main-menu > a:hover {
    color: rgb(0, 183, 255);
  }
  .wrap header nav ul.left.left:hover > li.main-menu a {
    padding-right: 30px;
  }
  .wrap header nav ul.left:hover li.main-menu {
    border: 1px solid #000;
    display: block;
  }
  .wrap header nav ul.left:hover li.main-menu span {
    display: block;
  }
  .wrap header nav ul.left:hover li.main-menu span.one {
    display: none;
  }
  .wrap header nav .right .right-menu {
    display: none;
  }
  .wrap header nav .right .serch-menu {
    width: 100px;
    text-align: right;
  }
  .wrap header nav .right .serch-menu a.serch {
    margin-right: 20px;
  }
  .wrap header .all-nav {
    display: none;
  }
  .wrap main {
    margin-top: 160px;
  }
  .wrap main section h2 {
    font-size: 3rem;
  }
  .wrap main section.sect1 {
    width: 100%;
    height: calc(100vh - 85px);
    margin-top: 85px;
  }
  .wrap main section.sect1 .swiper_container {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
  }
  .wrap main section.sect1 .swiper_container .swiper {
    width: calc(100% - 200px);
    height: 100%;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-wrapper .swiper-slide {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-wrapper .swiper-slide a img {
    width: 100%; /* 슬라이드의 너비에 맞춤 */
    height: 100%; /* 슬라이드의 높이에 맞춤 */
    object-fit: cover; /* 이미지 비율을 유지하며 슬라이드에 딱 맞게 */
    display: block;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-wrapper .swiper-slide a img.web {
    display: none;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-wrapper .swiper-slide a img.mob {
    display: block;
  }
  .wrap main section.sect1 .swiper_container .arrow {
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
  }
  .wrap main section.sect1 .swiper_container .arrow.prev1 {
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  .wrap main section.sect1 .swiper_container .arrow.next1 {
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  .wrap main section.sect1 .swiper_container .arrow svg {
    fill: none;
    stroke: #ccc;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 150px;
    cursor: pointer;
  }
  .wrap main section.sect1 .swiper_container .arrow svg path {
    stroke: #ddd;
    stroke-width: 4;
    stroke-linecap: round; /* 선이라서 stroke-linecap / border-radius 적용 안됨*/
    transition: 0.35s;
    fill: transparent;
  }
  .wrap main section.sect1 .swiper_container .arrow:hover path {
    stroke: #999;
  }
  .wrap main section.sect2 h2 {
    font-size: 5em;
    text-align: center;
  }
  .wrap main section.sect2 .inner .swiper_pc {
    display: none;
  }
  .wrap main section.sect2 .inner .swiper_p_t .swiper {
    max-width: 710px;
    width: 770px;
    height: 800px;
    margin: auto;
  }
  .wrap main section.sect2 .inner .swiper_p_t .swiper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .wrap main section.sect2 .inner .swiper_p_t .swiper .swiper-slide::before {
    content: "";
    width: 100%;
    height: 700px;
    background: url(../img/sect2/mainsec4_gradi_m.png) no-repeat center bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .wrap main section.sect2 .inner .swiper_p_t .swiper .swiper-slide video {
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .wrap main section.sect2 .inner .swiper_p_t .swiper .swiper-slide .txt2 {
    text-align: left;
    position: absolute;
    bottom: 80px;
    left: 40px;
    z-index: 2;
  }
  .wrap main section.sect2 .inner .swiper_p_t .swiper .swiper-slide .txt2 .subH {
    letter-spacing: -0.5px;
    margin-bottom: 27px;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
  }
  .wrap main section.sect2 .inner .swiper_p_t .swiper .swiper-slide .txt2 .summary2 {
    width: 100%;
    height: auto;
    color: #fff;
    opacity: 1;
  }
  .wrap main section.sect2 .inner .swiper_p_t .swiper .swiper-slide .txt2 .summary2 h3 {
    font-size: 4em;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -3px;
    margin-bottom: 30px;
    word-break: keep-all;
  }
  .wrap main section.sect2 .inner .swiper_p_t .swiper .swiper-slide .txt2 .summary2 p {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
  }
  .wrap main section.sect2 .inner .swiper_p_t .not_pc {
    width: 100%;
    position: absolute;
    bottom: 40px;
    z-index: 2;
    border: none;
  }
  .wrap main section.sect2 .inner .swiper_p_t .not_pc span {
    width: 18px;
    height: 18px;
    background: #fff;
    margin: 0 10px;
  }
  .wrap main section.sect3 {
    background: #f4f7fa;
    padding: 80px 0;
  }
  .wrap main section.sect3 .col .col_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  .wrap main section.sect3 .col .col_tab span {
    height: 20px;
    width: 2px;
    background: #ddd;
    margin: 0 15px;
  }
  .wrap main section.sect3 .col .col_tab li {
    color: #999;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .wrap main section.sect3 .col .col_tab li.on {
    color: #0890c0;
    font-weight: 600;
  }
  .wrap main section.sect3 .col .prod {
    margin-top: 25px;
    display: none;
  }
  .wrap main section.sect3 .col .prod.on {
    display: block;
  }
  .wrap main section.sect3 .col .prod .web {
    display: none;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container {
    width: 95%;
    margin-left: 5%;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .mainImg {
    margin-bottom: 20px;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .mainImg img {
    width: 100%;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt ul.tag {
    margin-bottom: 20px;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt ul.tag li {
    height: 30px;
    display: inline-block;
    padding: 0 10px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 99px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt .colName {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt .summary {
    font-size: 1.6rem;
    font-weight: 300;
    color: #666;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt .btn {
    width: 60px;
    display: block;
    margin-top: 20px;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .txt .btn img {
    width: 100%;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .prod_list {
    display: flex;
    gap: 18px;
    margin-top: 50px;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .prod_list li .img {
    width: 150px;
    height: 90px;
    overflow: hidden;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .prod_list li .img img {
    width: 100%;
  }
  .wrap main section.sect3 .col .prod .mob .mob_container .prod_list li p {
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a {
    display: inline-block;
    padding: 15px 50px;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a span {
    position: relative;
    z-index: 1;
    font-weight: 500;
    display: block;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a::before {
    border: 1px solid #333;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #0890c0;
    background: #0890c0;
    opacity: 0;
    transition: 0.5s;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a:hover {
    color: #fff;
  }
  .wrap main section.sect3 .col .prod .mob .moreBtn a:hover::after {
    bottom: 0;
    opacity: 1;
  }
  .wrap main section.sect3 .col .prod .mob .swiper-scrollbar {
    display: none;
  }
  .wrap main section.sect3 .news {
    padding: 100px 0;
  }
  .wrap main section.sect3 .news .maintxt {
    display: none;
  }
  .wrap main section.sect3 .news .swiper {
    width: 701px;
    position: relative;
    margin-top: 50px;
  }
  .wrap main section.sect3 .news .swiper .swiper-wrapper .swiper-slide {
    padding-bottom: 130px;
    cursor: auto;
  }
  .wrap main section.sect3 .news .swiper .swiper-wrapper .swiper-slide a img {
    width: 100%;
  }
  .wrap main section.sect3 .news .swiper .swiper-wrapper .swiper-slide a .txt {
    margin-top: 30px;
    font-size: 3.5rem;
    font-weight: 300;
  }
  .wrap main section.sect3 .news .swiper .swiper-wrapper .swiper-slide a .txt span {
    font-size: 3rem;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
  }
  .wrap main section.sect3 .news .swiper .swiper-button-next {
    top: 93%;
    left: 0;
    width: 90px;
    height: 20px;
    background: url(../img/sect3/go-right-icon.png) no-repeat 0 0;
    background-size: 100%;
  }
  .wrap main section.sect3 .news .swiper .swiper-button-next::after {
    display: none;
  }
  .wrap main section.sect3 .news .swiper .swiper-scrollbar .swiper-scrollbar-drag {
    background: #0890c0;
  }
  .wrap main section.sect3 .news .swiper_tab {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .wrap header {
    width: 100%;
    height: 155px;
    padding: 0 80px;
    position: fixed;
    top: 0;
    left: 0;
  }
  .wrap header ul.h-top {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .wrap header ul.h-top li {
    padding: 8px 15px;
  }
  .wrap header ul.h-top li a {
    font-size: 1.4em;
    display: block;
  }
  .wrap header ul.h-top .bluegreen,
  .wrap header ul.h-top .gray {
    border-radius: 99px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrap header ul.h-top .bluegreen a,
  .wrap header ul.h-top .gray a {
    display: block;
    font-size: 1.4em;
    font-weight: 900;
    color: #fff;
  }
  .wrap header ul.h-top .bluegreen a img,
  .wrap header ul.h-top .gray a img {
    margin-right: 5px;
  }
  .wrap header ul.h-top .bluegreen {
    background: #41b4b7;
    margin-right: 5px;
    margin-left: 10px;
  }
  .wrap header ul.h-top .gray {
    background: #9badb6;
  }
  .wrap header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .wrap header .prod-menu {
    display: none;
  }
  .wrap header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
  .wrap header nav ul.left,
  .wrap header nav ul.right-menu {
    display: flex;
    justify-content: center;
  }
  .wrap header nav ul.left li.main-menu,
  .wrap header nav ul.right-menu li.main-menu {
    font-weight: 900;
    font-size: 1.6em;
    position: relative;
  }
  .wrap header nav ul.left li.main-menu a,
  .wrap header nav ul.right-menu li.main-menu a {
    display: inline-block;
    color: #555;
    transition: 0.3s ease;
    padding: 10px 0;
  }
  .wrap header nav ul.left li.main-menu a span,
  .wrap header nav ul.right-menu li.main-menu a span {
    display: none;
  }
  .wrap header nav ul.left li.main-menu a span.one,
  .wrap header nav ul.right-menu li.main-menu a span.one {
    display: block;
  }
  .wrap header nav ul.left li.main-menu ul.sub-menu,
  .wrap header nav ul.right-menu li.main-menu ul.sub-menu {
    display: none;
    background: #fff;
    z-index: 99;
    margin-top: 10px;
  }
  .wrap header nav ul.left li.main-menu ul.sub-menu li a,
  .wrap header nav ul.right-menu li.main-menu ul.sub-menu li a {
    width: 100%;
    padding: 10px 0;
  }
  .wrap header nav ul.left.left li.main-menu:not(:last-child) a,
  .wrap header nav ul.right-menu.left li.main-menu:not(:last-child) a {
    padding-right: 20px;
  }
  .wrap header nav ul.left.left li.main-menu:not(:last-child) > ul.sub-menu,
  .wrap header nav ul.right-menu.left li.main-menu:not(:last-child) > ul.sub-menu {
    left: 0;
  }
  .wrap header nav ul.left.left li.main-menu,
  .wrap header nav ul.right-menu.left li.main-menu {
    text-transform: uppercase;
  }
  .wrap header nav ul.left.left li.main-menu > a:hover,
  .wrap header nav ul.right-menu.left li.main-menu > a:hover {
    color: rgb(0, 183, 255);
  }
  .wrap header nav ul.left.left:hover > li.main-menu a,
  .wrap header nav ul.right-menu.left:hover > li.main-menu a {
    padding-right: 30px;
  }
  .wrap header nav ul.left:hover li.main-menu,
  .wrap header nav ul.right-menu:hover li.main-menu {
    display: block;
  }
  .wrap header nav ul.left:hover li.main-menu span,
  .wrap header nav ul.right-menu:hover li.main-menu span {
    display: block;
  }
  .wrap header nav ul.left:hover li.main-menu span.one,
  .wrap header nav ul.right-menu:hover li.main-menu span.one {
    display: none;
  }
  .wrap header nav .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrap header nav .right ul.right-menu {
    display: block;
    display: flex;
  }
  .wrap header nav .right ul.right-menu li.main-menu:not(:last-child) a {
    padding-right: 20px;
  }
  .wrap header nav .right ul.right-menu li.main-menu:not(:last-child) > ul.sub-menu {
    left: 0;
  }
  .wrap header nav .right ul.right-menu li.main-menu {
    text-transform: uppercase;
  }
  .wrap header nav .right ul.right-menu li.main-menu > a:hover {
    color: rgb(0, 183, 255);
  }
  .wrap header nav .right ul.right-menu:hover > li.main-menu a {
    padding-right: 30px;
  }
  .wrap main section h2 {
    font-size: 5em;
  }
  .wrap main section.sect1 {
    height: calc(100vh - 85px);
    margin-top: 85px;
  }
  .wrap main section.sect1 .swiper_container {
    height: calc(100vh - 280px);
  }
  .wrap main section.sect1 .swiper_container .swiper {
    width: calc(100% - 160px);
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-slide a img {
    width: 100%; /* 슬라이드의 너비에 맞춤 */
    height: 100%; /* 슬라이드의 높이에 맞춤 */
    object-fit: cover; /* 이미지 비율을 유지하며 슬라이드에 딱 맞게 */
    display: block;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-slide a img.web {
    display: block;
    width: 100%;
  }
  .wrap main section.sect1 .swiper_container .swiper .swiper-slide a img.mob {
    display: none;
  }
  .wrap main section.sect1 .arrow.prev1 {
    left: 1%;
  }
  .wrap main section.sect1 .arrow.next1 {
    right: 1%;
  }
  .wrap main.sect2 .inner .swiper_pc {
    width: calc(100% - 320px);
    margin: auto;
    position: relative;
    display: block;
  }
  .wrap main.sect2 .inner .swiper_pc .pcSwiper {
    max-width: 710px;
    width: calc(100% - 820px);
    overflow: hidden;
  }
  .wrap main.sect2 .inner .swiper_pc .pcSwiper .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .wrap main.sect2 .inner .swiper_pc .pcSwiper .swiper-wrapper .swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    position: relative;
  }
  .wrap main.sect2 .inner .swiper_pc ul.tab {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 30%;
    font-size: 1.6em;
    text-align: left;
  }
  .wrap main.sect2 .inner .swiper_pc ul.tab li {
    letter-spacing: 0.1em;
    margin-bottom: 27px;
    color: #666;
    transition: 0.35s;
    font-weight: 300;
  }
  .wrap main.sect2 .inner .swiper_pc ul.tab li.on {
    color: #0890c0;
    font-size: 2.2rem;
    font-weight: 600;
  }
  .wrap main.sect2 .inner .swiper_pc .txt {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 26%;
    text-align: left;
  }
  .wrap main.sect2 .inner .swiper_pc .txt .summary {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    width: 100%;
    height: auto;
    opacity: 0;
  }
  .wrap main.sect2 .inner .swiper_pc .txt .summary h3 {
    font-size: 4em;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -3px;
    margin-bottom: 20px;
    word-break: keep-all; /* 단어가 알아서 넘어감 */
    transform: translateY(100px);
    opacity: 0;
    color: #333;
  }
  .wrap main.sect2 .inner .swiper_pc .txt .summary p {
    font-size: 1.8em;
    font-weight: 300;
    line-height: 30px;
    transform: translateY(100px);
    opacity: 0;
    color: #666;
  }
  .wrap main.sect2 .inner .swiper_pc .txt .summary.on {
    opacity: 1;
    transition: 0.35s;
  }
  .wrap main.sect2 .inner .swiper_pc .txt .summary.on h3 {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
  }
  .wrap main.sect2 .inner .swiper_pc .txt .summary.on p {
    transform: translateY(0);
    opacity: 1;
    transition: 1.3s;
  }
  .wrap main.sect2 .inner .arrow_btn {
    display: block;
  }
  .wrap main.sect2 .inner .arrow_btn .arrow {
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrap main.sect2 .inner .arrow_btn .arrow.prev2 {
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
  }
  .wrap main.sect2 .inner .arrow_btn .arrow.next2 {
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
  }
  .wrap main.sect2 .inner .arrow_btn .arrow svg {
    fill: none;
    stroke: #ccc;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 150px;
    cursor: pointer;
  }
  .wrap main.sect2 .inner .arrow_btn .arrow svg path {
    stroke: #ddd;
    stroke-width: 4;
    stroke-linecap: round; /* 선이라서 stroke-linecap / border-radius 적용 안됨*/
    transition: 0.35s;
    fill: transparent;
  }
  .wrap main.sect2 .inner .arrow_btn .arrow:hover path {
    stroke: #999;
  }
  .wrap main.sect2 .inner .swiper_p_t {
    display: none;
  }
  .wrap main.sect3 {
    padding: 150px 0;
  }
  .wrap main.sect3 .col .col_tab {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrap main.sect3 .col .col_tab span {
    height: 20px;
    width: 2px;
    background: #ddd;
    margin: 0 15px;
  }
  .wrap main.sect3 .col .col_tab li {
    color: #999;
    font-size: 2rem;
  }
  .wrap main.sect3 .col .col_tab li.on {
    color: #0890c0;
    font-weight: 600;
  }
  .wrap main.sect3 .col .prod {
    border: 1px solid #000;
    overflow: hidden;
  }
  .wrap main.sect3 .col .prod .web {
    display: block;
    margin-top: 40px;
    width: 1200px;
    overflow: visible;
    position: relative;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper {
    margin-bottom: 100px;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 720px;
    overflow: hidden;
    position: relative;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide:nth-child(3) .img img {
    width: 108%;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .img {
    position: relative;
    width: 100%;
    display: block;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .img img {
    width: 100%;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/sect3/dimd2_main.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt {
    position: absolute;
    top: 100px;
    left: 100px;
    color: #fff;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt ul.tag {
    margin-bottom: 30px;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt ul.tag.off {
    opacity: 0;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt ul.tag li {
    height: 30px;
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #fff;
    border-radius: 99px;
    font-size: 1.6rem;
    line-height: 2;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt .colName {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt .summary {
    font-size: 1.8rem;
    font-weight: 300;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt .colBtn {
    margin-top: 60px;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt .colBtn span {
    position: relative;
    z-index: 1;
    font-weight: 500;
    display: block;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt .colBtn::before {
    border: 1px solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt .colBtn::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #0890c0;
    background: #0890c0;
    opacity: 0;
    transition: 0.5s;
  }
  .wrap main.sect3 .col .prod .web .swiper-wrapper .swiper-slide .txt .colBtn:hover::after {
    bottom: 0;
    opacity: 1;
  }
  .wrap main.sect3 .col .prod .web .swiper-scrollbar {
    display: block;
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .wrap main.sect3 .col .prod .web .swiper-scrollbar .swiper-scrollbar-drag {
    background: #0890c0;
  }
  .wrap main.sect3 .col .prod .mob {
    display: none;
  }
  .wrap main.sect3 .news {
    position: relative;
    width: 1440px;
    margin: 200px auto 0;
    padding: 0;
  }
  .wrap main.sect3 .news .maintxt {
    display: block;
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 2.5rem;
    line-height: 40px;
    font-family: "Noto Sans KR";
    font-weight: 300;
  }
  .wrap main.sect3 .news .swiper {
    margin-top: 50px;
  }
  .wrap main.sect3 .news .swiper .swiper-wrapper {
    padding-bottom: 0;
  }
  .wrap main.sect3 .news .swiper .swiper-wrapper .swiper-slide {
    padding-bottom: 0;
  }
  .wrap main.sect3 .news .swiper .swiper-wrapper .swiper-slide .txt {
    display: none;
  }
  .wrap main.sect3 .news .swiper .swiper-button-next {
    display: none;
  }
  .wrap main.sect3 .news .swiper .swiper-scrollbar {
    display: none;
  }
  .wrap main.sect3 .news .swiper_tab {
    display: block;
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .wrap main.sect3 .news .swiper_tab p {
    font-size: 2rem;
    font-weight: 300;
    color: #999;
    padding: 40px 0;
  }
  .wrap main.sect3 .news .swiper_tab p:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
  }
  .wrap main.sect3 .news .swiper_tab p.on {
    color: #0890c0;
  }
  .wrap main.sect3 .news .swiper_tab p span {
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=index.css.map */