section{
  background: var(--text-color-b);
  width: 100%;
  height: 100vh;
  &.sect1{
    .cd_bg{
      .cd {
        position: relative;
        width: 100%;
        height: 100%;
        // animation: spin 8s linear infinite;
      }
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}

// @media screen and (max-width: 719px) {}
// @media screen and (min-width: 720px) {}
@media screen and (min-width: 1400px) {
  section{
    &.sect1,
    &.sect2{
      padding: 0 60px;
    }
    &.sect1{
      display: flex;
      article{
        width: 100%;
        &.art1{
          border: 1px solid #f00;
          margin-top: 100px;
          .item{
            &.item5,
            &.item6,
            &.item7,
            &.item8

            {
              display: none;
            }
          }
          .title{
            margin-bottom: 40px;
            .name{
              font-size: 40px;
              font-weight: 300;
              padding-bottom: 10px;
              color: var(--text-color-gray2);
            }
            .album_name{
              color: var(--main-color);
              font-size: 60px;
              font-weight: 600;
            }
          }

          .cd_bg{
            width: 100%;
            height: 550px;
            background: var(--main-color);
            position: relative;
            figure{
              width: 640px;
              position: absolute;
              left: 50%;
              bottom: -100px;
              transform: translateX(-50%);
              &::after{
                content: "";
                position: absolute;
                top: 2px;
                left: 3px;
                width: 110%;
                height: 110%;
                background-image: url(../img/album-cover/shadow.png);
                background-size: cover;
                background-repeat: no-repeat;
                z-index: -1;
                opacity: 0.5;
              }
              img{
                width: 100%;
              }
            }
            .sticker{
              width: 130px;
              height: 130px;
              position: absolute;
              right: 3%;
              bottom: 5%;
              transform: rotateZ(20deg);
              background: var(--text-color-b);
              padding: 6px;
              border-radius: 99px;
              .sticker_inner {
                width: 100%;
                height: 100%;
                background-image: url(../img/album-cover/sticker-w.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              }
            }
          }
          .album_info{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            position: relative;
            z-index: 1;
            background: var(--text-color-b);
            padding-top: 20px;
            .album_txt{
              color: var(--text-color-w);
              font-size: 12px;
              font-weight: 300;
              line-height: 20px;
            }

          }
        }
        &.art2{
          height: 100%;
          // display: none;
          li{
            display: none;
          }
        }
      }
    }
    &.sect2{display: none;}
    &.sect3{display: none;}
  }
}