@use './sameCompornent/playList';
@use "../scss/mobile/compornent/topBar";
@use "../scss/mobile/compornent/mApp";
@use "../scss/mobile/compornent/mFolder";
@use "../scss/mobile/compornent/modal";

@mixin bg($size: cover) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: $size;
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
body {
  position: relative;
  font-size: 16px;
  main {
    position: relative;
    height: 100vh;
  }
}


#intro {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 60px 20px 10px;
  background-image: url(../img/photo/Supernatural/NJ_Supernatural_17.jpg);
  @include bg();
  color: var(--white);
}

#bottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  @include flex-c();
  width: 100%;
  height: 50px;
  padding: 6px 8px;
  border-top: 2px solid #000;
  background: linear-gradient(45deg, #ff95dc 5%, #ffffff 100%);
  z-index: 10;
  button,
  a {
    width: calc(33% - 4px);
    height: 38px;
    color: #000;
    letter-spacing: 0.2px;
    font-weight: 600;
    text-align: center;
  }

  #download,
  #close {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.on {
      @include flex-c();
    }
  }
  #download {
    left: 0px;
    border-right: 2px solid #000;
  }
  #close {
    right: 0px;
    border-left: 2px solid #000;
  }
}
.close_btn,
.app,
.btn,
.img_box,
button {
  &:focus-visible {
    outline: 2px solid var(--blue-color);
  }
}

@media screen and (max-width: 700px) {
  main {
    height: 799px;
  }
}
@media screen and (min-width: 701px) {
  body {
    @include flex-c();
    height: 100vh;
  }
  main {
    max-height: 700px;
  }
  main,
  #topBar,
  #bottomBar {
    max-width: 350px;
    margin: auto;
  }
  #topBar,
  #bottomBar {
    left: 50%;
    transform: translateX(-50%);
  }
}
