// @import './';
@import './sameCompornent/topBar';

@mixin bg($size: cover) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: $size;
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
body{
  position: relative;
  font-size: 15px;
}

#topBar {
  width: 100%;
  height: 40px;
  padding: 6px 20px;
  background: var(--bg-color);
  @include flex-c(space-between);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .left,
  .right {
    color: var(--blue-color);
    div{
      height: 18px;
      img{
        height: 100%;
      }
    }
  }
  .left {
    @include flex-c();
    gap: 2px;
    div {
      display: inline-block;
      cursor: auto;
    }
  }
  .right {
    display: flex;
    div:not(:first-child){
      margin-left: 16px;
    }
    .batt {
      @include flex-c();
    }
    .clock_box {
      font-weight: 600;
      @include flex-c(flex-end);
    }
  }
}
#intro{
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 60px 20px 10px;
  color: var(--white);
}


#mobilePlayList {
  border: 1px solid #000;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .play_wrap{
    @include flex-c(space-between);
    gap: 18px;
    width: 100%;
    padding: 8px;
    background: linear-gradient(45deg, #ff95dc 5%, #ffffff 100%);
    border: 2px solid var(--bg-color);
  }
  .play_view{
    @include flex-c(flex-start);
    gap: 6px;
    background: var(--bg-color);
    width: 100%;
    height: 40px;
    padding: 6px;
    .cd_icon {
      width: 24px;
    }
    .play_song p{ // -> 이부분 min width로 할것
      white-space: nowrap;
      overflow: hidden;
      padding: 3px 2px;
      width: 160px;
      text-overflow: ellipsis
    }
  }
  .btns_wrap{
    @include flex-c(space-between);
  }
  .play_btns{
    ol {
      @include flex-c();
    }
    .btn{
      width: 40px;
    }
  }
}
.mobile_app{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 24px;
  padding: 10px;
  .app{
    width: 100%;
    display: inline-block;
    
    figure{
      @include flex-c();
      flex-direction: column;
      img{
        width: 80%;
      }
      figcaption{
        text-align: center;
        padding-top: 12px;
        font-family: "PFStardustS", monospace;
        font-size: 18px;
        span{
          display: inline-block;
          width: 20px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

#list_wrap{
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100vh - 40px - 40px);
  padding: 12px;
  background: var(--white);
  display: none;
  
  &.mv{
    .video_box{
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      &:not(:first-child){
        padding-top: 10px;
      }
    }
    figure{
      @include flex-c(flex-start);
      iframe{
        height: 80px;
        aspect-ratio: 16 / 9;
      }
      figcaption{
        padding-left: 10px;
      }
    }
  }
  &.streaming{
    border: 1px solid var(--bg-color);
  }
  &.on{
    display: block; 
  }
}


.close_btn,
.app,
.btn,
.gallery .img_box {
  &:focus-visible {
    outline: 2px solid var(--blue-color);
  }
}



#folder,
.modal
{
  display: none;
}

#bottomBar{
  width: 100%;
  height: 40px;
  background: var(--bg-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 700px) {
  #intro{
    background-image: url(../img/intro_photo_mobile.jpg);
    @include bg();
  }
}