@import './sameCompornent/topBar';
@import '../scss/pc/compronent/pcApp';
@import './sameCompornent/playList';
@import '../scss/pc/compronent/folder';
@import '../scss/pc/compronent/modal';
// -----------------------
.close_btn,
.app,
.btn,
.gallery .img_box {
  &:focus-visible {
    outline: 2px solid var(--blue-color);
  }
}
@media screen and (min-width: 701px) {
  body {
    overflow: hidden;
  }
  main {
    max-width: 1600px;
    min-height: 100vh;
    margin: auto;
    overflow: hidden;
  }
  #intro {
    height: 100vh;
    padding: 20px;
    background-image: url(../img/intro_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    display: flex;
    justify-content: space-between;
  }
}