@mixin bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
#topBar {
  width: 100%;
  height: 32px;
  padding: 6px 20px;
  @include flex-c(space-between);
  .left,
  .right {
    display: flex;
    color: var(--blue-color);
  }
  .left {
    @include flex-c();
    gap: 2px;
    li {
      display: inline-block;
      cursor: auto;
      &:first-child {
        display: inline-block;
        width: 20px;
        height: 20px;
        @include flex-c();
        img {
          width: 100%;
        }
      }
      &:not(:first-child) {
        width: 80px;
        height: 20px;
        font-size: 14px;
        text-align: center;
        border-right: 1px solid var(--blue-color);
      }
    }
  }
  .right {
    font-size: 14px;
    .batt {
      width: 30px;
      height: 20px;
      @include flex-c();
    }
    .clock_box {
      margin-left: 10px;
      @include flex-c(flex-end);
    }
  }
}
@media screen and (min-width: 701px) {
  body {
    overflow: hidden;
  }
  main {
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
  }
  #intro {
    height: 100vh;
    padding: 20px;
    background-image: url(../img/intro_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    @include flex-c(space-between);
  }
  .desktop_app {
    width: 250px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(8, 102px);
    gap: 10px;
    li {
      @include flex-c();
      position: relative;
      .app {
        padding: 10px;
        font-size: 16px;
        font-weight: 400;
        color: var(--white);
      }
      &:active::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #6dbbff, $alpha: 0.2);
        border: 2px solid var(--soft-blue-color);
        pointer-events: none;
      }
      &#howSweet_gallery {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
      }
      &#bubbleGum_gallery {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
      }
      &#streaming {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
      }
      &#goods {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
      }
      &#phoning {
        grid-column: 1 / span 1;
        grid-row: 8 / span 1;
      }
    }
    .link {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 29px;
        left: 18px;
        width: 18px;
        height: 18px;
        background: url(../img/icon/pc_app/link.svg);
        @include bg();
        pointer-events: none;
      }
    }
    figure {
      @include flex-c();
      flex-direction: column;
      img {
        width: 60px;
      }
      figcaption {
        width: 100px;
        padding-top: 10px;
        text-align: center;
        text-wrap: nowrap;
        @include flex-c();
        span {
          display: inline-block;
          width: 40px;
          text-wrap: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  #desktopPlayList {
    display: grid;
    grid-template-columns: repeat(1, 375px);
    grid-template-rows: repeat(8, 102px);
    gap: 10px;
    width: 375px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.4);
    }
    .play_wrap {
      grid-row: 8;
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 102px;
        background-image: url(../img/icon/playlist/playlist_bar.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 375px 102px;
        box-sizing: border-box;
        pointer-events: none;
      }
    }
    .play_view,
    .btns_wrap {
      position: relative;
      z-index: 1;
    }
    .play_view {
      @include flex-c(space-between);
      width: 100%;
      height: 40px;
      padding: 6px;
      background: var(--bg-color);
      .cd_icon {
        width: calc(40px - 12px);
        height: calc(40px - 12px);
        border: 1px solid #000;
      }
      .play_song {
        width: calc(100% - 34px);
        p {
          color: var(--pink-color);
        }
      }
    }
    .btns_wrap {
      @include flex-c(space-between);
    }
    .play_btns {
      margin-top: 6px;
      ol {
        display: flex;
        li:not(:first-child) {
          margin-left: -2px;
        }
      }
      .btn {
        width: 60px;
      }
    }
    .sound {
      width: 100px;
      height: 36px;
      margin-top: 6px;
      @include flex-c();
    }
  }

  #folder {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1020px;
    height: calc(100% - 14% - 40px);
    background: var(--white);
    border: 2px solid #000;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.4);
    z-index: 10;
    .folder_bar {
      @include flex-c(space-between);
      width: 100%;
      height: 40px;
      padding: 2px 4px;
      background: linear-gradient(45deg, #ff95dc 5%, #ffffff 100%);
      border-bottom: 2px solid #000;
      color: var(--bg-color);
    }
    .close_btn {
      width: 30px;
      height: 30px;
      border: 2px solid #000;
      position: relative;
    }
    &.on {
      display: block;
    }

    .container {
      padding: 20px;
      width: 100%;
      height: calc(100% - 20px * 2);
      .contents {
        width: 100%;
        height: 100%;
      }
    }
    .gallery {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 45px;
      overflow-y: scroll;
      .img_box {
        height: 100%;
        @include flex-c();
        flex-direction: column;
        // gap: 6px;
        .img_name {
          width: 100%;
          color: var(--bg-color);
          font-size: 14px;
          text-align: center;
          white-space: normal;
          word-break: break-word;
          overflow-wrap: break-word;
        }
      }
      .img_frame {
        width: 127px;
        height: 219px;
        padding: 4px;
        background: var(--white);
        border: 1px solid #000;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          // object-fit: cover;
        }
      }
    }
    .site_list {
      width: 100%;
      font-size: 16px;
      text-align: left;
      thead {
        border-bottom: 1px solid #000;
        font-family: "PFStardustS", monospace;
      }
      tbody {
        width: 100%;
        tr {
          width: 100%;
          cursor: pointer;
          &:hover {
            background: var(--blue-color);
            td {
              color: var(--white);
            }
          }
        }
      }
      td,
      th {
        vertical-align: middle;
        &:nth-child(1) {
          width: 32px;
          padding: 6px 0 6px 12px;
          img {
            width: 20px;
            border: 1px solid #ddd;
          }
        }
        &:nth-child(2) {
          width: calc(100% - 60px - 120px - 32px);
          padding: 6px 6px 6px;
          a {
            display: block;
          }
        }
        &:nth-child(3) {
          width: 60px;
          padding: 6px 0px 6px;
        }
        &:nth-child(4) {
          width: 120px;
          padding: 6px 12px 6px;
          font-family: "PFStardustS", monospace;
          font-size: 18px;
        }
        &:not(:nth-child(2)) {
          color: #333;
          font-weight: 200;
        }
      }
    }
  }
  .modal {
    @include flex-c();
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    background: var(--white);
    border: 2px solid var(--bg-color);
    z-index: 999;
    &.hidden {
      display: none;
    }
    .modal_top_bar {
      @include flex-c(space-between);
      width: 100%;
      height: 40px;
      background: var(--blue-color);
      color: #000;

      .icon_box {
        @include flex-c();
        height: 40px;
        width: 40px;
        border: 1px solid #000;
      }
      p {
        padding-left: 10px;
        font-size: 16px;
        font-weight: bold;
      }
      #close {
        cursor: pointer;
      }
    }
  }
  #modal_img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f00;
    // width: 30%;
    max-width: 480px;
    max-height: 640px;
  }
  .controls {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    #prev,
    #next {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: 1px solid var(--blue-color);
      span {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background: var(--blue-color);
        position: relative;
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          border-radius: 5px;
          background: var(--blue-color);
        }
      }
    }
    #prev {
      span::before,
      span::after {
        left: -2px;
        transform-origin: left center;
      }
      span::before {
        transform: rotate(45deg);
        bottom: 1px;
      }
      span::after {
        transform: rotate(-45deg);
        top: 1px;
      }
    }
    #next {
      span::before,
      span::after {
        right: -2px;
        transform-origin: right;
      }
      span::before {
        transform: rotate(-45deg);
        bottom: 1px;
      }
      span::after {
        transform: rotate(45deg);
        top: 1px;
      }
    }
    #download {
      text-decoration: none;
      color: #000;
      background: var(--blue-color);
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        font-weight: bold;
        background: #0466bc;
      }
    }
  }
}
// ------------------------------------------------
@media screen and (min-width: 1240px) {
  main {
    max-width: 1600px;
    margin: auto;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
    // .img_box {
      // img {
        // max-width: 127px;
        // max-height: 120px;
      // }
    // }
  }
  //  #intro{

  //  }
}
