* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body {
  font-family: sans-serif;
}

/* ---- isotope ---- */

.grid {
  width: 100%;
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  width:calc(33.333% - 12px) ;
  margin-bottom: 20px;
  float: left;
}
/* .grid-item{
  width: 46.3333;
} */

.grid-item img {
  width: 100%;
  display: block;
}
a{text-decoration: none; color:rgb(145, 145, 145)}
ul{display: flex; gap: 10px; width: 100%; justify-content: center; 
  padding: 0;}
li{list-style: none;}
ul li a.on{color: #000000; font-weight: 900;}
.grid-item{overflow: hidden;}
.grid-item .summary{
  position: absolute;
  left: 0;
  top: 0;
  background: #0000009c;
  width: 100%;
  height: 100%;
  text-align: center;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transform: opacity .3s ease, visibility .3s ease;

}

.grid-item:hover .summary{
  opacity: 1;
  visibility: visible;
}
h1{width: 100%; text-align: center;}
h4{font-size: 30px;}

