@mixin flex($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin po-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
$dark: (
  gray100: #fff,
  gray200: #eee,
  gray300: #ddd,
  gray400: #999,
  gray500: #666,
  gray600: #333,
  gray700: #111,
  gray700-gradetion: #11111100,
  sect2-bg: #222,
  download-btn: #333,
);

$light: (
  gray100: map-get($dark, gray700),
  gray200: map-get($dark, gray600),
  gray300: map-get($dark, gray500),
  gray400: map-get($dark, gray400),
  gray500: map-get($dark, gray300),
  gray600: map-get($dark, gray200),
  gray700: map-get($dark, gray100),
  gray700-gradetion: map-get($dark, gray700-gradetion),
  sect2-bg: map-get($dark, gray200),
  download-btn: map-get($dark, gray300),
);

@mixin set-theme($theme) {
  @each $colorName, $val in $theme {
    --color-#{$colorName}: #{$val};
  }
}

body[data-theme="light"] {
  @include set-theme($light);
}
body[data-theme="dark"] {
  @include set-theme($dark);
}

// ---------------------------------------
html,
body {
  position: relative;
  color: var(--color-gray600);
  background-color: var(--color-gray700);
  font-size: 10px;
  a {
    color: inherit;
    cursor: pointer;
  }
}
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
  nav {
    ul {
      li {
        a,
        i {
          color: #333;
        }
      }
    }
  }
}
.wrap {
  background-color: var(--color-gray700);
  .bg_img {
    position: relative;
    height: 100vh;
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 0;
      pointer-events: none;
    }
    .introduce {
      margin: auto;
      height: 86%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      z-index: 1;
      h2 {
        line-height: 1.4;
      }
      .txt {
        > p {
          color: var(--color-gray200);
          line-height: 1.6;
          font-weight: 400;
        }
        .bottom {
          @include flex(space-between);
          .visit {
            color: var(--color-gray100);
            font-weight: 600;
            display: inline-block;
            padding: 20px 25px;
            border: 1px solid var(--color-gray100);
            border-radius: 50px;
            &:hover {
              background-color: var(--color-gray100);
              color: var(--color-gray600);
            }
          }
          .status {
            color: var(--color-gray700);
            text-align: center;
            font-weight: 600;
            background: var(--color-gray100);
            i {
              padding-right: 6px;
              color: var(--color-gray700);
            }
            #museum_status {
              font-weight: 600;
              color: var(--color-gray700);
            }
          }
        }
      }
    }
  }
}
.sect1 {
  width: 95%;
  background-color: var(--color-gray700);
  position: relative;
  z-index: 99;
  border-radius: 20px;
  h3 {
    color: var(--color-gray200);
  }
  .art1 {
    .more {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .btn {
        display: flex;
        align-items: center;
        p {
          color: #aaa;
        }
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          .img_box {
            &::before {
              opacity: 1;
            }
            &::after {
              opacity: 1;
            }
            img {
              transform: scale(1.05);
            }
          }
        }
        a {
          width: 100%;
          .img_box {
            overflow: hidden;
            border-radius: 20px;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
              height: 80%;
              background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.6),
                rgba(0, 0, 0, 0)
              );
              opacity: 0;
              transition: 0.3s;
            }
            &::after {
              content: "프로그램 정보 보기";
              position: absolute;
              bottom: 40px;
              left: 50%;
              z-index: 1;
              color: #fff;
              font-size: 20px;
              font-weight: 600;
              transform: translateX(-50%);
              opacity: 0;
              transition-duration: 0.1s;
            }
            img {
              display: block;
              width: 100%;
              object-fit: cover;
              transition: 0.3s;
            }
          }
          .txt {
            .title {
              color: var(--color-gray200);
              font-weight: 500;
            }
            .sub_txt p {
              color: var(--color-gray200);
            }
          }
        }
      }
      .pagination_area {
        position: relative;
        padding: 40px;
        display: flex;
        .swiper-pagination {
          position: absolute;
          top: 48%;
          left: 0;
          border-radius: 20px;
          overflow: hidden;
          background-color: var(--color-gray500);
          span {
            border-radius: 20px;
            overflow: hidden;
            background-color: var(--color-gray100);
          }
        }
        .btn_box {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          > div {
            position: absolute;
            &::after {
              display: none;
            }
            span {
              width: 100%;
              height: 2px;
              border-radius: 10px;
              background-color: var(--color-gray100);
              position: relative;
              &.next {
                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  right: 1px;
                  width: 50%;
                  height: 2px;
                  border-radius: 10px;
                  background-color: var(--color-gray100);
                  transform-origin: right;
                }
                &::before {
                  top: 0;
                  transform: rotate(45deg);
                }
                &::after {
                  bottom: 0;
                  transform: rotate(-45deg);
                }
              }
              &.prev {
                &::before,
                &::after {
                  content: "";
                  position: absolute;
                  left: 1px;
                  width: 50%;
                  height: 2px;
                  border-radius: 10px;
                  background-color: var(--color-gray100);
                  transform-origin: left;
                }
                &::before {
                  top: 0;
                  transform: rotate(45deg);
                }
                &::after {
                  bottom: 0;
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
      }
    }
  }
  .art2 {
    .collections {
      .left,
      .right {
        a {
          border-radius: 20px;
          overflow: hidden;
          position: relative;
          .collection_name {
            position: absolute;
            left: 30px;
            bottom: 25px;
            color: #fff;
            font-size: 2.4rem;
            font-weight: 600;
            z-index: 1;
          }
        }
      }
      .left {
        border-radius: 20px;
        overflow: hidden;
        height: 360px;
        a {
          .img_box {
            height: 100%;
            @include flex();
            position: relative;
            img {
              width: 100%;
              transform: scale(1);
              transition: 0.3s ease;
              min-height: 600px;
            }
          }
          &:hover {
            .img_box::after {
              opacity: 1;
            }
            img {
              transform: scale(1.05);
            }
          }
        }
      }
      .grid {
        display: grid;
        gap: 4px;
        margin-top: 4px;
        a {
          .img_box {
            @include flex();
            width: 100%;
            height: 100%;
            img {
              transform: scale(1);
              transition: 0.3s ease;
            }
          }
          &:nth-child(3) {
            .img_box {
              align-items: start;
            }
          }
          &:hover {
            &::after {
              opacity: 0.8;
            }
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    ul {
      display: flex;
      gap: 8px;
      li {
        width: 25%;
        a {
          .link {
            display: block;
            position: relative;
            font-size: 2rem;
            font-weight: 600;
            padding-bottom: 20px;
            white-space: nowrap;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 2px;
              background-color: var(--color-gray500);
              transition: 0.3s;
            }
          }
          .link,
          .txt {
            color: var(--color-gray200);
          }
        }
      }
    }
  }
}
.sect2 {
  width: 95%;
  margin: auto;
  .top {
    border-radius: 20px;
    background-color: var(--color-sect2-bg);
    text-align: center;
    h3 {
      color: var(--color-gray100);
    }
    p {
      color: var(--color-gray200);
    }
    a {
      background-color: var(--color-download-btn);
      color: var(--color-gray200);
      display: inline-block;
      font-weight: 600;
      border-radius: 50px;
      transition: 0.2s;
      &:hover {
        background-color: var(--color-gray200);
        color: var(--color-gray600);
        transition: 0.5s;
      }
    }
  }
  .bottom {
    .item_txt {
      text-align: center;
      .title,
      .sub_txt {
        p {
          color: var(--color-gray100);
        }
      }
      .title {
        font-weight: 600;
      }
    }
  }
}
footer {
  .f_top {
    .f_logo {
      li {
        color: var(--color-gray400);
        a {
          color: var(--color-gray200);
        }
      }
    }
    .site_map {
      .f_menu {
        li {
          line-height: 1;
          a {
            color: var(--color-gray200);
            font-weight: 600;
          }
        }
      }
      .exhibition,
      .collection,
      .visit {
        > a {
          display: inline-block;
          color: var(--color-gray200);
          font-weight: 600;
        }
        ul {
          li {
            a {
              color: var(--color-gray400);
              display: inline-block;
              font-weight: 400;
              position: relative;
              &::before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: var(--color-gray400);
                position: absolute;
                bottom: -6px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                opacity: 0;
                transition: opacity 0.5s ease;
              }
              &:hover {
                &::before {
                  opacity: 1;
                  transition: opacity 0.3s ease;
                }
              }
            }
          }
        }
      }
    }
  }
  .line {
    border-top: 1px solid var(--color-gray500);
  }
  .f_bottom {
    margin: auto;
    @include flex(space-between);
    p {
      color: var(--color-gray400);
    }
    .f_information {
      display: flex;
      a {
        color: var(--color-gray200);
        font-weight: 500;
      }
    }
    .sns {
      ul {
        display: flex;
        li {
          img {
            width: 100%;
            filter: invert(1);
          }
        }
      }
    }
  }
}
.mode-label {
  display: none;
  display: inline-block;
  z-index: 1000;
  width: 80px;
  margin-top: 20px;
  padding: 12px;
  border-radius: 20px;
  background: var(--color-gray500);
  color: var(--color-gray200);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  svg {
    display: none;
    &.on {
      display: block;
    }
  }
}
.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
}
input[type="checkbox"]:checked + .mode-label::after {
  display: none;
}

// --------------------------------------------------------------------
@media only screen and (max-width: 600px) {
  body {
    .no-scroll {
      overflow: hidden;
    }
  }
  header {
    height: 60px;
    padding: 12px 0px;
    .inner {
      width: 95%;
      height: 100%;
      margin: auto;
      @include flex(space-between);
      h1 {
        width: 30%;
        height: 100%;
        @include flex();
        img {
          width: 100%;
        }
      }
      nav {
        width: 50%;
        display: none;
        ul {
          li {
            flex: 1;
            text-align: center;
          }
        }
      }
      .mobile_menu {
        height: 40px;
        width: 40px;
        padding: 10px 6px;
        @include flex();
        .mobile_box {
          @include flex();
          width: 100%;
          height: 100%;
          display: block;
          position: relative;
          span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #333;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s;
            &::before,
            &::after {
              content: "";
              position: absolute;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #333;
              transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
              pointer-events: none;
            }
            &::before {
              top: -10px;
            }
            &::after {
              bottom: -10px;
              transform: rotate(0);
            }
          }
          &.on {
            span {
              background-color: transparent;
              &::before,
              &::after {
                background-color: var(--color-gray100);
              }
              &::before {
                transform: rotate(45deg);
                top: 0;
              }
              &::after {
                transform: rotate(-45deg);
                bottom: 0;
              }
            }
          }
        }
        ul.mobile_nav {
          display: none;
          overflow: scroll;
          position: fixed;
          top: 0;
          right: 0;
          z-index: -1;
          width: 100vw;
          height: 100vh;
          padding: 100px 20px 40px;
          background-color: var(--color-gray700);
          overflow-y: auto;
          &.on {
            display: block;
          }
          li.main-menu {
            > a {
              display: inline-block;
              font-size: 6vw;
              font-weight: 600;
              color: var(--color-gray100);
              padding: 20px 0 10px;
            }
            ul.sub-menu {
              a {
                display: inline-block;
                font-size: 6vw;
                font-weight: 400;
                color: var(--color-gray400);
                padding: 10px 0;
                &:hover {
                  color: var(--color-gray200);
                }
              }
            }
          }
          .search {
            display: block;
            width: 100%;
            height: 60px;
            border-radius: 10px;
            font-size: 4vw;
            font-weight: 600;
            @include flex(space-between);
            overflow: hidden;
            margin-top: 20px;
            input {
              display: block;
              width: 85%;
              height: 60px;
              padding: 10px;
              background-color: var(--color-gray600);
              border-radius: 10px 0 0 10px;
              font-size: 4vw;
              font-weight: 400;
              color: var(--color-gray100);
              border: none;
              outline: none;
              &::placeholder {
                color: var(--color-gray400);
              }
            }
            .search_icon {
              padding: 10px;
              width: 15%;
              height: 100%;
              border: 1px solid var(--color-gray700);
              background-color: var(--color-gray200);
              position: relative;
              i {
                position: absolute;
                color: var(--color-gray700);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          .login {
            @include flex(space-between);
            gap: 10px;
            margin-top: 10px;
            a {
              width: 100%;
              height: 60px;
              border: 1px solid var(--color-gray200);
              border-radius: 10px;
              font-size: 4vw;
              font-weight: 400;
              text-align: center;
              @include flex();
              span {
                color: var(--color-gray100);
              }
            }
          }
        }
      }
      .right-menu {
        display: none;
        width: 20%;
        ul {
          gap: 20px;
          justify-content: flex-end;
          li {
            a {
              white-space: nowrap;
              color: var(--color-gray100);
              i {
                color: var(--color-gray100);
              }
            }
          }
        }
      }
    }
    .scrolled {
      background-color: var(--color-gray100);
      border-bottom: 1px solid #e4e4e4;
      nav ul li a {
        color: var(--color-gray700);
      }
      .right-menu ul li a {
        color: var(--color-gray700);
        i {
          color: var(--color-gray700);
        }
      }
    }
  }
  .wrap {
    .bg_img {
      background-position: top center;
      &::after {
        height: 80%;
        background: linear-gradient(
          to top,
          var(--color-gray700) 20%,
          var(--color-gray700-gradetion) 80%
        );
      }
      .introduce {
        width: 95%;
        padding: 14vh 10px 0;
        gap: 14rem;
        text-align: center;
        h2 {
          font-size: 7vw;
          line-height: 1.4;
        }
        .txt {
          p {
            word-break: keep-all;
            padding-bottom: 3vh;
            font-size: clamp(14px, 16px, 18px);
            br {
              display: none;
            }
          }
          .bottom {
            flex-direction: column;
            background-color: transparent;
            .visit {
              padding: 20px 25px;
              font-size: 1.6rem;
            }
            .status {
              i {
                display: none;
              }
              margin-top: 5vh;
              padding: 2vh;
              border-radius: 40px;
              font-weight: 600;
              font-size: 20px;
            }
          }
        }
      }
    }
    .animate {
      .title {
        h2 {
          transform: translateX(0);
          transition: 0.5s ease;
        }
        p {
          &:nth-child(1) {
            transform: translateX(0);
            transition: 0.5s ease-out;
            transition-delay: 0.1s;
          }
          &:nth-child(2) {
            transform: translateX(0);
            transition: 0.5s ease;
            transition-delay: 0.2s;
          }
          &.artist {
            transform: translateX(0);
            transition: 0.5s ease-out;
            transition-delay: 0.25s;
          }
        }
      }
    }
    h3 {
      font-size: 6vw;
      padding-bottom: 20px;
    }
    .sect1 {
      padding: 80px 10px 60px;
      margin: -40px auto 0;
      .art1 {
        margin-bottom: 60px;
        .more {
          padding-bottom: 20px;
          align-items: center;
          h3 {
            padding-bottom: 0;
          }
          a.btn {
            display: flex;
            align-items: center;
            p {
              font-size: 3vw;
              font-weight: 400;
            }
          }
        }

        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              .txt {
                padding: 0 5px;
                .title {
                  font-size: 2rem;
                  font-weight: 400;
                }
                .sub_txt {
                  p {
                    font-size: 1.6rem;
                  }
                }
              }
            }
          }
          .pagination_area {
            .swiper-pagination {
              width: 60%;
            }
            .btn_box {
              width: 100px;
              height: 50px;
              > div {
                top: 54%;
                i {
                  font-size: 6vw;
                }
              }
            }
          }
        }
      }
      .art2 {
        .collections {
          padding-bottom: 40px;
          .left,
          .right {
            .collection_name {
              left: 15px;
              bottom: 10px;
              font-size: 5vw;
              z-index: 1;
            }
          }
          .left {
            height: 200px;
            a {
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(
                  to top,
                  #1111119e 0%,
                  #11111100 90%
                );
                opacity: 0.9;
              }
              .img_box {
                height: 100%;
                @include flex();
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          .grid {
            grid-template-columns: repeat(2, 1fr);
            a {
              height: 150px;
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(
                  to top,
                  #1111119e 0%,
                  #11111100 90%
                );
                opacity: 0.9;
              }
              .img_box {
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 4px;
          li {
            width: 100%;
            a {
              display: block;
              .link {
                width: 100%;
                font-size: 5vw;
                padding-bottom: 10px;
                &::after {
                  width: 100%;
                  display: none;
                }
              }
              .txt {
                display: none;
              }
            }
          }
        }
      }
    }
    .sect2 {
      padding-top: 10px;
      padding-bottom: 60px;
      .top {
        margin-bottom: 60px;
        padding: 40px 10px;
        .app {
          h3 {
            padding-bottom: 20px;
            font-size: 6vw;
            line-height: 1.4;
            br {
              display: block;
            }
          }
          p {
            font-size: clmp(14px, 16px, 18px);
            padding-bottom: 40px;
            word-break: keep-all;
            br {
              display: none;
            }
          }
          a {
            font-size: 1.6rem;
            padding: 15px 40px;
          }
        }
        .q {
          display: none;
          p {
            color: var(--color-gray100);
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid var(--color-gray500);
              a {
                display: inline-block;
                padding: 20px 0;
                color: var(--color-gray100);
                font-size: 2rem;
                line-height: 1.4;
              }
              &:nth-child(1) {
                border-top: 1px solid var(--color-gray500);
              }
            }
          }
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5vw;
        a.item {
          display: block;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              p,
              i {
                color: var(--color-gray100);
                font-size: 20px;
                width: 100%;
              }
              i {
                display: none;
              }
            }
            .sub_txt {
              display: none;
            }
          }
        }
      }
    }
  }
  footer {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    padding: 0 10px;
    .f_top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      .f_logo {
        width: 100%;
        margin-bottom: 24px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--color-gray600);
        img {
          width: 60%;
          margin-bottom: 15px;
        }
        ul {
          li {
            font-weight: 500;
            font-size: 4vw;
            margin-bottom: 6px;
            a {
              font-weight: 800;
              margin-left: 5px;
            }
          }
        }
      }
      .site_map {
        a {
          font-size: 6vw;
        }
        ul {
          padding-top: 10px;
          margin-bottom: 40px;
          padding-bottom: 20px;
          border-bottom: 1px solid var(--color-gray600);
          li {
            font-weight: 900;
            margin-bottom: 10px;
            a {
              font-size: 5vw;
            }
          }
        }
        .visit {
          ul {
            margin-bottom: 0;
          }
        }
      }
      .f_information {
        border-bottom: 1px solid var(--gray3);
      }
      .family {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid var(--gray3);
        p {
          margin-bottom: 10px;
          font-weight: 800;
        }
        select {
          width: 100%;
          height: 40px;
          padding: 10px;
        }
      }
    }
    .line {
      margin: 0;
    }
    .f_bottom {
      display: flex;
      flex-direction: column-reverse;
      p {
        color: var(--color-gray400);
        width: 100%;
        text-align: center;
        padding: 24px 0 60px;
      }
      .sns {
        width: 100%;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--color-gray600);
        margin-top: 20px;
        ul {
          margin: auto;
          width: 80%;
          gap: 20px;
          li {
            flex: 1;
            img {
              width: 100%;
            }
          }
        }
      }
      .left {
        margin-top: 20px;
        width: 100%;
        .f_information {
          justify-content: space-between;
          font-size: 3vw;
        }
        p {
          padding: 10px 0 40px;
        }
      }
    }
  }
}
// --------------------------------------------------------------------
@media only screen and (min-width: 601px) {
  header {
    height: 120px;
    padding: 40px 20px;
    .inner {
      width: 95%;
      height: 100%;
      margin: auto;
      @include flex(space-between);
      h1 {
        width: 15%;
        height: 40px;
        position: relative;
        a {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      nav {
        width: 70%;
        > ul {
          @include flex();
          gap: 10px;
          li.main-menu {
            text-align: center;
            position: relative;
            &:hover > a {
              &::before {
                opacity: 1;
                transition: opacity 0.3s ease;
              }
            }
            > a {
              display: block;
              width: 100%;
              padding: 10px;
              font-size: 1.6rem;
              font-weight: 600;
              position: relative;
              &::before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: var(--color-gray400);
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                opacity: 0;
                transition: opacity 0.5s ease;
              }
            }
            ul.sub-menu {
              width: 100%;
              position: absolute;
              left: 0;
              top: 65px;
              display: none;
              li {
                > a {
                  display: block;
                  color: var(--color-gray100);
                  padding: 6px;
                  font-size: 16px;
                  border: 1px solid #828080;
                  &:hover {
                    color: #000;
                    &::before {
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 200px;
                      background-color: var(--color-gray100);
                      z-index: -1;
                    }
                  }
                }
              }
            }
          }
        }
        // 음 메인메뉴 안에 넣으면 안되는지 이해가 잘....
      }
      .mobile_menu {
        display: none;
      }
      .right-menu {
        width: 15%;
        ul {
          @include flex(flex-end);
          gap: 10px;
          li {
            a {
              color: #999;
              background-color: #ddd;
              font-size: 1.6rem;
              font-weight: 600;
              display: inline-block;
              padding: 5px 15px;
              border-radius: 20px;
              i {
                color: var(--color-gray200);
              }
            }
          }
        }
      }
    }
    .scrolled {
      background-color: var(--color-gray100);
      border-bottom: 1px solid #e4e4e4;
      nav {
        > ul li.main-menu a {
          color: black;
        }
      }
    }
  }
  header.scrolled .right-menu ul li a {
    color: var(--color-gray700);
  }
  header.scrolled .right-menu ul li a i {
    color: var(--color-gray700);
  }
  .wrap {
    h3 {
      font-size: 3rem;
      margin-bottom: 40px;
    }
    .bg_img {
      background-position: top 50% center;
      background-size: cover;
      padding-left: 20px;
      padding-right: 20px;
      &::after {
        height: 80%;
        background: linear-gradient(
          to top,
          var(--color-gray700) 20%,
          var(--color-gray700-gradetion) 80%
        );
      }
      .introduce {
        width: 95%;
        padding: 200px 0 25px;
        gap: 300px;
        h2 {
          font-size: 5rem;
        }
        .txt {
          > p {
            font-size: 2rem;
            margin-bottom: 40px;
          }
          .bottom {
            .visit {
              font-size: 2rem;
            }
            .status {
              padding: 20px 30px;
              font-size: 2rem;
              border-radius: 50px;
            }
          }
        }
      }
    }
    .sect1 {
      margin: -80px auto 0;
      padding: 120px 20px;
      .art1 {
        .more {
          @include flex(space-between);
          margin-bottom: 40px;
          h3 {
            margin-bottom: 0;
          }
          a.btn {
            display: flex;
            align-items: center;
            p {
              font-size: 2rem;
              font-weight: 400;
            }
          }
        }
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              .txt {
                padding: 0 5px;
                .title {
                  font-size: 2.4rem;
                  line-height: 1.3;
                  margin-top: 10px;
                }
                .sub_txt {
                  margin-top: 10px;
                  p {
                    font-size: 2rem;
                  }
                }
              }
            }
          }
          .pagination_area {
            .swiper-pagination {
              width: 49%;
            }
            .btn_box {
              width: 150px;
              height: 50px;
              position: absolute;
              bottom: 24px;
              right: 0;
              z-index: 100;
              > div {
                width: 50px;
                height: 50px;
                top: 45%;
              }
            }
          }

          .item {
            display: none;
            .art_img {
              border: 1px solid #000;

              border-radius: 20px;
              overflow: hidden;
              width: 100%;
            }
            &.item4 {
              display: block;
            }
          }
        }
      }
      .art2 {
        margin-top: 160px;
        .collections {
          gap: 4px;
          width: 100%;
          padding-bottom: 100px;
          .left,
          .right {
            a {
              border-radius: 20px;
              overflow: hidden;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 90%;
                background: linear-gradient(
                  to top,
                  #1111119e 0%,
                  #11111100 40%
                );
                opacity: 0.6;
                transition: 0.3s ease;
              }
              .collection_name {
                font-size: 2.4rem;
              }
            }
          }
          .left {
            border-radius: 20px;
            overflow: hidden;
            height: 360px;
            a {
              .img_box {
                height: 100%;
                @include flex();
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 90%;
                  background: linear-gradient(
                    to top,
                    #1111119e 0%,
                    #11111100 40%
                  );
                  opacity: 0.6;
                  transition: 0.3s ease;
                }
                img {
                  transform: scale(1);
                  transition: 0.3s ease;
                  min-height: 600px;
                }
              }
              &:hover {
                .img_box::after {
                  opacity: 1;
                }
                img {
                  transform: scale(1.05);
                }
              }
            }
          }
          .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4px;
            margin-top: 4px;
            a {
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 90%;
                background: linear-gradient(
                  to top,
                  #1111119e 0%,
                  #11111100 40%
                );
                opacity: 0.5;
                transition: 0.3s ease;
              }
              .img_box {
                @include flex();
                width: 100%;
                height: 100%;
                img {
                  transform: scale(1);
                  transition: 0.3s ease;
                }
              }
              &:nth-child(3) {
                .img_box {
                  align-items: start;
                }
              }
              &:hover {
                &::after {
                  opacity: 0.8;
                }
                img {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
        ul {
          display: flex;
          gap: 8px;
          li {
            width: 25%;
            a {
              .link {
                display: block;
                font-size: 2rem;
                padding-bottom: 20px;
                &::after {
                  transition: 0.3s;
                }
              }
              .txt {
                display: none;
              }
            }
          }
        }
      }
    }
    .sect2 {
      width: 95%;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 60px;
      .top {
        margin-bottom: 120px;
        padding: 60px 0;
        .app {
          h3 {
            padding-bottom: 20px;
            font-size: 3rem;
            br {
              display: none;
            }
          }
          p {
            font-size: 1.6rem;
            padding-bottom: 40px;
          }
          a {
            font-size: 2rem;
            padding: 20px 60px;
          }
        }
        .q {
          display: none;
          p {
            color: var(--color-gray100);
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid var(--color-gray500);
              a {
                display: inline-block;
                padding: 20px 0;
                color: var(--color-gray100);
                font-size: 2rem;
                line-height: 1.4;
              }
              &:nth-child(1) {
                border-top: 1px solid var(--color-gray500);
              }
            }
          }
        }
      }
      .bottom {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        a.item {
          border-right: 1px solid var(--color-gray400);
          display: inline-block;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              p,
              i {
                color: var(--color-gray100);
                font-size: 2rem;
                letter-spacing: 1;
                width: 100%;
              }
              i {
                display: none;
              }
            }
            .sub_txt {
              display: none;
            }
          }
        }
      }
    }
    footer {
      margin-top: 100px;
      padding-bottom: 20px;
      .f_top {
        width: 95%;
        margin: auto;
        margin-bottom: 60px;
        padding-top: 100px;
        .f_logo {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 60px;
          .img_box {
            width: 80%;
            img {
              width: 100%;
              margin-bottom: 30px;
            }
          }
          ul {
            li {
              font-weight: 500;
              font-size: 16px;
              margin-bottom: 10px;
              a {
                font-weight: 800;
                padding-left: 5px;
              }
            }
          }
        }
        .site_map {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          .f_menu {
            li {
              margin-bottom: 20px;
              a {
                font-size: 2rem;
              }
            }
          }
          .exhibition,
          .collection,
          .visit {
            > a {
              font-size: 2.4rem;
              margin-bottom: 20px;
            }
            ul {
              li {
                a {
                  font-size: 2rem;
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
      .line {
        padding-bottom: 20px;
      }
      .f_bottom {
        width: 95%;
        .f_information {
          margin-bottom: 6px;
          display: flex;
          a {
            color: var(--color-gray200);
          }
        }
        .sns {
          ul {
            gap: 20px;
            li {
              width: 30px;
              height: 30px;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .animate {
    .title {
      h2 {
        transform: translateX(0);
        transition: 0.5s ease;
      }
      p {
        &:nth-child(1) {
          transform: translateX(0);
          transition: 0.5s ease-out;
          transition-delay: 0.1s;
        }
        &:nth-child(2) {
          transform: translateX(0);
          transition: 0.5s ease;
          transition-delay: 0.2s;
        }
        &.artist {
          transform: translateX(0);
          transition: 0.5s ease-out;
          transition-delay: 0.25s;
        }
      }
    }
  }
}
// --------------------------------------------------------------------
@media only screen and (min-width: 900px) {
  .wrap {
    .bg_img {
      .introduce {
        .txt {
          > p {
            br.welBr {
              display: none;
            }
          }
        }
      }
    }
    .sect1 {
      .art1 {
        .swiper {
          .pagination_area {
            .swiper-pagination {
              width: 33.3333%;
            }
          }
        }
      }
      .art2 {
        margin-top: 160px;
        .collections {
          display: flex;
          flex-direction: column;
          .left,
          .right {
            a {
              border-radius: 20px;
              overflow: hidden;
              position: relative;
              .collection_name {
                font-size: 2.4rem;
              }
            }
          }
          .left {
            width: 100%;
            height: 400px;
            a {
              height: 100%;
              .img_box {
                img {
                  width: 100%;
                }
              }
            }
          }
          .grid {
            width: 100%;
            height: 220px;
            grid-template-columns: repeat(4, 1fr);
            a {
              .img_box {
                img {
                  width: 100%;
                  min-height: 100%;
                }
              }
              &:nth-child(3) {
                .img_box {
                  align-items: start;
                }
              }
            }
          }
        }
        ul {
          li {
            a {
              .link {
                font-size: 2.4rem;
                margin-bottom: 20px;
                &::after {
                  width: 10%;
                }
              }
              .txt {
                display: block;
                font-size: 1.6rem;
                word-break: keep-all;
                br {
                  display: block;
                  &.coral {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      footer {
        .f-top {
          justify-content: space-between;
          margin-bottom: 60px;
          display: flex;

          padding: 0 40px;
          .f_logo {
            width: 50%;
            img {
              width: 50%;
              margin-bottom: 30px;
            }
            ul {
              li {
                font-weight: 500;
                font-size: 16px;
                color: var(--gray3);
                a {
                  font-weight: 800;
                  padding-left: 5px;
                }
              }
            }
          }
          ul.f-menu,
          ul.f-information {
            li {
              line-height: 40px;
              font-weight: 800;
              font-size: 16px;
            }
          }

          .family {
            width: 20%;
            p {
              margin-bottom: 10px;
              font-weight: 800;
            }
            select {
              width: 100%;
              height: 40px;
              padding: 10px;
            }
          }
        }
        .line {
          padding-bottom: 20px;
        }
        .f_bottom {
          display: flex;

          padding: 0 40px 60px;
          /* 혹시나 모바일의 영향이 있을까하는.... */
          justify-content: space-between;
          align-self: center;

          p {
            color: var(--gray2);
          }
          .sns {
            width: 25%;
            ul {
              width: 100%;
              gap: 20px;
              li {
                flex: 1;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .sect2 {
      .top {
        padding: 80px 0;
        .app {
          h3 {
            padding-bottom: 20px;
            font-size: 4rem;
            br {
              display: none;
            }
          }
          p {
            font-size: 2rem;
            br.appBr {
              display: none;
            }
          }
        }
        .q {
          display: none;
          p {
            color: var(--color-gray100);
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid var(--color-gray500);
              a {
                display: inline-block;
                padding: 20px 0;
                color: var(--color-gray100);
                font-size: 2rem;
                line-height: 1.4;
              }
              &:nth-child(1) {
                border-top: 1px solid var(--color-gray500);
              }
            }
          }
        }
      }
      .bottom {
        a.item {
          padding-right: 20px;
          padding-left: 20px;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              padding-bottom: 10px;
              p,
              i {
                color: var(--color-gray100);
                font-size: 2.4rem;
                letter-spacing: 1;
              }
              i {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
// --------------------------------------------------------------------
@media only screen and (min-width: 1200px) {
  header {
    .inner {
      max-width: 1600px;
      nav {
        > ul {
          gap: 40px;
          li.main-menu {
            > a {
              padding: 10px;
              font-size: 2rem;
            }
            ul.sub-menu {
              width: 100%;
              position: absolute;
              left: 0;
              top: 65px;
              display: none;
              li {
                > a {
                  display: block;
                  color: var(--color-gray100);
                  padding: 6px;
                  font-size: 16px;
                  border: 1px solid #828080;
                  &:hover {
                    color: #000;
                    &::before {
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 200px;
                      background-color: var(--color-gray100);
                      z-index: -1;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .right-menu {
        ul {
          gap: 10px;
          li {
            a {
              padding: 10px 20px;
            }
          }
        }
      }
    }
    .scrolled {
      background-color: var(--color-gray100);
      border-bottom: 1px solid #e4e4e4;
      nav {
        > ul li.main-menu a {
          color: black;
        }
      }
    }
  }
  .wrap {
    h3 {
      font-size: 4rem;
    }
    .bg_img {
      background-size: 100%;
      padding: 0;
      .introduce {
        max-width: 1700px;
        padding: 200px 50px 0;
        gap: 300px;
        h2 {
          font-size: 5rem;
          line-height: 1.4;
        }
        .txt {
          p {
            color: var(--color-gray200);
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.6;
          }
          .bottom {
            .visit {
              color: var(--color-gray100);
              font-size: 20px;
              font-weight: 600;
              display: inline-block;
              padding: 20px 25px;
              border: 1px solid var(--color-gray100);
              border-radius: 50px;
            }
          }
        }
      }
    }
    .sect1 {
      max-width: 1700px;
      // padding: 150px 50px;
      padding-left: 50px;
      padding-right: 50px;
      .art1 {
        .more {
          a.btn {
            .right {
              p {
                font-size: 12px;
                font-weight: 800;
              }
            }
          }
        }

        .swiper {
          .swiper-scrollbar {
            width: 24%;
          }
          .pagination_area {
            .swiper-pagination {
              width: 25%;
            }
          }
        }
      }
      .art2 {
        margin-top: 160px;
        .collections {
          flex-direction: row;
          width: 100%;
          .left,
          .right {
            width: 50%;
            height: 700px;
            a {
              .collection_name {
                left: 30px;
                bottom: 25px;
                font-size: 2.4rem;
              }
            }
          }
          .left {
            .img_box {
              img {
                height: 100%;
              }
            }
          }
          .grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin: 0;
            a {
              .img_box {
                img {
                  height: 100%;
                }
              }
            }
          }
        }
        ul {
          li {
            width: 25%;
            a {
              .txt {
                font-size: 2rem;
                br.coral {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    .sect2 {
      .top {
        .app {
          h3 {
            padding-bottom: 20px;
            br {
              display: none;
            }
          }
          p {
            font-size: 2rem;
          }
          a {
            font-size: 2rem;
          }
        }
        .q {
          display: none;
          p {
            color: var(--color-gray100);
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid var(--color-gray500);
              a {
                display: inline-block;
                padding: 20px 0;
                color: var(--color-gray100);
                font-size: 2rem;
                line-height: 1.4;
              }
              &:nth-child(1) {
                border-top: 1px solid var(--color-gray500);
              }
            }
          }
        }
      }
      .bottom {
        a.item {
          padding-right: 20px;
          padding-left: 20px;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              @include flex(space-between);
              padding-bottom: 10px;
              p,
              i {
                font-size: 2.4rem;
                letter-spacing: 1;
              }
              i {
                display: none;
              }
            }
            .sub_txt {
              display: block;
              color: var(--color-gray200);
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  footer {
    margin-top: 100px;
    .f_top {
      display: flex;
      justify-content: space-between;
      .f_logo {
        display: block !important;
        width: 30% !important;
        .img_box {
          width: 50%;
          img {
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }
      .site_map {
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 20px;
        .f_menu {
          li {
            a {
              font-size: 2.4rem;
            }
          }
        }
        .exhibition,
        .collection,
        .visit {
          > a {
            font-size: 2.4rem;
          }
          ul {
            li {
              a {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
    .line {
      padding-bottom: 20px;
    }
    .f_bottom {
      .f_information {
        margin-top: 6px;
        gap: 10px;
        a {
          font-size: 1.6rem;
        }
      }
    }
  }
}
