@mixin flex($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin po-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html,
body {
  background: #111;
  font-size: 10px;
  color: #333;
  position: relative;
  a {
    color: inherit;
    cursor: pointer;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 100%;
      .img_box {
        overflow: hidden;
        border-radius: 20px;
        position: relative;
        &::after {
          display: none;
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50%;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)
          );
          pointer-events: none;
        }
        img {
          display: block;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .wrap {
    background: #111;
    .bg_img {
      background: url('../imgs/서울시립미술관.jpg') top 50% center
        no-repeat;
      
      background-size: cover;
      height: 100vh;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-image: linear-gradient(
          to top,
          #11110f 0%,
          rgba(17, 16, 17, 0) 80%
        );
        z-index: 0;
        pointer-events: none;
      }
      .introduce {
        margin: auto;
        height: 86%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        z-index: 1;
        h2 {
          line-height: 1.4;
        }
        .txt {
          p {
            color: #ddd;
            line-height: 1.6;
            font-weight: 400;
          }
          .visit {
            color: #fff;
            font-weight: 600;
            display: inline-block;
            padding: 20px 25px;
            margin-top: 40px;
            border: 1px solid #fff;
            border-radius: 50px;
          }
        }
      }
    }
    .sect1 {
      width: 95%;
      background: #fff;
      position: relative;
      z-index: 99;
      margin: -40px auto 0;
      border-radius: 20px;
      .art1 {
        .more {
          padding-bottom: 40px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          .btn {
            display: flex;
            align-items: center;
            p {
              color: var(--gray3);
            }
            .right {
              width: 20px;
              height: 20px;
              border-radius: 99px;
              // background: #000;
              border: 1px solid #000;
              @include flex-c;
              margin-left: 10px;
              p {
                color: #333;
                font-size: 12px;
                font-weight: 800;
              }
            }
          }
        }
      }
      .art2 {
        .collections {
          .left,
          .right {
            a {
              border-radius: 20px;
              overflow: hidden;
              position: relative;
              p {
                position: absolute;
                left: 30px;
                bottom: 25px;
                color: #fff;
                font-size: 2.4rem;
                font-weight: 600;
                z-index: 1;
              }
            }
          }
          .left {
            border-radius: 20px;
            overflow: hidden;
            height: 360px;
            a {
              .img_box {
                height: 100%;
                img {
                  width: 100%;
                  transform: scale(1);
                  min-height: 600px;
                }
              }
            }
          }
          .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4px;
            margin-top: 4px;
            a {
              .img_box {
                width: 100%;
                height: 100%;
                img {
                  width: 100%;
                }
              }
              &:nth-child(3) {
                .img_box {
                  align-items: start;
                }
              }
              &:hover {
                &::after {
                  opacity: 0.8;
                }
                img {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
        ul {
          display: flex;
          gap: 8px;
          li {
            width: 25%;
            a {
              // border: 1px solid #000;
              .link {
                font-size: 2rem;
                font-weight: 600;
                padding-bottom: 20px;
                display: block;
                position: relative;
                white-space: nowrap;
                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  height: 2px;
                  background: #eee;
                  transition: 0.3s;
                }
              }
              .txt {
                display: none;
              }
            }
          }
        }
      }
    }
    .sect2 {
      width: 95%;
      margin: auto;
      .top {
        border-radius: 20px;
        background: #222;
        text-align: center;
        h3 {
          color: #fff;
        }
        p {
          color: #ddd;
        }
        a {
          background: #333;
          color: #ccc;
          display: inline-block;
          font-weight: 600;
          border-radius: 50px;
        }
      }
      .bottom {
        .item_txt {
          text-align: center;
          .title,
          .sub_txt {
            p {
              color: #fff;
            }
          }
          .title {
            font-weight: 600;
          }
        }
      }
    }
  }
  footer {
    display: none;
  }
}

// --------------------------------------------------------------------
// @media only screen and (max-width: 400px){
//   .introduce {
//     h2 {
//       font-size: 2.6rem;
//       line-height: 1.4;
//     }
//     p {
//       color: #ddd;
//       font-size: 1.2rem;
//       white-space: nowrap;
//     }
//     .visit {
//       padding: 20px 25px;
//       font-size: 1.6rem;
//     }
//   }
//   .sect2{
//     .app{
//       h3{
//         font-style: 2rem;
//       }
//       p{
//         br{
//           display: none;
//         }
//       }
//     }

//   }
// }
// --------------------------------------------------------------------
@media only screen and (max-width: 600px) {
  header {
    border: 1px solid #96db15;
    padding: 20px 40px;
    transition: 0.5s;
    .inner {
      width: 90%;
      height: 100%;
      margin: auto;
      @include flex-sb;

      h1 {
        display: none;
        width: 20%;
        height: 100%;
        img {
          height: 100%;
        }
      }
      nav {
        width: 50%;
        display: none;
        ul {
          li {
            flex: 1;
            text-align: center;
            a {
              color: #fff;
            }
          }
        }
      }
      .right-menu {
        width: 20%;
        ul {
          gap: 20px;
          justify-content: flex-end;
          li {
            a {
              color: #fff;
              i {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  header.scrolled {
    background-color: rgba(255, 255, 255); /* 스크롤 후 변경된 배경색 */
    border-bottom: 1px solid #e4e4e4;
  }
  header.scrolled nav ul li a {
    color: black; /* 스크롤 후 변경된 nav 링크 색상 */
  }
  header.scrolled .right-menu ul li a {
    color: black; /* 스크롤 후 변경된 nav 링크 색상 */
  }
  header.scrolled .right-menu ul li a i {
    color: black; /* 스크롤 후 변경된 nav 링크 색상 */
  }

  .wrap {
    .bg_img {
      background: url(../imgs/서울시립미술관.jpg) top 50% center
        no-repeat;
      background-size: cover;
      height: 100vh;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-image: linear-gradient(
          to top,
          #11110f 0%,
          rgba(17, 16, 17, 0) 80%
        );
        z-index: 0;
        pointer-events: none;
      }
      .introduce {
        width: 95%;
        padding: 150px 20px 0;
        gap: 3rem;
        text-align: center;
        h2 {
          font-size: 7vw;
          // font-size: clamp(2rem, 6vw, 2.8rem);
          line-height: 1.4;
        }
        .txt {
          p {
            font-size: clamp(1.4rem, 1vw, 1.6rem);
            border: 1px solid #000;
            word-break: keep-all;
            br{
              display: none;
            }
          }
          .visit {
            padding: 20px 25px;
            font-size: 1.6rem;
          }
        }
      }
    }
    .animate {
      .title {
        h2 {
          transform: translateX(0);
          transition: 0.5s ease;
        }
        p {
          // opacity: 1;
          &:nth-child(1) {
            transform: translateX(0);
            transition: 0.5s ease-out;
            transition-delay: 0.1s;
          }
          &:nth-child(2) {
            transform: translateX(0);
            transition: 0.5s ease;
            transition-delay: 0.2s;
          }
          &.artist {
            transform: translateX(0);
            transition: 0.5s ease-out;
            transition-delay: 0.25s;
          }
        }
      }
    }
    h3 {
      font-size: 2.4rem;
      padding-bottom: 20px;
    }
    .sect1 {
      padding: 80px 20px 60px;
      article {
        &.art1 {
          margin-bottom: 60px;
          .more {
            padding-bottom: 0;
            a.btn {
              display: flex;
              align-items: center;
              p {
                font-size: 1.6rem;
                font-weight: 400;
              }
              .right {
                width: 20px;
                height: 20px;
                border-radius: 99px;
                @include flex-c;
                margin-left: 10px;
                p {
                  color: var(--gray3);
                  font-size: 12px;
                  font-weight: 800;
                }
              }
            }
          }

          .swiper {
            .swiper-wrapper {
              .swiper-slide {
                .txt {
                  padding: 0 5px;
                  .title {
                    font-size: 2rem;
                    font-weight: 400;
                  }
                  .sub_txt {
                    p {
                      font-size: 1.6rem;
                    }
                  }
                }
              }
            }
            .swiper-scrollbar {
              width: 24%;
              margin: 0;
              left: 0;
              position: relative;
              margin-top: 40px;
              margin-bottom: 40px;
            }
            .btn_box {
              border: 1px solid #000;
              width: 100px;
              height: 50px;
              position: absolute;
              bottom: 24px;
              // left: 50%;
              right: 0;
              z-index: 100;
              > div {
                // border: 1px solid #000;
                cursor: pointer;
                width: 30px;
                height: 30px;
                padding: 10px;
                color: #333;
              }
            }

            .item {
              display: none;
              .art_img {
                border: 1px solid #000;

                border-radius: 20px;
                overflow: hidden;
                width: 100%;
              }
              &.item4 {
                display: block;
              }
            }
          }
        }
        &.art2 {
          .collections {
            padding-bottom: 40px;
            .left,
            .right {
              a {
                p {
                  left: 20px;
                  bottom: 15px;
                  font-size: 2rem;
                }
              }
            }
            .left {
              height: 200px;
              a {
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-image: linear-gradient(
                    to top,
                    #1111119e 0%,
                    #11111100 90%
                  );
                  opacity: 0.9;
                }
                .img_box {
                  height: 100%;
                  @include flex();
                }
              }
            }
            .grid {
              grid-template-columns: repeat(2, 1fr);
              a {
                height: 150px;
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-image: linear-gradient(
                    to top,
                    #1111119e 0%,
                    #11111100 90%
                  );
                  opacity: 0.9;
                }
                .img_box {
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
          ul {
            flex-wrap: wrap;
            // flex-direction: column;
            gap: 8px;
            li {
              width: 40%;
              a {
                .link {
                  font-size: 2rem;
                  padding-bottom: 20px;
                  padding-top: 20px;
                  display: block;
                  white-space: nowrap;
                  &::after {
                    width: 100%;
                  }
                }
                .txt {
                  display: none;
                }
              }
            }
          }
        }
      }

      // ----------------------------------------------
      // footer
      footer {
        padding: 0 40px;
        .f-top {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 24px;
          .f-logo {
            width: 100%;
            // padding-bottom: 24px;

            img {
              width: 60%;
              margin-bottom: 15px;
            }
            li {
              font-weight: 500;
              a {
                font-weight: 800;
              }
            }
          }
          .f-logo > ul {
            border-top: none;
          }
          ul {
            border-top: 1px solid var(--gray3);
            padding: 20px 0;
            li {
              font-weight: 900;
              font-size: 16px;
              color: var(--gray3);
            }
          }
          .f-information {
            border-bottom: 1px solid var(--gray3);
          }
          .family {
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid var(--gray3);
            p {
              margin-bottom: 10px;
              font-weight: 800;
            }
            select {
              width: 100%;
              height: 40px;
              padding: 10px;
            }
          }
        }
        .f-btn {
          display: flex;
          flex-direction: column-reverse;

          p {
            color: var(--gray2);
            width: 100%;
            text-align: center;
            // border-top: 1px solid #000;
            padding: 24px 0 60px;
          }
          .sns {
            width: 100%;
            padding-bottom: 24px;
            border-bottom: 1px solid var(--gray3);

            ul {
              margin: auto;
              width: 80%;
              gap: 20px;
              li {
                flex: 1;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .sect2 {
      padding-top: 10px;
      padding-bottom: 60px;
      .top {
        margin-bottom: 60px;
        padding: 60px 0;
        .app {
          h3 {
            padding-bottom: 20px;
            font-size: 2.4rem;
            br {
              display: block;
            }
          }
          p {
            font-size: 1.2rem;
            padding-bottom: 40px;
          }
          a {
            font-size: 1.6rem;
            padding: 15px 40px;
          }
        }
        .q {
          display: none;
          p {
            color: #fff;
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid #666;
              a {
                display: inline-block;
                padding: 20px 0;
                color: #fff;
                font-size: 2rem;
                line-height: 1.4;
                // letter-spacing: -1.2;
              }
              &:nth-child(1) {
                border-top: 1px solid #666;
              }
            }
          }
        }
      }
      .bottom {
        a.item {
          border-right: 1px solid #999;
          display: block;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              p,
              i {
                color: #fff;
                font-size: 2rem;
                letter-spacing: 1;
                width: 100%;
              }
              i {
                display: none;
              }
            }
            .sub_txt {
              display: none;
            }
          }
        }
      }
    }
  }
}
// --------------------------------------------------------------------
@media only screen and (min-width: 601px) {
  header {
    height: 120px;
    transition: 0.5s;
    background: #fff;
    padding: 0 20px;
    .inner {
      width: 95%;
      height: 100%;
      margin: auto;
      @include flex(space-between);
      h1 {
        width: 15%;
        // border: 1px solid #f00;
        img {
          width: 100%;
        }
      }
      nav {
        width: 70%;
        > ul {
          @include flex();
          gap: 10px;
          li.main-menu {
            text-align: center;
            position: relative;
            &:hover > a {
              &::before {
                opacity: 1;
                transition: opacity 0.3s ease;
              }
            }
            > a {
              color: #333;
              display: block;
              width: 100%;
              padding: 10px;
              font-size: 1.6rem;
              font-weight: 600;
              position: relative;
              &::before {
                content: "";
                width: 100%;
                height: 2px;
                background: #333;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                opacity: 0;
                transition: opacity 0.5s ease;
              }
            }
            ul.sub-menu {
              width: 100%;
              position: absolute;
              left: 0;
              top: 65px;
              display: none;
              li {
                > a {
                  display: block;
                  color: #fff;
                  padding: 6px;
                  font-size: 16px;
                  border: 1px solid #828080;
                  &:hover {
                    color: #000;
                    &::before {
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 200px;
                      background: #fff;
                      z-index: -1;
                    }
                  }
                }
              }
            }
          }
        }
        // 음 메인메뉴 안에 넣으면 안되는지 이해가 잘....
      }
      .right-menu {
        width: 15%;
        ul {
          @include flex(flex-end);
          gap: 10px;
          li {
            a {
              color: #666;
              background: #ddd;
              font-size: 1.6rem;
              font-weight: 600;
              display: inline-block;
              padding: 5px 15px;
              border-radius: 20px;
              i {
                color: #333;
              }
            }
          }
        }
      }
    }
    .scrolled {
      background-color: rgba(255, 255, 255);
      border-bottom: 1px solid #e4e4e4;
      nav {
        > ul li.main-menu a {
          color: black;
        }
      }
    }
  }
  header.scrolled .right-menu ul li a {
    color: black;
  }
  header.scrolled .right-menu ul li a i {
    color: black;
  }

  .wrap {
    h3 {
      font-size: 3rem;
      padding-bottom: 40px;
    }
    .bg_img {
      .introduce {
        gap: 300px;
        h2 {
          font-size: 5rem;
        }
        .txt {
          p {
            font-size: 2rem;
          }
          .visit {
            font-size: 2rem;
          }
        }
      }
    }
    .sect1 {
      margin: -80px auto 0;
      padding: 120px 20px;
      article {
        &.art1 {
          .more {
            @include flex(space-between);
            a.btn {
              display: flex;
              align-items: center;
              p {
                font-size: 1.6rem;
                font-weight: 400;
              }
              .right {
                width: 20px;
                height: 20px;
                border-radius: 99px;
                @include flex-c;
                margin-left: 10px;
                p {
                  color: var(--gray3);
                  font-size: 12px;
                  font-weight: 800;
                }
              }
            }
          }

          .swiper {
            .swiper-wrapper {
              .swiper-slide {
                .txt {
                  padding: 0 5px;
                  .title {
                    font-size: 2.4rem;
                    line-height: 1.3;
                    margin-top: 10px;
                  }
                  .sub_txt {
                    margin-top: 10px;
                    color: #666;
                    p {
                      font-size: 2rem;
                    }
                  }
                }
              }
            }
            .swiper-scrollbar {
              width: 24%;
              margin: 0;
              left: 0;
              position: relative;
              margin-top: 60px;
              margin-bottom: 40px;
            }
            .btn_box {
              width: 130px;
              height: 50px;
              position: absolute;
              bottom: 24px;
              // left: 50%;
              right: 0;
              z-index: 100;
              > div {
                // border: 1px solid #000;
                cursor: pointer;
                width: 50px;
                height: 50px;
                padding: 10px;
                color: #333;
              }
            }

            .item {
              display: none;
              .art_img {
                border: 1px solid #000;

                border-radius: 20px;
                overflow: hidden;
                width: 100%;
              }
              &.item4 {
                display: block;
              }
            }
          }
        }
        &.art2 {
          margin-top: 160px;
          .collections {
            gap: 4px;
            width: 100%;
            padding-bottom: 100px;
            .left,
            .right {
              a {
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 90%;
                  background-image: linear-gradient(
                    to top,
                    #1111119e 0%,
                    #11111100 40%
                  );
                  opacity: 0.6;
                  transition: 0.3s ease;
                }
                p {
                  position: absolute;
                  left: 30px;
                  bottom: 25px;
                  color: #fff;
                  font-size: 2.4rem;
                  font-weight: 600;
                  z-index: 1;
                }
              }
            }
            .left {
              border-radius: 20px;
              overflow: hidden;
              height: 360px;
              a {
                .img_box {
                  height: 100%;
                  @include flex();
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 90%;
                    background-image: linear-gradient(
                      to top,
                      #1111119e 0%,
                      #11111100 40%
                    );
                    opacity: 0.6;
                    transition: 0.3s ease;
                  }
                  img {
                    transform: scale(1);
                    transition: 0.3s ease;
                    min-height: 600px;
                  }
                }
                &:hover {
                  .img_box::after {
                    opacity: 1;
                  }
                  img {
                    transform: scale(1.05);
                  }
                }
              }
            }
            .grid {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 4px;
              margin-top: 4px;
              a {
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 90%;
                  background-image: linear-gradient(
                    to top,
                    #1111119e 0%,
                    #11111100 40%
                  );
                  opacity: 0.5;
                  transition: 0.3s ease;
                }
                .img_box {
                  @include flex();
                  width: 100%;
                  height: 100%;
                  img {
                    transform: scale(1);
                    transition: 0.3s ease;
                  }
                }
                &:nth-child(3) {
                  .img_box {
                    align-items: start;
                  }
                }
                &:hover {
                  &::after {
                    opacity: 0.8;
                  }
                  img {
                    transform: scale(1.1);
                  }
                }
              }
            }
          }
          ul {
            display: flex;
            gap: 8px;
            li {
              width: 25%;
              a {
                .link {
                  font-size: 2rem;
                  font-weight: 600;
                  padding-bottom: 20px;
                  display: block;
                  position: relative;
                  white-space: nowrap;
                  &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: #eee;
                    transition: 0.3s;
                  }
                }
                .txt {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .sect2 {
      width: 95%;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 60px;
      .top {
        margin-bottom: 120px;
        padding: 60px 0;
        .app {
          h3 {
            padding-bottom: 20px;
            font-size: 3rem;
            br {
              display: none;
            }
          }
          p {
            font-size: 1.6rem;
            padding-bottom: 40px;
          }
          a {
            font-size: 2rem;
            padding: 20px 60px;
          }
        }
        .q {
          display: none;
          p {
            color: #fff;
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid #666;
              a {
                display: inline-block;
                padding: 20px 0;
                color: #fff;
                font-size: 2rem;
                line-height: 1.4;
                // letter-spacing: -1.2;
              }
              &:nth-child(1) {
                border-top: 1px solid #666;
              }
            }
          }
        }
      }
      .bottom {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        a.item {
          border-right: 1px solid #999;
          display: inline-block;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              p,
              i {
                color: #fff;
                font-size: 2rem;
                letter-spacing: 1;
                width: 100%;
              }
              i {
                display: none;
              }
            }
            .sub_txt {
              display: none;
            }
          }
        }
      }
    }
    footer {
      .f-top {
        justify-content: space-between;
        margin-bottom: 60px;
        display: flex;

        padding: 0 40px;
        .f-logo {
          width: 50%;
          img {
            width: 50%;
            margin-bottom: 30px;
          }
          ul {
            li {
              font-weight: 500;
              font-size: 16px;
              color: var(--gray3);
              a {
                font-weight: 800;
                padding-left: 5px;
              }
            }
          }
        }
        ul.f-menu,
        ul.f-information {
          li {
            line-height: 40px;
            font-weight: 800;
            font-size: 16px;
          }
        }

        .family {
          width: 20%;
          p {
            margin-bottom: 10px;
            font-weight: 800;
          }
          select {
            width: 100%;
            height: 40px;
            padding: 10px;
          }
        }
      }
      .line {
        border-top: 1px solid #bcbcbc;
        padding-bottom: 20px;
      }
      .f-btn {
        // padding-top: 20px;
        display: flex;

        padding: 0 40px 60px;
        /* 혹시나 모바일의 영향이 있을까하는.... */
        justify-content: space-between;
        align-self: center;

        p {
          color: var(--gray2);
        }
        .sns {
          width: 25%;
          ul {
            width: 100%;
            gap: 20px;
            li {
              flex: 1;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .animate {
    .title {
      h2 {
        transform: translateX(0);
        transition: 0.5s ease;
      }
      p {
        // opacity: 1;
        &:nth-child(1) {
          transform: translateX(0);
          transition: 0.5s ease-out;
          transition-delay: 0.1s;
        }
        &:nth-child(2) {
          transform: translateX(0);
          transition: 0.5s ease;
          transition-delay: 0.2s;
        }
        &.artist {
          transform: translateX(0);
          transition: 0.5s ease-out;
          transition-delay: 0.25s;
        }
      }
    }
  }
}
// --------------------------------------------------------------------
@media only screen and (min-width: 900px) {
  .wrap {
    .bg_img {
      .introduce {
        .txt {
          p {
            br.welBr {
              display: none;
            }
          }
        }
      }
    }
    .sect1 {
      article {
        &.art2 {
          margin-top: 160px;
          .collections {
            display: block;
            .left,
            .right {
              a {
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                p {
                  position: absolute;
                  left: 30px;
                  bottom: 25px;
                  color: #fff;
                  font-size: 2.4rem;
                  font-weight: 600;
                  z-index: 1;
                }
              }
            }
            .left {
              width: 100%;
              height: 400px;
              a {
                height: 100%;
                .img_box {
                  img {
                    width: 100%;
                  }
                }
              }
            }
            .grid {
              width: 100%;
              height: 220px;
              grid-template-columns: repeat(4, 1fr);
              a {
                .img_box {
                  img {
                    width: 100%;
                    min-height: 100%;
                  }
                }
                &:nth-child(3) {
                  .img_box {
                    align-items: start;
                  }
                }
              }
            }
          }
          ul {
            display: flex;
            gap: 8px;
            li {
              width: 25%;
              a {
                .link {
                  font-size: 2.4rem;
                  margin-bottom: 20px;
                  &::after {
                    width: 10%;
                    background: #ddd;
                  }
                }
                .txt {
                  font-size: 1.6rem;
                  display: block;
                  br {
                    display: block;
                    &.coral {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

      // ----------------------------------------------
      // footer
      footer {
        .f-top {
          justify-content: space-between;
          margin-bottom: 60px;
          display: flex;

          padding: 0 40px;
          .f-logo {
            width: 50%;
            img {
              width: 50%;
              margin-bottom: 30px;
            }
            ul {
              li {
                font-weight: 500;
                font-size: 16px;
                color: var(--gray3);
                a {
                  font-weight: 800;
                  padding-left: 5px;
                }
              }
            }
          }
          ul.f-menu,
          ul.f-information {
            li {
              line-height: 40px;
              font-weight: 800;
              font-size: 16px;
            }
          }

          .family {
            width: 20%;
            p {
              margin-bottom: 10px;
              font-weight: 800;
            }
            select {
              width: 100%;
              height: 40px;
              padding: 10px;
            }
          }
        }
        .line {
          border-top: 1px solid #bcbcbc;
          padding-bottom: 20px;
        }
        .f-btn {
          // padding-top: 20px;
          display: flex;

          padding: 0 40px 60px;
          /* 혹시나 모바일의 영향이 있을까하는.... */
          justify-content: space-between;
          align-self: center;

          p {
            color: var(--gray2);
          }
          .sns {
            width: 25%;
            ul {
              width: 100%;
              gap: 20px;
              li {
                flex: 1;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .sect2 {
      .top {
        padding: 80px 0;
        .app {
          h3 {
            padding-bottom: 20px;
            font-size: 4rem;
            br {
              display: none;
            }
          }
          p {
            font-size: 2rem;
            br.appBr {
              display: none;
            }
          }
        }
        .q {
          display: none;
          p {
            color: #fff;
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid #666;
              a {
                display: inline-block;
                padding: 20px 0;
                color: #fff;
                font-size: 2rem;
                line-height: 1.4;
                // letter-spacing: -1.2;
              }
              &:nth-child(1) {
                border-top: 1px solid #666;
              }
            }
          }
        }
      }
      .bottom {
        a.item {
          padding-right: 20px;
          padding-left: 20px;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              padding-bottom: 10px;
              p,
              i {
                color: #fff;
                font-size: 2.4rem;
                letter-spacing: 1;
              }
              i {
                display: none;
              }
            }
            .sub_txt {
              display: block;
              color: #ddd;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
// --------------------------------------------------------------------
@media only screen and (min-width: 1200px) {
  header {
    .inner {
      max-width: 1600px;
      nav {
        > ul {
          gap: 40px;
          li.main-menu {
            > a {
              padding: 10px;
              font-size: 2rem;
            }
            ul.sub-menu {
              width: 100%;
              position: absolute;
              left: 0;
              top: 65px;
              display: none;
              li {
                > a {
                  display: block;
                  color: #fff;
                  padding: 6px;
                  font-size: 16px;
                  border: 1px solid #828080;
                  &:hover {
                    color: #000;
                    &::before {
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 200px;
                      background: #fff;
                      z-index: -1;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .right-menu {
        ul {
          gap: 10px;
          li {
            a {
              padding: 10px 20px;
            }
          }
        }
      }
    }
    .scrolled {
      background-color: rgba(255, 255, 255);
      border-bottom: 1px solid #e4e4e4;
      nav {
        > ul li.main-menu a {
          color: black;
        }
      }
    }
  }
  .wrap {
    h3 {
      font-size: 4rem;
      padding-bottom: 60px;
    }
    .bg_img {
      background-size: 100%;
      .introduce {
        width: 1700px;
        padding: 0 50px;
        padding-top: 200px;
        margin: auto; //?? 왜 탑 200은 안되는 거?

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        gap: 300px;
        border: 1px solid #f00;

        position: relative;
        z-index: 1;
        h2 {
          font-size: 5rem;
          line-height: 1.4;
        }
        .txt {
          p {
            color: #ddd;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.6;
          }
          .visit {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            display: inline-block;
            padding: 20px 25px;
            margin-top: 40px;
            border: 1px solid #fff;
            border-radius: 50px;
            &:hover {
              background: #fff;
              color: #333;
            }
          }
        }
      }
    }
    // section{}
    .sect1 {
      max-width: 1700px;
      padding: 150px 50px;
      article {
        &.art1 {
          .more {
            a.btn {
              .right {
                p {
                  color: var(--gray3);
                  font-size: 12px;
                  font-weight: 800;
                }
              }
            }
          }

          .swiper {
            .swiper-scrollbar {
              width: 24%;
            }

            .item {
              display: none;
              .art_img {
                border: 1px solid #000;

                border-radius: 20px;
                overflow: hidden;
                width: 100%;
              }
              &.item4 {
                display: block;
              }
            }
          }
        }
        &.art2 {
          margin-top: 160px;
          .collections {
            height: 700px;
            display: flex;
            flex-direction: row;
            gap: 4px;
            width: 100%;
            padding-bottom: 100px;
            .left,
            .right {
              width: 50%;
              a {
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                p {
                  position: absolute;
                  left: 30px;
                  bottom: 25px;
                  color: #fff;
                  font-size: 2.4rem;
                  font-weight: 600;
                  z-index: 1;
                }
              }
            }
            .left {
              height: 100%;
            }
            .grid {
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(2, 1fr);
              margin: 0;
              height: auto;
              a {
                .img_box {
                  img {
                    min-height: 300px;
                  }
                }
              }
            }
          }
          ul {
            li {
              width: 25%;
              a {
                .txt {
                  font-size: 2rem;
                  br.coral {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
    .sect2 {
      .top {
        .app {
          h3 {
            padding-bottom: 20px;
            br {
              display: none;
            }
          }
          p {
            font-size: 2rem;
          }
          a {
            font-size: 2rem;
          }
        }
        .q {
          display: none;
          p {
            color: #fff;
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid #666;
              a {
                display: inline-block;
                padding: 20px 0;
                color: #fff;
                font-size: 2rem;
                line-height: 1.4;
                // letter-spacing: -1.2;
              }
              &:nth-child(1) {
                border-top: 1px solid #666;
              }
            }
          }
        }
      }
      .bottom {
        a.item {
          padding-right: 20px;
          padding-left: 20px;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              @include flex(space-between);
              padding-bottom: 10px;
              p,
              i {
                font-size: 2.4rem;
                letter-spacing: 1;
              }
              i {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  footer {
    .f-top {
      justify-content: space-between;
      margin-bottom: 60px;
      display: flex;

      padding: 0 60px;
      .f-logo {
        width: 50%;
        img {
          width: 50%;
          margin-bottom: 30px;
        }
      }

      .family {
        width: 20%;
        p {
          margin-bottom: 10px;
        }
        select {
          width: 100%;
          height: 40px;
          padding: 10px;
        }
      }
    }
    .line {
      border-top: 1px solid #bcbcbc;
      padding-bottom: 20px;
    }
    .f-btn {
      // padding-top: 20px;
      display: flex;

      padding: 0 60px 60px;
      /* 혹시나 모바일의 영향이 있을까하는.... */
      justify-content: space-between;
      align-self: center;

      p {
        color: var(--gray3);
      }
      .sns {
        width: 25%;
        ul {
          width: 100%;
          gap: 20px;
          li {
            flex: 1;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
