@mixin flex($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin po-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html,
body {
  background: #111;
  font-size: 10px;
  color: #333;
  position: relative;
  a {
    color: inherit;
    cursor: pointer;
  }
  .wrap {
    background: #111;
    .bg_img {
      background: url("../imgs/서울시립미술관.jpg") top 50% center
        no-repeat;
      background-size: cover;
      height: 100vh;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-image: linear-gradient(
          to top,
          #11110f 0%,
          rgba(17, 16, 17, 0) 80%
        );
        z-index: 0;
        pointer-events: none;
      }
      .introduce {
        margin: auto;
        height: 86%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        z-index: 1;
        h2 {
          line-height: 1.4;
        }
        .txt {
          > p {
            color: #ddd;
            line-height: 1.6;
            font-weight: 400;
            margin-bottom: 40px;
          }
          .bottom {
            @include flex(space-between);
            .visit {
              color: #fff;
              font-weight: 600;
              display: inline-block;
              padding: 20px 25px;
              border: 1px solid #fff;
              border-radius: 50px;
              &:hover {
                background: #fff;
                color: #333;
              }
            }
            .status {
              display: inline-block;
              color: #fff;
              text-align: center;
              font-weight: 600;
              i {
                padding-right: 6px;
                color: #fff;
              }
              span {
                font-weight: 600;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .sect1 {
      width: 95%;
      background: #fff;
      position: relative;
      z-index: 99;
      border-radius: 20px;
      .art1 {
        .more {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          .btn {
            display: flex;
            align-items: center;
            p {
              color: var(--gray3);
            }
            .right {
              width: 20px;
              height: 20px;
              border-radius: 99px;
              // background: #000;
              border: 1px solid #000;
              @include flex-c;
              margin-left: 10px;
              p {
                color: #333;
                font-size: 12px;
                font-weight: 800;
              }
            }
          }
        }
        .swiper {
          width: 100%;
          height: 100%;
          .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              width: 100%;
              .img_box {
                overflow: hidden;
                border-radius: 20px;
                position: relative;
                &::after {
                  display: none;
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 50%;
                  background: linear-gradient(
                    to top,
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0)
                  );
                  pointer-events: none;
                }
                img {
                  display: block;
                  width: 100%;
                  object-fit: cover;
                }
              }
              .txt {
                .title {
                  font-weight: 500;
                }
              }
            }
          }
          .pagination_area {
            position: relative;
            padding: 40px;
            display: flex;
            border: 1px solid #000;
            .swiper-pagination {
              position: absolute;
              top: 50%;
              transform: translateY(50%);
              left: 0;
              border-radius: 20px;
              overflow: hidden;
              span {
                border-radius: 20px;
                overflow: hidden;
                background: #111;
              }
            }
          }
        }
      }
      .art2 {
        .collections {
          .left,
          .right {
            a {
              border-radius: 20px;
              overflow: hidden;
              position: relative;
              p {
                position: absolute;
                left: 30px;
                bottom: 25px;
                color: #fff;
                font-size: 2.4rem;
                font-weight: 600;
                z-index: 1;
              }
            }
          }
          .left {
            border-radius: 20px;
            overflow: hidden;
            height: 360px;
            a {
              .img_box {
                height: 100%;
                @include flex();
                position: relative;
                img {
                  width: 100%;
                  transform: scale(1);
                  transition: 0.3s ease;
                  min-height: 600px;
                }
              }
              &:hover {
                .img_box::after {
                  opacity: 1;
                }
                img {
                  transform: scale(1.05);
                }
              }
            }
          }
          .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4px;
            margin-top: 4px;
            a {
              .img_box {
                @include flex();
                width: 100%;
                height: 100%;
                img {
                  transform: scale(1);
                  transition: 0.3s ease;
                }
              }
              &:nth-child(3) {
                .img_box {
                  align-items: start;
                }
              }
              &:hover {
                &::after {
                  opacity: 0.8;
                }
                img {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
        ul {
          display: flex;
          gap: 8px;
          li {
            width: 25%;
            a {
              // border: 1px solid #000;
              .link {
                font-size: 2rem;
                font-weight: 600;
                padding-bottom: 20px;
                display: block;
                position: relative;
                white-space: nowrap;
                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  height: 2px;
                  background: #eee;
                  transition: 0.3s;
                }
              }
              .txt {
                display: none;
              }
            }
          }
        }
      }
    }
    .sect2 {
      width: 95%;
      margin: auto;
      .top {
        border-radius: 20px;
        background: #222;
        text-align: center;
        h3 {
          color: #fff;
        }
        p {
          color: #ddd;
        }
        a {
          background: #444;
          color: #eee;
          display: inline-block;
          font-weight: 600;
          border-radius: 50px;
          transition: 0.2s;
          &:hover {
            background: #ddd;
            color: #333;
            transition: 0.5s;
          }
        }
      }
      .bottom {
        .item_txt {
          text-align: center;
          .title,
          .sub_txt {
            p {
              color: #fff;
            }
          }
          .title {
            font-weight: 600;
          }
        }
      }
    }
    footer {
      .f_top {
        .f_logo {
          li {
            color: #666;
            a {
              color: #ddd;
            }
          }
        }
        .site_map {
          .f_menu {
            li {
              line-height: 1;
              a {
                color: #ddd;
                font-weight: 600;
              }
            }
          }
          .exhibition,
          .collection,
          .visit {
            > a {
              display: inline-block;
              color: #ddd;
              font-weight: 600;
            }
            ul {
              li {
                a {
                  color: #999;
                  display: inline-block;
                  font-weight: 400;
                  position: relative;
                  &::before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background: #999;
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    opacity: 0;
                    transition: opacity 0.5s ease;
                  }
                  &:hover {
                    &::before {
                      opacity: 1;
                      transition: opacity 0.3s ease;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .f_bottom {
        margin: auto;
        @include flex(space-between);
        p {
          color: #999;
        }
        .f_information {
          display: flex;
          a {
            color: #ddd;
            font-weight: 500;
          }
        }
        .sns {
          ul {
            display: flex;
            li {
              img {
                width: 100%;
                filter: invert(1);
              }
            }
          }
        }
      }
    }
  }
}

// --------------------------------------------------------------------
// --------------------------------------------------------------------
@media only screen and (max-width: 600px) {
  header {
    border: 1px solid #96db15;
    padding: 20px 0px;
    transition: 0.5s;
    background: #fff;
    // position: fixed;
    position: relative;
    z-index: 999;
    .inner {
      width: 95%;
      height: 100%;
      margin: auto;
      @include flex-sb;
      h1 {
        width: 15%;
        height: 100%;
        img {
          height: 100%;
        }
      }
      nav {
        width: 50%;
        display: none;
        ul {
          li {
            flex: 1;
            text-align: center;
            a {
              color: #fff;
            }
          }
        }
      }
      .mobile_menu {
        height: 40px;
        width: 40px;
        padding: 4px;
        border: 1px solid #000;
        @include flex();
        position: relative;
        > a {
          width: 100%;
          height: 3px;
          background: #111;
          position: relative;
          span {
            display: none;
          }
          &.on {
            background: transparent;
            &::before {
              transform: rotate(45deg);
              top: 0;
            }
            &::after {
              transform: rotate(-45deg);
              bottom: 0;
            }
          }
          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background: #111;
            transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
          }
          &::before {
            top: -10px;
          }
          &::after {
            bottom: -10px;
            transform: rotate(0);
          }
        }
        ul.mobile_nav {
          position: fixed;
          right: 0;
          top: 0;
          z-index: 50;
          width: 100vw;
          height: 100vh;
          padding: 40px 20px;
          background: #fff;
          li.main-menu {
            > a {
              display: inline-block;
              font-size: 6vw;
              font-weight: 600;
              color: #333;
              padding: 20px 0;
            }
            ul.sub-menu {
              a {
                display: inline-block;
                font-size: 6vw;
                font-weight: 400;
                color: #999;
                padding: 10px 0;
                &:hover {
                  color: #333;
                }
              }
            }
          }
          .search {
            display: block;
            width: 100%;
            height: 60px;
            background: #eee;
            border-radius: 10px;
            font-size: 4vw;
            font-weight: 600;
            @include flex(space-between);
            overflow: hidden;
            margin-top: 20px;
            input {
              display: block;
              width: 85%;
              height: 60px;
              padding: 10px;
              background: #eee;
              border-radius: 10px;
              font-size: 4vw;
              font-weight: 600;
              color: #333;
              border: none;
              outline: none;
              &::placeholder {
                color: #999;
              }
            }
            .search_icon {
              padding: 10px;
              width: 15%;
              height: 100%;
              border: 1px solid #000;
              background: #000;
              position: relative;
              i {
                position: absolute;
                color: #fff;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          .login{
            @include flex(space-between);
            gap: 10px;
            margin-top: 10px;
            a{
              width: 100%;
              height: 60px;
              border: 1px solid #ddd;
              border-radius: 10px;
              font-size: 4vw;
              font-weight: 400;
              text-align: center;
              @include flex();
            }

          }
        }
      }
      .right-menu {
        display: none;
        width: 20%;
        ul {
          gap: 20px;
          justify-content: flex-end;
          li {
            a {
              color: #fff;
              i {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  header.scrolled {
    background-color: rgba(255, 255, 255); /* 스크롤 후 변경된 배경색 */
    border-bottom: 1px solid #e4e4e4;
  }
  header.scrolled nav ul li a {
    color: black; /* 스크롤 후 변경된 nav 링크 색상 */
  }
  header.scrolled .right-menu ul li a {
    color: black; /* 스크롤 후 변경된 nav 링크 색상 */
  }
  header.scrolled .right-menu ul li a i {
    color: black; /* 스크롤 후 변경된 nav 링크 색상 */
  }

  .wrap {
    .bg_img {
      background: url(../imgs/서울시립미술관.jpg) top 50% center
        no-repeat;
      background-size: cover;
      height: 100vh;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background-image: linear-gradient(
          to top,
          #11110f 0%,
          rgba(17, 16, 17, 0) 80%
        );
        z-index: 0;
        pointer-events: none;
      }
      .introduce {
        width: 95%;
        padding: 150px 20px 0;
        gap: 3rem;
        text-align: center;
        h2 {
          font-size: 7vw;
          // font-size: clamp(2rem, 6vw, 2.8rem);
          line-height: 1.4;
        }
        .txt {
          p {
            font-size: clamp(1.4rem, 1vw, 1.6rem);
            word-break: keep-all;
            margin-bottom: 20px;
            br {
              display: none;
            }
          }
          .bottom {
            flex-direction: column;
            background: transparent;
            .visit {
              padding: 20px 25px;
              font-size: 1.6rem;
            }
            .status {
              padding-top: 50px;
              font-size: 4vw;
            }
          }
        }
      }
    }
    .animate {
      .title {
        h2 {
          transform: translateX(0);
          transition: 0.5s ease;
        }
        p {
          // opacity: 1;
          &:nth-child(1) {
            transform: translateX(0);
            transition: 0.5s ease-out;
            transition-delay: 0.1s;
          }
          &:nth-child(2) {
            transform: translateX(0);
            transition: 0.5s ease;
            transition-delay: 0.2s;
          }
          &.artist {
            transform: translateX(0);
            transition: 0.5s ease-out;
            transition-delay: 0.25s;
          }
        }
      }
    }
    h3 {
      font-size: 6vw;
      padding-bottom: 20px;
    }
    .sect1 {
      padding: 80px 10px 60px;
      margin: -40px auto 0;
      article {
        &.art1 {
          margin-bottom: 60px;
          .more {
            padding-bottom: 0;
            a.btn {
              display: flex;
              align-items: center;
              p {
                font-size: 1.6rem;
                font-weight: 400;
              }
              .right {
                width: 20px;
                height: 20px;
                border-radius: 99px;
                @include flex-c;
                margin-left: 10px;
                p {
                  color: var(--gray3);
                  font-size: 12px;
                  font-weight: 800;
                }
              }
            }
          }

          .swiper {
            .swiper-wrapper {
              .swiper-slide {
                .txt {
                  padding: 0 5px;
                  .title {
                    font-size: 2rem;
                    font-weight: 400;
                  }
                  .sub_txt {
                    p {
                      font-size: 1.6rem;
                    }
                  }
                }
              }
            }
            .swiper-scrollbar {
              width: 24%;
              margin: 0;
              left: 0;
              position: relative;
              margin-top: 40px;
              margin-bottom: 40px;
            }
            .btn_box {
              border: 1px solid #000;
              width: 100px;
              height: 50px;
              position: absolute;
              bottom: 24px;
              // left: 50%;
              right: 0;
              z-index: 100;
              > div {
                // border: 1px solid #000;
                cursor: pointer;
                width: 30px;
                height: 30px;
                padding: 10px;
                color: #333;
              }
            }

            .item {
              display: none;
              .art_img {
                border: 1px solid #000;

                border-radius: 20px;
                overflow: hidden;
                width: 100%;
              }
              &.item4 {
                display: block;
              }
            }
          }
        }
        &.art2 {
          .collections {
            padding-bottom: 40px;
            .left,
            .right {
              a {
                p {
                  left: 15px;
                  bottom: 10px;
                  font-size: 5vw;
                  // font-size: clamp(2rem, 4vw, 2.2rem);
                }
              }
            }
            .left {
              height: 200px;
              a {
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-image: linear-gradient(
                    to top,
                    #1111119e 0%,
                    #11111100 90%
                  );
                  opacity: 0.9;
                }
                .img_box {
                  height: 100%;
                  @include flex();
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }
            }
            .grid {
              grid-template-columns: repeat(2, 1fr);
              a {
                height: 150px;
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-image: linear-gradient(
                    to top,
                    #1111119e 0%,
                    #11111100 90%
                  );
                  opacity: 0.9;
                }
                .img_box {
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }
            }
          }
          ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4px;
            li {
              width: 100%;
              a {
                display: block;
                .link {
                  width: 100%;
                  font-size: 5vw;
                  padding-bottom: 10px;
                  &::after {
                    width: 100%;
                    display: none;
                  }
                }
                .txt {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .sect2 {
      padding-top: 10px;
      padding-bottom: 60px;
      .top {
        margin-bottom: 60px;
        padding: 40px 10px;
        .app {
          h3 {
            padding-bottom: 20px;
            font-size: 6vw;
            line-height: 1.4;
            br {
              display: block;
            }
          }
          p {
            font-size: 4vw;
            padding-bottom: 40px;
            word-break: keep-all;
            br {
              display: none;
            }
          }
          a {
            font-size: 1.6rem;
            padding: 15px 40px;
          }
        }
        .q {
          display: none;
          p {
            color: #fff;
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid #666;
              a {
                display: inline-block;
                padding: 20px 0;
                color: #fff;
                font-size: 2rem;
                line-height: 1.4;
                // letter-spacing: -1.2;
              }
              &:nth-child(1) {
                border-top: 1px solid #666;
              }
            }
          }
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        a.item {
          border-right: 1px solid #999;
          display: block;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              p,
              i {
                color: #fff;
                // font-size: 4vw;
                letter-spacing: 1;
                width: 100%;
              }
              i {
                display: none;
              }
            }
            .sub_txt {
              display: none;
            }
          }
        }
      }
    }
  }
  // ----------------------------------------------
  // footer
  footer {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    padding: 0 10px;
    .f_top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      .f_logo {
        width: 100%;
        margin-bottom: 24px;
        padding-bottom: 30px;
        border-bottom: 1px solid #333;
        img {
          width: 60%;
          margin-bottom: 15px;
        }
        ul {
          // border-top: none;
          li {
            font-weight: 500;
            font-size: 4vw;
            margin-bottom: 6px;
            a {
              font-weight: 800;
              margin-left: 5px;
            }
          }
        }
      }
      .site_map {
        a {
          font-size: 4vw;
        }
        ul {
          padding-top: 10px;
          margin-bottom: 40px;
          padding-bottom: 20px;
          border-bottom: 1px solid #333;
          li {
            font-weight: 900;
            margin-bottom: 10px;
          }
        }
        .visit {
          ul {
            margin-bottom: 0;
          }
        }
      }
      .f_information {
        border-bottom: 1px solid var(--gray3);
      }
      .family {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid var(--gray3);
        p {
          margin-bottom: 10px;
          font-weight: 800;
        }
        select {
          width: 100%;
          height: 40px;
          padding: 10px;
        }
      }
    }
    .line {
      margin: 0;
    }
    .f_bottom {
      display: flex;
      flex-direction: column-reverse;
      p {
        color: var(--gray2);
        width: 100%;
        text-align: center;
        // border-top: 1px solid #000;
        padding: 24px 0 60px;
      }
      .sns {
        width: 100%;
        padding-bottom: 24px;
        border-bottom: 1px solid #333;
        margin-top: 20px;
        ul {
          margin: auto;
          width: 80%;
          gap: 20px;
          li {
            flex: 1;
            img {
              width: 100%;
            }
          }
        }
      }
      .left {
        margin-top: 20px;
        width: 100%;
        .f_information {
          justify-content: space-between;
          font-size: 3vw;
        }
        p {
          padding: 10px 0 40px;
        }
      }
    }
  }
}
// --------------------------------------------------------------------
@media only screen and (min-width: 601px) {
  header {
    height: 120px;
    transition: 0.5s;
    background: #fff;
    padding: 40px 20px;
    // border: 1px solid #000;
    .inner {
      width: 95%;
      height: 100%;
      margin: auto;
      @include flex(space-between);
      h1 {
        width: 15%;
        height: 40px;
        // border: 1px solid #f00;
        position: relative;
        a {
          // position: absolute;
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      nav {
        width: 70%;
        > ul {
          @include flex();
          gap: 10px;
          li.main-menu {
            text-align: center;
            position: relative;
            &:hover > a {
              &::before {
                opacity: 1;
                transition: opacity 0.3s ease;
              }
            }
            > a {
              color: #333;
              display: block;
              width: 100%;
              padding: 10px;
              font-size: 1.6rem;
              font-weight: 600;
              position: relative;
              &::before {
                content: "";
                width: 100%;
                height: 2px;
                background: #333;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                opacity: 0;
                transition: opacity 0.5s ease;
              }
            }
            ul.sub-menu {
              width: 100%;
              position: absolute;
              left: 0;
              top: 65px;
              display: none;
              li {
                > a {
                  display: block;
                  color: #fff;
                  padding: 6px;
                  font-size: 16px;
                  border: 1px solid #828080;
                  &:hover {
                    color: #000;
                    &::before {
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 200px;
                      background: #fff;
                      z-index: -1;
                    }
                  }
                }
              }
            }
          }
        }
        // 음 메인메뉴 안에 넣으면 안되는지 이해가 잘....
      }
      .mobile_menu {
        display: none;
      }
      .right-menu {
        width: 15%;
        ul {
          @include flex(flex-end);
          gap: 10px;
          li {
            a {
              color: #666;
              background: #ddd;
              font-size: 1.6rem;
              font-weight: 600;
              display: inline-block;
              padding: 5px 15px;
              border-radius: 20px;
              i {
                color: #333;
              }
            }
          }
        }
      }
    }
    .scrolled {
      background-color: rgba(255, 255, 255);
      border-bottom: 1px solid #e4e4e4;
      nav {
        > ul li.main-menu a {
          color: black;
        }
      }
    }
  }
  header.scrolled .right-menu ul li a {
    color: black;
  }
  header.scrolled .right-menu ul li a i {
    color: black;
  }

  .wrap {
    h3 {
      font-size: 3rem;
      padding-bottom: 40px;
    }
    .bg_img {
      .introduce {
        width: 95%;
        padding: 200px 0 25px;
        gap: 300px;
        h2 {
          font-size: 5rem;
        }
        .txt {
          p {
            font-size: 2rem;
          }
          .bottom {
            .visit {
              font-size: 2rem;
            }
            .status {
              background: #111;
              padding: 20px 30px;
              font-size: 2.4rem;
              border-radius: 50px;
            }
          }
        }
      }
    }
    .sect1 {
      margin: -80px auto 0;
      padding: 120px 20px;
      article {
        &.art1 {
          .more {
            @include flex(space-between);
            a.btn {
              display: flex;
              align-items: center;
              p {
                font-size: 1.6rem;
                font-weight: 400;
              }
              .right {
                width: 20px;
                height: 20px;
                border-radius: 99px;
                @include flex-c;
                margin-left: 10px;
                p {
                  color: var(--gray3);
                  font-size: 12px;
                  font-weight: 800;
                }
              }
            }
          }

          .swiper {
            .swiper-wrapper {
              .swiper-slide {
                .txt {
                  padding: 0 5px;
                  .title {
                    font-size: 2.4rem;
                    line-height: 1.3;
                    margin-top: 10px;
                  }
                  .sub_txt {
                    margin-top: 10px;
                    color: #666;
                    p {
                      font-size: 2rem;
                    }
                  }
                }
              }
            }
            .pagination_area {
              .swiper-pagination {
                width: 49%;
              }
            }
            .btn_box {
              width: 130px;
              height: 50px;
              position: absolute;
              bottom: 24px;
              // left: 50%;
              right: 0;
              z-index: 100;
              > div {
                // border: 1px solid #000;
                cursor: pointer;
                width: 50px;
                height: 50px;
                padding: 10px;
                color: #333;
              }
            }

            .item {
              display: none;
              .art_img {
                border: 1px solid #000;

                border-radius: 20px;
                overflow: hidden;
                width: 100%;
              }
              &.item4 {
                display: block;
              }
            }
          }
        }
        &.art2 {
          margin-top: 160px;
          .collections {
            gap: 4px;
            width: 100%;
            padding-bottom: 100px;
            .left,
            .right {
              a {
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 90%;
                  background-image: linear-gradient(
                    to top,
                    #1111119e 0%,
                    #11111100 40%
                  );
                  opacity: 0.6;
                  transition: 0.3s ease;
                }
                p {
                  position: absolute;
                  left: 30px;
                  bottom: 25px;
                  color: #fff;
                  font-size: 2.4rem;
                  font-weight: 600;
                  z-index: 1;
                }
              }
            }
            .left {
              border-radius: 20px;
              overflow: hidden;
              height: 360px;
              a {
                .img_box {
                  height: 100%;
                  @include flex();
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 90%;
                    background-image: linear-gradient(
                      to top,
                      #1111119e 0%,
                      #11111100 40%
                    );
                    opacity: 0.6;
                    transition: 0.3s ease;
                  }
                  img {
                    transform: scale(1);
                    transition: 0.3s ease;
                    min-height: 600px;
                  }
                }
                &:hover {
                  .img_box::after {
                    opacity: 1;
                  }
                  img {
                    transform: scale(1.05);
                  }
                }
              }
            }
            .grid {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 4px;
              margin-top: 4px;
              a {
                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 90%;
                  background-image: linear-gradient(
                    to top,
                    #1111119e 0%,
                    #11111100 40%
                  );
                  opacity: 0.5;
                  transition: 0.3s ease;
                }
                .img_box {
                  @include flex();
                  width: 100%;
                  height: 100%;
                  img {
                    transform: scale(1);
                    transition: 0.3s ease;
                  }
                }
                &:nth-child(3) {
                  .img_box {
                    align-items: start;
                  }
                }
                &:hover {
                  &::after {
                    opacity: 0.8;
                  }
                  img {
                    transform: scale(1.1);
                  }
                }
              }
            }
          }
          ul {
            display: flex;
            gap: 8px;
            li {
              width: 25%;
              a {
                .link {
                  font-size: 2rem;
                  font-weight: 600;
                  padding-bottom: 20px;
                  display: block;
                  position: relative;
                  white-space: nowrap;
                  &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: #eee;
                    transition: 0.3s;
                  }
                }
                .txt {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .sect2 {
      width: 95%;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 60px;
      .top {
        margin-bottom: 120px;
        padding: 60px 0;
        .app {
          h3 {
            padding-bottom: 20px;
            font-size: 3rem;
            br {
              display: none;
            }
          }
          p {
            font-size: 1.6rem;
            padding-bottom: 40px;
          }
          a {
            font-size: 2rem;
            padding: 20px 60px;
          }
        }
        .q {
          display: none;
          p {
            color: #fff;
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid #666;
              a {
                display: inline-block;
                padding: 20px 0;
                color: #fff;
                font-size: 2rem;
                line-height: 1.4;
                // letter-spacing: -1.2;
              }
              &:nth-child(1) {
                border-top: 1px solid #666;
              }
            }
          }
        }
      }
      .bottom {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        a.item {
          border-right: 1px solid #999;
          display: inline-block;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              p,
              i {
                color: #fff;
                font-size: 2rem;
                letter-spacing: 1;
                width: 100%;
              }
              i {
                display: none;
              }
            }
            .sub_txt {
              display: none;
            }
          }
        }
      }
    }
    footer {
      margin-top: 100px;
      .f_top {
        width: 95%;
        margin: auto;
        margin-bottom: 60px;
        // border: 1px solid #0f0;
        .f_logo {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 60px;
          .img_box {
            width: 80%;
            img {
              width: 100%;
              margin-bottom: 30px;
            }
          }
          ul {
            li {
              font-weight: 500;
              font-size: 16px;
              color: var(--gray3);
              margin-bottom: 10px;
              a {
                font-weight: 800;
                padding-left: 5px;
              }
            }
          }
        }
        // .family {
        //   width: 20%;
        //   p {
        //     margin-bottom: 10px;
        //     font-weight: 800;
        //   }
        //   select {
        //     width: 100%;
        //     height: 40px;
        //     padding: 10px;
        //   }
        // }
        .site_map {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          .f_menu {
            li {
              margin-bottom: 20px;
              a {
                font-size: 2rem;
              }
            }
          }
          .exhibition,
          .collection,
          .visit {
            > a {
              font-size: 2.4rem;
              margin-bottom: 20px;
            }
            ul {
              li {
                a {
                  font-size: 2rem;
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
      .line {
        border-top: 1px solid #bcbcbc;
        padding-bottom: 20px;
      }
      .f_bottom {
        width: 95%;
        .f_information {
          margin-bottom: 6px;
          display: flex;
          a {
            color: #ddd;
          }
        }
        .sns {
          ul {
            gap: 20px;
            li {
              width: 30px;
              height: 30px;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .animate {
    .title {
      h2 {
        transform: translateX(0);
        transition: 0.5s ease;
      }
      p {
        // opacity: 1;
        &:nth-child(1) {
          transform: translateX(0);
          transition: 0.5s ease-out;
          transition-delay: 0.1s;
        }
        &:nth-child(2) {
          transform: translateX(0);
          transition: 0.5s ease;
          transition-delay: 0.2s;
        }
        &.artist {
          transform: translateX(0);
          transition: 0.5s ease-out;
          transition-delay: 0.25s;
        }
      }
    }
  }
}
// --------------------------------------------------------------------
@media only screen and (min-width: 900px) {
  .wrap {
    .bg_img {
      .introduce {
        .txt {
          > p {
            br.welBr {
              display: none;
            }
          }
        }
      }
    }
    .sect1 {
      article {
        &.art1 {
          .swiper {
            .pagination_area {
              .swiper-pagination {
                width: 33.3333%;
              }
            }
          }
        }
        &.art2 {
          margin-top: 160px;
          .collections {
            display: block;
            .left,
            .right {
              a {
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                p {
                  position: absolute;
                  left: 30px;
                  bottom: 25px;
                  color: #fff;
                  font-size: 2.4rem;
                  font-weight: 600;
                  z-index: 1;
                }
              }
            }
            .left {
              width: 100%;
              height: 400px;
              a {
                height: 100%;
                .img_box {
                  img {
                    width: 100%;
                  }
                }
              }
            }
            .grid {
              width: 100%;
              height: 220px;
              grid-template-columns: repeat(4, 1fr);
              a {
                .img_box {
                  img {
                    width: 100%;
                    min-height: 100%;
                  }
                }
                &:nth-child(3) {
                  .img_box {
                    align-items: start;
                  }
                }
              }
            }
          }
          ul {
            display: flex;
            gap: 8px;
            li {
              width: 25%;
              a {
                .link {
                  font-size: 2.4rem;
                  margin-bottom: 20px;
                  &::after {
                    width: 10%;
                    background: #ddd;
                  }
                }
                .txt {
                  font-size: 1.6rem;
                  display: block;
                  word-break: keep-all;
                  br {
                    display: block;
                    &.coral {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

      // ----------------------------------------------
      // footer
      footer {
        .f-top {
          justify-content: space-between;
          margin-bottom: 60px;
          display: flex;

          padding: 0 40px;
          .f_logo {
            width: 50%;
            img {
              width: 50%;
              margin-bottom: 30px;
            }
            ul {
              li {
                font-weight: 500;
                font-size: 16px;
                color: var(--gray3);
                a {
                  font-weight: 800;
                  padding-left: 5px;
                }
              }
            }
          }
          ul.f-menu,
          ul.f-information {
            li {
              line-height: 40px;
              font-weight: 800;
              font-size: 16px;
            }
          }

          .family {
            width: 20%;
            p {
              margin-bottom: 10px;
              font-weight: 800;
            }
            select {
              width: 100%;
              height: 40px;
              padding: 10px;
            }
          }
        }
        .line {
          border-top: 1px solid #bcbcbc;
          padding-bottom: 20px;
        }
        .f_bottom {
          // padding-top: 20px;
          display: flex;

          padding: 0 40px 60px;
          /* 혹시나 모바일의 영향이 있을까하는.... */
          justify-content: space-between;
          align-self: center;

          p {
            color: var(--gray2);
          }
          .sns {
            width: 25%;
            ul {
              width: 100%;
              gap: 20px;
              li {
                flex: 1;
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    .sect2 {
      .top {
        padding: 80px 0;
        .app {
          h3 {
            padding-bottom: 20px;
            font-size: 4rem;
            br {
              display: none;
            }
          }
          p {
            font-size: 2rem;
            br.appBr {
              display: none;
            }
          }
        }
        .q {
          display: none;
          p {
            color: #fff;
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid #666;
              a {
                display: inline-block;
                padding: 20px 0;
                color: #fff;
                font-size: 2rem;
                line-height: 1.4;
                // letter-spacing: -1.2;
              }
              &:nth-child(1) {
                border-top: 1px solid #666;
              }
            }
          }
        }
      }
      .bottom {
        a.item {
          padding-right: 20px;
          padding-left: 20px;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              padding-bottom: 10px;
              p,
              i {
                color: #fff;
                font-size: 2.4rem;
                letter-spacing: 1;
              }
              i {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
// --------------------------------------------------------------------
@media only screen and (min-width: 1200px) {
  header {
    .inner {
      max-width: 1600px;
      nav {
        > ul {
          gap: 40px;
          li.main-menu {
            > a {
              padding: 10px;
              font-size: 2rem;
            }
            ul.sub-menu {
              width: 100%;
              position: absolute;
              left: 0;
              top: 65px;
              display: none;
              li {
                > a {
                  display: block;
                  color: #fff;
                  padding: 6px;
                  font-size: 16px;
                  border: 1px solid #828080;
                  &:hover {
                    color: #000;
                    &::before {
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 200px;
                      background: #fff;
                      z-index: -1;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .right-menu {
        ul {
          gap: 10px;
          li {
            a {
              padding: 10px 20px;
            }
          }
        }
      }
    }
    .scrolled {
      background-color: rgba(255, 255, 255);
      border-bottom: 1px solid #e4e4e4;
      nav {
        > ul li.main-menu a {
          color: black;
        }
      }
    }
  }
  .wrap {
    h3 {
      font-size: 4rem;
      padding-bottom: 40px;
    }
    .bg_img {
      background-size: 100%;
      .introduce {
        max-width: 1700px;
        padding: 200px 50px 0;
        gap: 300px;
        h2 {
          font-size: 5rem;
          line-height: 1.4;
        }
        .txt {
          p {
            color: #ddd;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.6;
          }
          .bottom {
            .visit {
              color: #fff;
              font-size: 20px;
              font-weight: 600;
              display: inline-block;
              padding: 20px 25px;
              border: 1px solid #fff;
              border-radius: 50px;
            }
          }
        }
      }
    }
    .sect1 {
      max-width: 1700px;
      padding: 150px 50px;
      article {
        &.art1 {
          .more {
            a.btn {
              .right {
                p {
                  color: var(--gray3);
                  font-size: 12px;
                  font-weight: 800;
                }
              }
            }
          }

          .swiper {
            .swiper-scrollbar {
              width: 24%;
            }
            .pagination_area {
              .swiper-pagination {
                width: 25%;
              }
            }

            .item {
              display: none;
              .art_img {
                border: 1px solid #000;

                border-radius: 20px;
                overflow: hidden;
                width: 100%;
              }
              &.item4 {
                display: block;
              }
            }
          }
        }
        &.art2 {
          margin-top: 160px;
          .collections {
            height: 700px;
            display: flex;
            flex-direction: row;
            gap: 4px;
            width: 100%;
            padding-bottom: 100px;
            .left,
            .right {
              width: 50%;
              a {
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                p {
                  position: absolute;
                  left: 30px;
                  bottom: 25px;
                  color: #fff;
                  font-size: 2.4rem;
                  font-weight: 600;
                  z-index: 1;
                }
              }
            }
            .left {
              height: 100%;
            }
            .grid {
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(2, 1fr);
              margin: 0;
              height: auto;
              a {
                .img_box {
                  img {
                    min-height: 300px;
                  }
                }
              }
            }
          }
          ul {
            li {
              width: 25%;
              a {
                .txt {
                  font-size: 2rem;
                  br.coral {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
    .sect2 {
      .top {
        .app {
          h3 {
            padding-bottom: 20px;
            br {
              display: none;
            }
          }
          p {
            font-size: 2rem;
          }
          a {
            font-size: 2rem;
          }
        }
        .q {
          display: none;
          p {
            color: #fff;
            font-weight: 600;
            font-size: 4rem;
            padding-bottom: 20px;
          }
          ul.q_list {
            li {
              border-bottom: 1px solid #666;
              a {
                display: inline-block;
                padding: 20px 0;
                color: #fff;
                font-size: 2rem;
                line-height: 1.4;
                // letter-spacing: -1.2;
              }
              &:nth-child(1) {
                border-top: 1px solid #666;
              }
            }
          }
        }
      }
      .bottom {
        a.item {
          padding-right: 20px;
          padding-left: 20px;
          &:nth-child(5) {
            border-right: none;
          }
          .item_txt {
            .title {
              @include flex(space-between);
              padding-bottom: 10px;
              p,
              i {
                font-size: 2.4rem;
                letter-spacing: 1;
              }
              i {
                display: none;
              }
            }
            .sub_txt {
              display: block;
              color: #ddd;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  footer {
    margin-top: 100px;
    .f_top {
      display: flex;
      justify-content: space-between;
      .f_logo {
        display: block !important;
        width: 30% !important;
        .img_box {
          width: 50%;
          img {
            width: 100%;
            margin-bottom: 30px;
          }
        }
      }
      .site_map {
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 20px;
        .f_menu {
          li {
            a {
              font-size: 2.4rem;
            }
          }
        }
        .exhibition,
        .collection,
        .visit {
          > a {
            font-size: 2.4rem;
          }
          ul {
            li {
              a {
                font-size: 2rem;
              }
            }
          }
        }
      }
      // .family {
      //   width: 20%;
      //   p {
      //     margin-bottom: 10px;
      //   }
      //   select {
      //     width: 100%;
      //     height: 40px;
      //     padding: 10px;
      //   }
      // }
    }
    .line {
      border-top: 1px solid #bcbcbc;
      padding-bottom: 20px;
    }
    .f_bottom {
      .f_information {
        margin-top: 6px;
        gap: 10px;
        a {
          font-size: 1.6rem;
        }
      }
    }
  }
}
