@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/font_file/JetBrainsMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/font_file/JetBrainsMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/font_file/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/font_file/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/font_file/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/font_file/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/font_file/JetBrainsMono-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
    font-family: 'Galmuri11';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Galmuri14';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri14.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

:root {
  --bg-color: #000;
  --white: #fff;
  --blue-color: #1e96ff;
  --soft-blue-color: #6dbbff;
  --pink-color: #ff95dc;
}
* {
  box-sizing: border-box;
  font-size: 10px;
}

html,
body {
  background: var(--bg-color);
  font-family: "Galmuri14", monospace;
  color: var(--bg-color);
  line-height: 1.2;
  /* letter-spacing: -0.5px; */
}
a {
  text-decoration: none;
}
button {
  all: unset;
  font-family: "Galmuri14";
  border: none;
}
a,
button,
li {
  cursor: pointer;
}
img {
  vertical-align: top;
  width: 100%;
}
video {
  width: 0;
  height: 0;
  visibility: hidden;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000;
  z-index: 10;
  transition: opacity 0.2s ease;
}
#loading.hidden {
  opacity: 0;
  pointer-events: none;
}
.loading_wrap {
  width: 300px;
  text-align: center;
  padding: 4px;
  border: 1px solid var(--blue-color);
}
#loading_bar {
  width: 0%;
  height: 20px;
  background: var(--blue-color);
  transition: width 0.1s linear;
}
.loading_text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--blue-color);
}



.cd_icon {
  animation: spin 10s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
