@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
#mobilePlayList {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 30px;
  padding: 8px;
  background: linear-gradient(45deg, #ff95dc 5%, #ffffff 100%);
  border: 2px solid var(--bg-color);
  .play_wrap {
    @include flex-c(space-between);
    gap: 18px;
    width: 100%;
  }
  .play_view {
    @include flex-c(flex-start);
    gap: 6px;
    background: var(--bg-color);
    width: 100%;
    height: 40px;
    padding: 8px;
    .cd_icon {
      display: block;
      width: 24px;
    }
    .play_song {
      width: calc(100% - 24px);
      .play_wrap {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        padding: 3px 2px;
        color: var(--pink-color);
      }
      .song_text,
      .song_text_clone {
        flex-shrink: 0;
        // padding-right: 40px;
        // animation: scrollText 15s linear infinite;
      }
      @keyframes scrollText {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(-190%);
        }
      }
    }
  }
  .btns_wrap {
    @include flex-c(space-between);
  }
  .play_btns {
    ol {
      @include flex-c();
    }
    .btn {
      width: 40px;
    }
  }
}
#desktopPlayList {
  display: grid;
  grid-template-columns: repeat(1, 375px);
  grid-template-rows: repeat(6, 102px);
  gap: 23px 12px;
  width: 375px;
  position: relative;
  .play_wrap {
    grid-row: 6;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 102px;
      background-image: url(../img/icon/playlist/playlist_bar.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 375px 102px;
      box-sizing: border-box;
      pointer-events: none;
    }
  }
  .play_view,
  .btns_wrap {
    position: relative;
    z-index: 1;
  }
  .play_view {
    @include flex-c(space-between);
    width: 100%;
    height: 40px;
    padding: 6px;
    background-color: var(--bg-color);
    .cd_icon {
      width: calc(40px - 12px);
      height: calc(40px - 12px);
      border: 1px solid #000;
    }
    .play_song {
      width: calc(100% - 34px);
      p {
        color: var(--pink-color);
        white-space: nowrap;
        font-size: 18px;
      }
    }
  }
  .btns_wrap {
    @include flex-c(space-between);
  }
  .play_btns {
    margin-top: 6px;
    ol {
      display: flex;
      li:not(:first-child) {
        margin-left: -2px;
      }
    }
    .btn {
      width: 60px;
    }
  }
  .sound {
    width: 100px;
    height: 36px;
    margin-top: 6px;
    @include flex-c();
  }
}
