@media screen and (min-width: 701px) {
  #pcTopBar {
    width: 100%;
    height: 32px;
    max-width: 1600px;
    margin: auto;
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #pcTopBar .left,
  #pcTopBar .right {
    display: flex;
    color: var(--blue-color);
  }
  #pcTopBar .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
  #pcTopBar .left li {
    display: inline-block;
    cursor: auto;
  }
  #pcTopBar .left li:first-child {
    display: inline-block;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pcTopBar .left li:first-child img {
    width: 100%;
  }
  #pcTopBar .left li:not(:first-child) {
    width: 80px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid var(--blue-color);
  }
  #pcTopBar .right {
    font-size: 14px;
  }
  #pcTopBar .right .batt {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pcTopBar .right .clock_box {
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
body {
  position: relative;
  font-size: 15px;
}

#topBar {
  width: 100%;
  height: 40px;
  padding: 6px 20px;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
#topBar .left,
#topBar .right {
  color: var(--blue-color);
}
#topBar .left div,
#topBar .right div {
  height: 18px;
}
#topBar .left div img,
#topBar .right div img {
  height: 100%;
}
#topBar .left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
#topBar .left div {
  display: inline-block;
  cursor: auto;
}
#topBar .right {
  display: flex;
}
#topBar .right div:not(:first-child) {
  margin-left: 16px;
}
#topBar .right .batt {
  display: flex;
  justify-content: center;
  align-items: center;
}
#topBar .right .clock_box {
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 60px 20px 10px;
  color: var(--white);
}

#mobilePlayList {
  border: 1px solid #000;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
#mobilePlayList .play_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  width: 100%;
  padding: 8px;
  background: linear-gradient(45deg, #ff95dc 5%, #ffffff 100%);
  border: 2px solid var(--bg-color);
}
#mobilePlayList .play_view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  background: var(--bg-color);
  width: 100%;
  height: 40px;
  padding: 6px;
}
#mobilePlayList .play_view .cd_icon {
  width: 24px;
}
#mobilePlayList .play_view .play_song p {
  white-space: nowrap;
  overflow: hidden;
  padding: 3px 2px;
  width: 160px;
  text-overflow: ellipsis;
}
#mobilePlayList .btns_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mobilePlayList .play_btns ol {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobilePlayList .play_btns .btn {
  width: 40px;
}

.mobile_app {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 24px;
  padding: 10px;
}
.mobile_app .app {
  width: 100%;
  display: inline-block;
}
.mobile_app .app figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobile_app .app figure img {
  width: 80%;
}
.mobile_app .app figure figcaption {
  text-align: center;
  padding-top: 12px;
  font-family: "PFStardustS", monospace;
  font-size: 18px;
}
.mobile_app .app figure figcaption span {
  display: inline-block;
  width: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#list_wrap {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100vh - 40px - 40px);
  padding: 12px;
  background: var(--white);
  display: none;
}
#list_wrap.mv .video_box {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
#list_wrap.mv .video_box:not(:first-child) {
  padding-top: 10px;
}
#list_wrap.mv figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#list_wrap.mv figure iframe {
  height: 80px;
  aspect-ratio: 16/9;
}
#list_wrap.mv figure figcaption {
  padding-left: 10px;
}
#list_wrap.streaming {
  border: 1px solid var(--bg-color);
}
#list_wrap.on {
  display: block;
}

.close_btn:focus-visible,
.app:focus-visible,
.btn:focus-visible,
.gallery .img_box:focus-visible {
  outline: 2px solid var(--blue-color);
}

#folder,
.modal {
  display: none;
}

#bottomBar {
  width: 100%;
  height: 40px;
  background: var(--bg-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 700px) {
  #intro {
    background-image: url(../img/intro_photo_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}/*# sourceMappingURL=mobile.css.map */