@media screen and (min-width: 1400px) {
  /* art1--------------------------------------------------------------------------------------------- */
  .art1 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(34, 1fr);
    grid-template-rows: repeat(26, 1fr);
    gap: 20px;
    padding: 0 60px;
    color: var(--text-color-w);
    background: var(--text-color-b);
  }

  .art1 .item1 {
    grid-column: 1 / span 15;
    grid-row: 1 / span 3;
    position: relative;
  }
  .art1 .item2 {
    grid-column: 16 / span 1;
    grid-row: 1 / span 26;
    position: relative;
  }

  /* .art1 .item3 = scroll 사진들 */
  .art1 .item3 {
    grid-column: 17 / span 18;
    grid-row: 1 / span 26;
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: scroll;
  }

  .art1 .item3 ul {
    flex-direction: column;
    gap: 10px;
  }
  .art1 .item3 ul li a img {
    height: 100%;
    width: 100%;
  }
  .art1 .item3::-webkit-scrollbar {
    display: none;
  }

  .popup-contents{
    max-width: 100%;
    max-height: 90%;
    width: auto;
    height: auto;
  }

  /* .art1 .item4 = titel */
  .art1 .item4 {
    grid-column: 1 / span 11;
    grid-row: 4 / span 4;
    position: relative;
    transform: translateY(-10px);
  }

  .art1 .item4 > .item-text {
    line-height: 60px;
  }
  .art1 .item4 h5 {
    font-size: 40px;
    font-weight: 300;
    color: var(--sub-color);
  }
  .art1 .item4 h2 {
    font-size: 66px;
    font-weight: 700;
    color: var(--main-color);
  }



  /* .art1 .item5 = playlist */
  .art1 .item5 {
    grid-column: 11 / span 5;
    grid-row: 4 / span 2;
    padding: 10px;
  }

  .art1 .item5 .play-song {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding-top: 2px;
  }
  .art1 .item5 .now {
    padding-right: 20px;
    line-height: 15px;
  }
  .art1 .item5 p.song {
    font-size: 12px;
    font-weight: 700;
    color: var(--text-color-w);
  }
  .art1 .item5 p.singer {
    font-size: 12px;
    font-weight: 500;
    color: var(--sub-color);
  }

  /* btn */

  .art1 .item5 .playbtn ul {
    gap: 6px;
  }
  .art1 .item5 .playbtn ul li img{
    width: 100%;
  }




  /* .art1 .item6 = cd */
  .art1 .item6 {
    grid-column: 1 / span 15;
    grid-row: 8 / span 14;
    background: var(--main-color);
    position: relative;
  }

  .art1 .item6 .cd-container {
    width: 81%;
    top: 53%;
    transform: translate(-50%, -47%);

    /* 클리핑 마스크 */
    /* clip-path: inset(-10px 0 91px 0); */
  }

  .art1 .item6 .sticker {
    width: 150px;
    height: 150px;
    transform: rotateZ(30deg);
  }

  /* .art1 .item7 = album text*/
  .art1 .item7 {
    grid-column: 1 / span 12;
    grid-row: 22 / span 2;
    text-align: justify;
    position: relative;
    z-index: 10;
  }
  .art1 .item7 p {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    color: var(--text-color-w);
  }

  /* .art1 .item8 = barcod */
  .art1 .item8 {
    grid-column: 13 / span 3;
    grid-row: 22 / span 2;
  }
  .art1 .item8 img {
    width: 100%;
    position: relative;
    z-index: 10;
  }

  /* .art1 .item9 = 저작권 */
  .art1 .item9 {
    grid-column: 1 / span 15;
    grid-row: 24 / span 1;
    position: relative;
    z-index: 10;
  }

  .art1 .item10 {
    grid-column: 1 / span 15;
    grid-row: 22 / span 4;
    background: var(--text-color-b);
    transform: translateY(-20px);
    position: relative;
  }

  /* art2--------------------------------------------------------------------------------------------- */
  /* .art2 .item{border: 1px solid #f0d5d5;} */
  .art2 {
    width: 100%;
    height: 100vh;
    background: var(--text-color-b);
    margin: auto;
    padding: 0 60px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .art2 .title-menu {
    width: 100%;
    /* max-width: 1670px;  */
    padding: 0 0 40px ;
    margin: 0 auto;
    /* border: 1px solid #ff2929; */
  }
  .art2 .title-menu ul {
    gap: 50px;
    width: 20%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    /* gap: 50px; */
  }
  .art2 .title-menu ul li {
    /* flex: 1; */
    text-align: right;
  }
  /* .art2 .menu ul li:hover{background: var(--main-color);} */
  .art2 .title-menu ul li a {
    color: var(--sub-color);
    font-size: 16px;
    /* display: block; */
    padding: 10px;
    padding-right: 0;
    /* border: 1px solid #f5f5f5; */
  }
  .art2 .title-menu ul li.on a {
    color: var(--text-color-w);
  }

  .art2 .inner {
    /* width: 100%; 너비를 90%로 설정 */
    max-width: 1670px; 
    /* 최대 너비를 1200px로 제한 */
    margin: 0 auto;
    padding: 0;
  }
  
  .art2 .supernatural,
  .art2 .right_now {
    width: 100%;
    height: 100%;
    background: var(--text-color-w);
    display: flex;
    align-items: center;
  }
  .art2 .videobox {
    width: 90%;
    /* max-width: 1000px; 최대 너비를 1000px로 제한 */
    padding-top: 38.8%; /* 16:9 비율 유지 */
    height: 0;
    position: relative;
    /* border: 2px solid #25b023; */
  }

  .art2 .mv-title {
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 40px;
    /* border: 1px solid #e63434; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .art2 ul.title-wrap {
    margin: 0;
  }
  .art2 ul.title-wrap li h2 {
    font-size: 30px;
    line-height: 40px;
    
    /* 그냥 아래만 해도 되는데 이미 h2에 공통 속성을 줘서 그거 밀어내려고 일부러 이렇게 함 */
    padding: 0 0 20px 0; 
  }
  .art2 ul.title-wrap li p {
    font-size: 16px;
    line-height: 2em;
    color: var(--text-color-gray2);
  }


  .art2 ul.title-wrap li.on {
    display: block;
  }

  .art2 ul.next {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .art2 ul.next > li {
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .art2 ul.next li figure {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
  }
  .art2 ul.next li figure figcaption {
    padding-top: 0;
    font-size: 16px;
    text-wrap: wrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    width: 100%;
    line-height: 4px;
  }
  .art2 ul.next li figure a {
    width: 35%;
    margin-right: 15px;
  }
  .art2 ul.next li figure a img {
    width: 100%;
    height: 100%;
  }

  .art2 .item11 {
    display: none;
  }

  /* art3--------------------------------------------------------------------------------------------- */
  .art3 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    padding-top: 4px;
    position: relative;
    background: #ffffff;
  }
  /* .item{border: 1px solid #000;} */

  /* art3 item1 */
  .art3 .item1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    background: #9e9191;
    position: relative;
    height: 100%;
    background: url(../img/goods-chack/art3-1-1.jpg) no-repeat center;
    background-size: cover;
    padding-top: 150px;
    position: relative;
  }
  */

  /*art3 item1 text */
  .art3 .item1 .item-text {
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .art3 .item1 .item-text h2 {
    font-size: 44px;
    color: var(--text-color-w);
    margin-bottom: 30px;
  }
  .art3 .item1 .item-text p {
    font-size: 16px;
    font-weight: 100;
    color: var(--text-color-w);
    line-height: 30px;
  }

  button {
    border: none;
    background: none;
  }
  button a {
    color: var(--text-color-w);
    font-size: 14px;
    font-weight: 700;
  }
  /* -------------------------- */

  .art3 .item2 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    background: #6e4141;
    background: url(../img/goods/art3-4.1.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item3 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    background: #bd953e;
    background: url(../img/goods/art3-5.1.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item4 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    background: #000;
    background: url(../img/goods/art3-2.4.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item5 {
    grid-column: 5 / span 1;
    grid-row: 2 / span 2;
    background: #e071ce;
    background: url(../img/goods-chack/art3-2-5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .art3 .item6 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    background: #701260;
    background: url(../img/goods/art3-3.1.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item7 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    background: #232a52;
    background: url(../img/goods/art3-3.2.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item8 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
    background: #8c91a8;
    background: url(../img/goods/art3-3.jpg) no-repeat center;
    background-size: cover;
  }

  .art3 .item9 {
    display: none;
  }

  /* 스티커들 */
  .art3 .box {
    z-index: 90;
    position: relative;
  }

  .art3 .box .box-logo1 {
    position: absolute;
    left: 130%;
    transform: translateY(-90%);
  }
  .art3 .box .box-logo1 img {
    width: 760px;
    transform: rotateZ(-7deg);
  }

  .art3 .box .box-logo2 {
    position: absolute;
    transform: translate(580%, -150%);
  }
  .art3 .box .box-logo2 img {
    width: 190px;
    transform: rotateZ(9deg);
  }

  .art3 .box .box-logo3 {
    position: absolute;
    transform: translate(255%, -400%);
  }
  .art3 .box .box-logo3 img {
    width: 300px;
    transform: rotateZ(-1deg);
  }
}
