@media screen and (max-width: 640px) {
  /* art1--------------------------------------------------------------------------------------------- */
  .grid_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    overflow: hidden;

    width: 100%;
    max-height: 100vh;
    padding-top: 20px;
    color: var(--text-color-w);
    background: rgb(0, 0, 0);
  }

  .art1 .imgs {
    grid-column: 1 / span 8;
    grid-row: 7 / span 2;
    z-index: 99;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: scroll;
  }


  .art1 .title {
    grid-column: 1 / span 8;
    grid-row: 2 / span 1;
    position: relative;
  }
  .art1 .title .item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    line-height: 1.2;
  }
  .art1 .title h5 {
    font-size: 20px;
    font-weight: 400;
    color: var(--sub-color);
  }
  .art1 .title h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--main-color);
  }

  .songs {
    position: relative;
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
    height: 70px;
    padding: 10px;
    margin: 0 20px;
    background: #dadada;
    border-radius: 10px;
  }
  .play-song {
    height: 100%;
  }
  .songs figure {
    height: 100%;
  }
  .songs figure img {
    height: 100%;
  }
  
  .songs .now {
    width: 100%;
    margin-left: 10px;
    line-height: 20px;
  }
  .songs .song {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color-b);
    text-overflow: ellipsis;
  }
  .songs .singer {
    font-size: 12px;
    font-weight: 500;
    color: var(--sub-color);
  }
  .songs .playbtn {
    position: relative;
    width: 29%;
  }
  .songs .playbtn ul {
    gap: 8px;
    justify-content: flex-end;
  }
  .songs .playbtn img{
    width:50px;
  }
  .songs .stop-btn {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }


  .cd_outer {
    grid-column: 1 / span 8;
    grid-row: 4 / span 3;
    background: var(--main-color);
    position: relative;
  }
  .cd_outer .cd-container {
    width: 150%;
    position: absolute;
    left: 50%;
    top: -36%;
    transform: translateX(-50%);
  }
  .cd_outer .cd-container::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 110%;
    height: 110%;
    background-image: url(../img/album-cover/shadow.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  .cd_outer .sticker {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 3%;
    bottom: 92%;
    transform: rotateZ(25deg);
    background: var(--text-color-w);
    padding: 6px;
    border-radius: 99px;
    box-shadow: 1px 1px 1px #00000060;
  }
  .cd_outer .sticker-inner {
    width: 100%;
    height: 100%;
    background-image: url(../img/album-cover/sticker-b.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cd_outer .cd-container .cd {
    position: relative;
    width: 100%;
    height: 100%;
    animation: spin 8s linear infinite;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .album_text {
    position: relative;
    grid-column: 1 / span 8;
    grid-row: 7 / span 1;
    margin: 0 20px;
    padding-top: 10px;
    text-align: justify;
    z-index: 10;
    display: none;
  }
  .album_text p {
    font-size: 10px;
    font-weight: 100;
    line-height: 1.5;
  }

  .barcod {
    grid-column: 6 / span 3;
    grid-row: 7 / span 1;
    margin-right: 20px;
  }
  .barcod img {
    width: 100%;
    position: relative;
    z-index: 10;
  }

  .copyright {
    position: relative;
    grid-column: 1 / span 5;
    grid-row: 7 / span 1;
    margin-left: 20px;
    z-index: 10;
  }
  .copyright .item-text{
    flex-direction: column;
  }
  .copyright .item-text p {
    font-size: 12px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--sub-color);
  }

  .fade_bg {
    grid-column: 1 / span 8;
    grid-row: 7 / span 1;
    background: var(--text-color-b);
    position: relative;
    margin-top: -20px;
  }

  .art1 .imgs ul {
    gap: 10px;
  }
  .art1 .imgs ul li a img {
    height: 190px;
  }
  .art1 .imgs::-webkit-scrollbar {
    display: none;
  }

  .close{
    width: 60px;
    height: 60px;
  }

  /* art2--------------------------------------------------------------------------------------------- */
  .art2 {
    width: 100%;
    background: var(--text-color-b);
    max-width: 1800px;
    margin: auto;
    background: #000;
    padding: 10% 0 0;
    /* border: 1px solid #ff1919; */
  }

  .art2 .title-menu {
    padding: 0 14% 30px;
    margin: auto;
  }
  .art2 .title-menu ul {
    justify-content: space-between;
    /* border: 1px solid #ffffff; */
  }
  .art2 .title-menu ul li a {
    color: var(--sub-color);
    font-size: 16px;
  }
  .art2 .title-menu ul li.on a {
    color: var(--text-color-w);
    font-weight: 700;
  }

  .inner {
    width: 100%;
    margin: auto;
    padding-bottom: 8%;
    background: var(--text-color-w);
  }
  /* .inner > div{border: 1px solid #ff3b3b;} */

  .videobox {
    width: 100%;
    padding-top: 56.25%;
    height: 0;
    position: relative;
  }
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  /* .video{border: 1px solid #ffcdcd;} */

  .mv-title {
    width: 90%;
    margin: auto;
  }

  .art2 ul.title-wrap {
    margin: 10px 0 80px;
  }
  .art2 ul.title-wrap li h2 {
    font-size: 20px;
    padding: 20px 0;
    line-height: 30px;
  }
  .art2 ul.title-wrap li p {
    font-size: 12px;
    line-height: 1.8em;
    color: var(--text-color-gray2);
  }

  .art2 ul.title-wrap li {
    display: none; /* 기본적으로 타이틀 안보임 */
  }
  .art2 ul.title-wrap li.on {
    display: block; /* 근데 on붙은 건 보여라! */
  }
  .art2 ul.next li {
    margin-bottom: 10px;
    cursor: pointer;
    /* border: 1px solid #000; */
  }
  .art2 ul.next li figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .art2 ul.next li figure a {
    width: 40%;
  }

  .art2 ul.next li figure figcaption {
    padding-left: 20px;
    font-size: 16px;
    color: var(--sub-color);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .art2 ul.next li:hover figure figcaption {
    color: var(--text-color-b);
  }
  .art2 ul.next li figure a img {
    width: 100%;
  }

  /* art3--------------------------------------------------------------------------------------------- */
  .art3 {
    width: 100%;
    height: 160vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 4px;
    position: relative;
    background: var(--text-color-w);
  }

  /* art3 item1 */
  .art3 .item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background: #9e9191;
    position: relative;
    height: 100%;
    background: url(../img/goods-chack/art3-1-1.jpg) no-repeat center;
    background-size: 100vh;
  }

  /* 본격 호버할 때 배경이 어두어지고 텍스트가 나타나는!!!! */
  .art3 .item1 > * {
    opacity: 0;
    position: relative;
    z-index: 2;
  }
  .art3 .item1:hover > * {
    opacity: 1;
    transition: 0.3s ease;
  }
  .art3 .item1::before {
    content: "";
    display: block;
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;
    z-index: 1;
  }

  .art3 .item1:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* .art3 .item1:hover{backdrop-filter: brightness(0.5);} */
  .art3 .item1 h5 {
    color: var(--main-color);
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
  }
  .art3 .item1 h2 {
    color: var(--text-color-w);
    font-size: 20px;
  }

  /*art3 item1 text */
  .art3 .item1 .item-text {
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .art3 .item1 .item-text p {
    font-size: 10px;
    font-weight: 100;
    color: var(--text-color-w);
    line-height: 20px;
    margin-bottom: 30px;
  }

  button {
    border: none;
    background: none;
  }
  button a {
    color: var(--text-color-w);
    font-size: 14px;
    font-weight: 700;
  }
  /* -------------------------- */

  .art3 .item2 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    background: #6e4141;
    background: url(../img/goods/art3-4.1.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item3 {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    background: #bd953e;
    background: url(../img/goods/art3-5.1.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item4 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
    background: #000;
    background: url(../img/goods/art3-2.4.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item5 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    background: #e071ce;
    background: url(../img/goods-chack/art3-2-5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .art3 .item6 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    background: #701260;
    background: url(../img/goods/art3-3.1.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item7 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    background: #232a52;
    background: url(../img/goods/art3-3.2.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item8 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    background: #8c91a8;
    background: url(../img/goods/art3-3.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item9 {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    background: #8c91a8;
    background: var(--goods-bg) url(../img/logo/art3-logo-2.jpg) no-repeat
      center;
    background-size: contain;
    /* border: 1px solid #000; */
  }

  /* 스티커들 */
  .art3 .box {
    z-index: 90;
  }

  .art3 .box .box-logo1 {
    position: absolute;
    left: 8%;
    bottom: 47%;
  }
  .art3 .box .box-logo1 img {
    width: 300px;
    transform: rotateZ(-7deg);
  }

  .art3 .box .box-logo2 {
    position: absolute;
    right: 6%;
    bottom: 22%;
  }
  .art3 .box .box-logo2 img {
    width: 140px;
    transform: rotateZ(9deg);
  }

  .art3 .box .box-logo3 {
    position: absolute;
    left: 49%;
    top: 18%;
  }
  .art3 .box .box-logo3 img {
    width: 300px;
    transform: rotateZ(-15deg);
  }
}
