@charset "UTF-8";
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('http://script.gmarket.com/fonts/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('http://script.gmarket.com/fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('http://script.gmarket.com/fonts/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('http://script.gmarket.com/fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('http://script.gmarket.com/fonts/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('http://script.gmarket.com/fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


*{margin: 0;padding: 0;box-sizing: border-box;}

:root{
  --main-color:#3594E1;
  --main-color2:#13afe5;
  --sub-color:#8D8D8D;
  --text-color-w:#fff;
  --text-color-b:#000;
  --text-color-gray:#cbcbcb;
  --text-color-gray2:#b8b8b8;
  --goods-bg:#f4f4f4;
}

/* 공통css */
body{color: #333; font-family: 'GmarketSansMedium'; width: 100%; height: 100%;font-family: 'Gmarket Sans'; font-style: normal; font-weight: 500; background: #000; }

img{vertical-align: top;}
li{list-style: none;}
p{font-size: 10px;}
a{text-decoration: none;font-size: 10px;}
figcaption{color: #333;}
.flex{display: flex;}
.just-c{justify-content: center;}
.just-sb{justify-content: space-between;}
.align-c{align-items: center;}
.align-b{align-items: baseline;}
.text-c{text-align: center;}
.none { display: none;}

/* .container{border: 1px solid #cc5e5e;} */

body.bg0{background: #000;}
body.bg1{background: #000;}
body.bg2{background: #000;}
body section.on{transform: rotateY(-5deg);}

/* h5{font-size: 28px; margin-bottom: 15px; color: #333;} */

::-webkit-scrollbar{display: none;}

section{overflow: hidden;}
/* .item{
  border: 1px solid hsl(323, 100%, 60%);
} */
/* .container{border: 5px solid #13afe5;} */

/* menu-icon */
.menu-icon{display: inline-block; cursor: pointer; position: fixed; left: 10px; top: 10px; background: #000; z-index: 999; padding: 10px;}
.bar1, .bar2, .bar3{width: 35px; height: 5px; background: #701260; margin: 6px 0; transition: 0.4s;}

.bar1.on{transform: translate(0, 11px) rotate(-45deg); }
.bar2.on{opacity: 0%;}
.bar3.on{transform: translate(0, -11px) rotate(45deg); }


/* header-------------------- */
header{background: #5AB5FF; color: #fff; position: fixed; width: 200px; height: 100%; text-align: center;
  transform-origin: left center; transform: rotateY(100deg); transition: .35s; z-index: 99; opacity: 0;
display: none;
}
header.on{transform: rotateY(15deg); opacity: 1;}

h1{padding: 30px;} h1 img{width: 8cqw;}
p.imtro{font-size: 20px; padding: 20px; line-height: 2;}

header ul.menu{position: absolute; width: 90%; left: 50%; top: 40%; transform: translateX(-50%);
  margin: 10px;}
header ul.menu li{margin: 10px;}
header ul.menu li a{display: block; border: 1px solid #000; padding: 10px;font-size: 20px;}

/* menu 활성화 */
header ul.main li.on a{background: #ff7e1c; color: #000; font-weight: bold;}



