@media screen and (min-width: 641px) {
  /* art1--------------------------------------------------------------------------------------------- */
  .art1 {
    color: var(--text-color-w);
    background: rgb(0, 0, 0);
    overflow: scroll;
  }
  .grid_container {
    padding: 100px 80px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
    max-height: 100vh;
  }

  .art1 .title {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    position: relative;
  }

  .art1 .title > .item-text {
    line-height: 60px;
    text-align: left;
    margin: 0;
  }
  .art1 .title h5 {
    font-size: 32px;
    font-weight: 300;
    color: var(--sub-color);
  }
  .art1 .title h2 {
    font-size: 60px;
    font-weight: 600;
    color: var(--main-color);
  }

  .songs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    grid-column: 4 / span 2;
    grid-row: 1 / span 1;
    padding: 12px;
    border-radius: 10px;
    background: #dadada
  }
  .songs figure {
    width: 20%;
    object-fit: cover;
  }
  .songs figure img {
    width: 100%;
  }

  .songs .now {
    width: 70%;
    padding-left: 10px;
    line-height: 15px;
  }
  .songs .song {
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color-b);
  }
  .songs .singer {
    font-size: 14px;
    font-weight: 300;
    color: #666;
  }

  .songs .playbtn {
    position: relative;
    height: 100%;
  }
  .songs .playbtn ul {
    gap: 5px;
  }
  .songs .playbtn {
    /* padding-left: 20px; */
    width: 30%;
  }
  .songs .playbtn ul li img {
    width: 100%;
  }
  .songs .stop-btn {
    padding-left: 20px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  .cd_outer {
    position: relative;
    grid-column: 1 / span 5;
    grid-row: 3 / span 4;
    background: var(--main-color);
  }
  .cd_outer .cd-container {
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translateX(-50%);
    max-width: 600px;
    width: 70%;
  }
  .cd_outer .cd-container::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 110%;
    height: 110%;
    background-image: url(../img/album-cover/shadow.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  .cd_outer .sticker {
    width: 130px;
    height: 130px;
    position: absolute;
    right: 3%;
    bottom: 5%;
    transform: rotateZ(20deg);
    background: var(--text-color-b);
    padding: 6px;
    border-radius: 99px;
  }
  .cd_outer .sticker-inner {
    width: 100%;
    height: 100%;
    background-image: url(../img/album-cover/sticker-w.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cd_outer .cd-container .cd {
    position: relative;
    width: 100%;
    height: 100%;
    animation: spin 8s linear infinite;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .album_text {
    grid-column: 1 / span 4;
    grid-row: 7 / span 2;
    text-align: justify;
    position: relative;
    z-index: 10;
  }
  .album_text p {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: var(--text-color-w);
  }

  .barcod {
    grid-column: 5 / span 1;
    grid-row: 7 / span 1;
  }
  .barcod img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
  }

  .copyright {
    grid-column: 1 / span 4;
    grid-row: 8 / span 1;
    position: relative;
    z-index: 10;
  }
  .copyright .item-text {
    gap: 20px;
  }
  .copyright .item-text p {
    font-size: 12px;
    font-weight: 500;
    color: var(--sub-color);
  }

  .fade_bg {
    position: relative;
    grid-column: 1 / span 5;
    grid-row: 7 / span 3;
    background: var(--text-color-b);
    transform: translateY(-20px);
  }

  .art1 .imgs {
    grid-column: 1 / span 14;
    grid-row: 21 / span 8;
    z-index: 99;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: scroll;
  }
  .art1 .imgs ul {
    cursor: move;
    gap: 10px;
  }
  .art1 .imgs ul li a img {
    height: 355px;
  }
  .art1 .imgs::-webkit-scrollbar {
    display: none;
  }

  /* art2--------------------------------------------------------------------------------------------- */
  .art2 {
    width: 100%;
    background: var(--text-color-b);
    max-width: 1800px;
    margin: auto;
    background: #000;
    padding: 10% 0 0;
  }

  .art2 .title-menu {
    padding: 0 30% 30px;
    margin: auto;
  }
  .art2 .title-menu ul {
    justify-content: space-between;
    /* border: 1px solid #ffffff; */
  }
  .art2 .title-menu ul li a {
    color: var(--sub-color);
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 10px 30px;
    /* border: 1px solid #b8a6a6; */
  }
  .art2 .title-menu ul li.on a {
    color: var(--text-color-w);
    font-weight: 700;
  }

  .art2 .inner {
    width: 100%;
    margin: auto;
    padding-bottom: 10%;
    background: var(--text-color-w);
    position: relative;
    background: #ffffff;
    /* border: 3px solid #55d220; */
  }
  /* .inner > div{border: 1px solid #ff3b3b;} */
  .art2 .videobox {
    width: 100%;
    padding-top: 56.25%;
    height: 0;
    position: relative;
  }
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  /* .video{border: 1px solid #ffcdcd;} */

  .mv-title {
    width: 80%;
    margin: auto;
  }

  .art2 ul.title-wrap {
    margin: 10px 0 140px;
  }
  .art2 ul.title-wrap li h2 {
    font-size: 30px;
    padding: 20px 0;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .art2 ul.title-wrap li p {
    font-size: 16px;
    line-height: 2em;
    color: var(--text-color-gray2);
  }

  .art2 ul.title-wrap li {
    display: none;
    letter-spacing: -0.5px;
  }
  .art2 ul.title-wrap li.on {
    display: block;
  }

  .art2 ul.next {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    flex-wrap: wrap;
  }
  .art2 ul.next > li {
    width: 49%;
    cursor: pointer;
    margin-bottom: 40px;
    /* border: 1px solid #000; */
  }
  .clicked {
    background-color: #c23a3a; /* 원하는 배경색으로 변경 */
  }
  /* 호버했을 때의 이벤트를 주자니 영상이 안바뀌고...안하자니 뭔가 허전하고 뭐여.. */
  /* .art2 ul.next li{position: relative;}
  .art2 ul.next li:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.108);
    transition: background-color 0.3s ease;
    z-index: 100;
    cursor: pointer;
    } */
  .art2 ul.next li figure figcaption {
    padding-top: 15px;
    font-size: 16px;
    color: var(--sub-color);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .art2 ul.next li:hover figure figcaption {
    color: var(--text-color-b);
  }
  .art2 ul.next li figure a img {
    width: 100%;
  }
  /* .tab{position: absolute; left: 0;top: 0; width: 100%;height: 100%;} */

  /* art3--------------------------------------------------------------------------------------------- */
  .art3 {
    width: 100%;
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 4px;
    /* padding-top: 4px; */
    position: relative;
    background: var(--text-color-w);
  }

  /* art3 item1 */
  .art3 .item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background: var(--goods-bg);
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../img/goods-chack/art3-1-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* 본격 호버할 때 배경이 어두어지고 텍스트가 나타나는!!!! */
  .art3 .item1 > * {
    opacity: 0;
    position: relative;
    z-index: 2;
  }
  .art3 .item1:hover .item-text {
    opacity: 1;
    transition: 0.3s ease;
  }
  .art3 .item1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  .art3 .item1:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* .art3 .item1:hover{backdrop-filter: brightness(0.5);} */

  .art3 .item1 h5 {
    color: var(--main-color);
    font-size: 30px;
    margin-bottom: 30px;
    font-family: "Gmarket Sans";
    font-style: normal;
    font-weight: 500;
  }
  .art3 .item1 h2 {
    color: var(--text-color-w);
    font-size: 40px;
    margin-bottom: 30px;
    font-family: "Gmarket Sans";
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  /* .art3 .item {
    transition: 1s;
  } */
  /*art3 item1 text */
  .art3 .item1 .item-text {
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .art3 .item1 .item-text p {
    font-size: 16px;
    font-weight: 100;
    color: var(--text-color-w);
    line-height: 1.7em;
    margin-bottom: 30px;
  }

  button {
    border: none;
    background: none;
  }
  button a {
    color: var(--text-color-w);
    font-size: 16px;
    font-weight: 700;
  }
  /* -------------------------- */

  .art3 .item2 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    background: var(--goods-bg) url(../img/goods/art3-4.1.jpg) no-repeat center;
    background-size: contain;
  }

  .art3 .item3 {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    background: var(--goods-bg) url(../img/goods/art3-5.1.jpg) no-repeat center;
    background-size: contain;
  }
  .art3 .item4 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
    background: var(--goods-bg) url(../img/goods/art3-2.4.jpg) no-repeat center;
    background-size: contain;
  }
  .art3 .item5 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    background: var(--goods-bg) url(../img/goods-chack/art3-2-5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .art3 .item6 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    background: var(--goods-bg) url(../img/goods/art3-3.1.jpg) no-repeat center;
    background-size: contain;
  }
  .art3 .item7 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    background: var(--goods-bg) url(../img/goods/art3-3.2.jpg) no-repeat center;
    background-size: contain;
  }
  .art3 .item8 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    background: var(--goods-bg) url(../img/goods/art3-3.jpg) no-repeat center;
    background-size: cover;
  }
  .art3 .item9 {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    background: var(--goods-bg) url(../img/logo/art3-logo-2.jpg) no-repeat
      center;
    background-size: contain;
  }

  /* 스티커들 */
  .art3 .box {
    z-index: 90;
  }

  .art3 .box .box-logo1 {
    position: absolute;
    left: 10%;
    bottom: 42%;
  }
  .art3 .box .box-logo1 img {
    width: 350px;
    transform: rotateZ(-7deg);
  }

  .art3 .box .box-logo2 {
    position: absolute;
    right: 5%;
    bottom: 21%;
  }
  .art3 .box .box-logo2 img {
    width: 190px;
    transform: rotateZ(-10deg);
  }

  .art3 .box .box-logo3 {
    position: absolute;
    left: 49%;
    top: 21%;
  }
  .art3 .box .box-logo3 img {
    width: 300px;
    transform: rotateZ(15deg);
  }
}
