:root{
  --gray: #f0f0f0; /* bg용 */
  --gray2: #c7c7c7; /* 설명2 */
  --gray3: #8d8d8d; /* 설명1 */
  --text: #333;
  --shadow-b: rgba(0,0,0,.1);
}

body {
  /* background: #000; */
  font-family: 'pretendard';
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
header {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 80px;
  z-index: 999;
}
    
img{vertical-align: top;}
h3{font-size: 30px; font-weight: 700;}
p{font-size: 16px; line-height: 1.5em; letter-spacing: -.04em; word-wrap: break-word; color: #333;}
a{text-decoration: none; color: #333;}
li{list-style: none; line-height: 2em;}

.flex {
    display: flex;
    /* flex-wrap: wrap; */
  }
  .just-c {
    justify-content: center;
  }
  .just-sb {
    justify-content: space-between;
  }
  .align-c {
    align-items: center;
  }