@charset "UTF-8";
@media only screen and (max-width: 600px) {
  .wrap {
    padding: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    background: #fff;
  }
  header {
    padding: 20px 100px;
    transition: 0.5s;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
  }
  header .inner {
    max-width: 1700px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .inner h1 {
    width: 20%;
    height: 100%;
  }
  header .inner h1 img {
    height: 100%;
  }
  header .inner nav {
    width: 50%;
  }
  header .inner nav > ul li.main-menu {
    flex: 1;
    text-align: center;
    position: relative;
  }
  header .inner nav > ul li.main-menu:hover > a {
    background: #d6a9a9;
  }
  header .inner nav > ul li.main-menu > a {
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
  }
  header .inner nav ul.sub-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 65px;
    display: none;
  }
  header .inner nav ul.sub-menu li > a {
    display: block;
    color: #fff;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #828080;
  }
  header .inner nav ul.sub-menu li > a:hover {
    color: #000;
  }
  header .inner nav ul.sub-menu li > a:hover::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    z-index: -1;
  }
  header .inner .right-menu {
    width: 20%;
  }
  header .inner .right-menu ul {
    gap: 20px;
    justify-content: flex-end;
  }
  header .inner .right-menu ul li a {
    color: #fff;
  }
  header .inner .right-menu ul li a i {
    color: #fff;
  }
  .wrap {
    width: 90%;
    margin: -40px auto 0;
  }
  .wrap .container {
    width: 100%;
    max-width: 1700px;
    padding: 0 40px;
    margin: auto;
    margin-top: 200px;
    position: relative;
  }
  .wrap .container h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .wrap .container .menu-filter ul.filter {
    display: flex;
    margin-left: -40px;
    padding-bottom: 60px;
  }
  .wrap .container .menu-filter ul.filter li {
    width: 33.3333%;
    margin-left: 40px;
    position: relative;
  }
  .wrap .container .menu-filter ul.filter li > a {
    border: 1px solid #000;
    background: #fff;
    color: #000;
    width: 100%;
    display: block;
    font-size: 24px;
    padding: 15px 20px;
    font-weight: 600;
  }
  .wrap .container .menu-filter ul.filter li ul.filter-sub {
    border: 1px solid #aeaeae;
    background: #fff;
    padding: 10px 15px;
    position: absolute;
    left: 0;
    top: 63px;
    z-index: 99;
    width: 100%;
    display: none;
  }
  .wrap .container .menu-filter ul.filter li ul.filter-sub li {
    line-height: 2.5em;
    font-weight: 600;
    display: block;
    width: 100%;
    margin-left: 0px;
    cursor: pointer;
  }
  .wrap .container .menu-filter ul.filter li ul.filter-sub li:hover {
    background: #3bb822;
  }
  .wrap .container .line {
    border-bottom: 1px solid var(--gray2);
  }
  .wrap .container ul.contents {
    margin-left: -40px;
    font-size: 0;
  }
  .wrap .container ul.contents li {
    display: inline-block;
    width: 33.3333%;
    padding-top: 60px;
    padding-left: 40px;
  }
  .wrap .container ul.contents li a {
    position: relative;
  }
  .wrap .container ul.contents li a .art-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .wrap .container ul.contents li a .art-img img {
    width: 100%;
    height: auto;
    max-width: 103%;
    transition: 0.3s ease;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wrap .container ul.contents li a .art-inner {
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f8f8f8;
  }
  .wrap .container ul.contents li a .art-inner .more {
    margin-top: 10px;
  }
  .wrap .container ul.contents li a .art-inner .more .group {
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 0);
    border-radius: 99px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  .wrap .container ul.contents li a .art-inner .more .group p {
    color: #fff;
  }
  .wrap .container ul.contents li a .art-inner .more .condensation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
  }
  .wrap .container ul.contents li a .art-inner .more .condensation .location {
    white-space: normal;
    overflow-wrap: break-word; /* 자동 줄바꿈 */
    word-break: keep-all; /* 단어가 끊기지 않도록 */
  }
  .wrap .container ul.contents li a .art-inner p {
    color: var(--gray3);
  }
  .wrap .container ul.contents li a .art-inner p.i-title {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    letter-spacing: -0.02em;
    padding-bottom: 5px;
    white-space: normal;
    overflow-wrap: break-word; /* 자동 줄바꿈 */
    word-break: keep-all; /* 단어가 끊기지 않도록 */
  }
  .wrap .container ul.contents li a .art-inner p.date {
    padding-top: 5px;
  }
  .wrap .container ul.contents li a::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--gray);
    opacity: 0;
    transition: 0.3s ease;
    z-index: -1;
  }
  .wrap .container ul.contents li a:hover img {
    width: 105%;
    filter: brightness(0.9);
  }
  .wrap .container ul.contents li a:hover .art-inner {
    background: var(--gray);
    border-bottom: none;
  }
  .wrap .container ul.contents li a:hover .art-inner p {
    color: #000;
  }
  .wrap .container ul.contents li a:hover .art-inner p.i-title {
    color: #000;
  }
  .wrap .container ul.contents li a:hover .art-inner p.ex {
    color: var(--gray3);
  }
  .wrap .container ul.contents li a:hover .art-inner .group {
    background: #e13b3b;
  }
  .wrap .container ul.contents li a:hover .art-inner .group p {
    color: #000;
  }
  .wrap .container ul.contents li a:hover .art-inner .group.yellow {
    /* 전시 */
    background-color: rgb(246, 189, 32);
  }
  .wrap .container ul.contents li a:hover .art-inner .group.blue {
    /* 행사 */
    background-color: rgb(103, 187, 243);
  }
  .wrap .container ul.contents li a:hover .art-inner .group.green {
    /* 교육 */
    background-color: rgb(42, 161, 58);
  }
  .wrap .container ul.contents li a:hover .art-inner .group p {
    font-weight: 500;
  }
  .wrap .container ul.contents li a:hover::after {
    width: 105%;
    height: 105%;
    opacity: 1;
  }
  .wrap .container .pager-container {
    padding-top: 80px;
    margin-bottom: 60px;
  }
  .wrap .container .pager-container nav.pager-nav {
    width: 100%;
  }
  .wrap .container .pager-container nav.pager-nav ul.pager {
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .wrap .container .pager-container nav.pager-nav ul.pager li {
    flex: 1;
    text-align: center;
    border: 1px solid #b51919;
  }
  .wrap .container .pager-container nav.pager-nav ul.pager li a {
    font-size: 24px;
    display: block;
    padding: 5px;
  }
  footer {
    background: var(--gray);
  }
  footer .f-inner {
    width: 90%;
    max-width: 1700px;
    margin: auto;
    padding-top: 60px;
  }
  footer .f-inner .f-top {
    justify-content: space-between;
    margin-bottom: 60px;
    display: flex;
    padding: 0 40px;
  }
  footer .f-inner .f-top .f-logo {
    width: 50%;
  }
  footer .f-inner .f-top .f-logo img {
    width: 50%;
    margin-bottom: 30px;
  }
  footer .f-inner .f-top .f-logo ul li {
    font-weight: 500;
    font-size: 16px;
    color: var(--gray3);
  }
  footer .f-inner .f-top .f-logo ul li a {
    font-weight: 800;
    padding-left: 5px;
  }
  footer .f-inner .f-top ul.f-menu li,
  footer .f-inner .f-top ul.f-information li {
    line-height: 40px;
    font-weight: 800;
    font-size: 16px;
  }
  footer .f-inner .f-top .family {
    width: 20%;
  }
  footer .f-inner .f-top .family p {
    margin-bottom: 10px;
    font-weight: 800;
  }
  footer .f-inner .f-top .family select {
    width: 100%;
    height: 40px;
    padding: 10px;
  }
  footer .f-inner .line {
    border-top: 1px solid #bcbcbc;
    padding-bottom: 20px;
  }
  footer .f-inner .f-btn {
    display: flex;
    padding: 0 40px 60px;
    /* 혹시나 모바일의 영향이 있을까하는.... */
    justify-content: space-between;
    align-self: center;
  }
  footer .f-inner .f-btn p {
    color: var(--gray2);
  }
  footer .f-inner .f-btn .sns {
    width: 25%;
  }
  footer .f-inner .f-btn .sns ul {
    width: 100%;
    gap: 20px;
  }
  footer .f-inner .f-btn .sns ul li {
    flex: 1;
  }
  footer .f-inner .f-btn .sns ul li img {
    width: 100%;
  }
}/*# sourceMappingURL=index2.css.map */