@import url(./font.css);
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin po-c {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 600px) {
  header {
    display: none;
  }

  .wrap {
    .container {
      width: 100%;
      padding: 0 40px;
      margin: auto;
      position: relative;
      h2 {
        font-size: 40px;
        margin-bottom: 40px;
      }
      .menu-filter {
        ul.filter {
          padding-bottom: 40px;
          li {
            // position: relative;
            padding-bottom: 15px;
            cursor: pointer;
            .btn {
              box-shadow: 0 0 0 2px #000 inset;
              background: #fff;
              display: flex;
              justify-content: space-between;
              font-size: 20px;
              font-weight: 600;
              a {
                padding: 10px 15px;
                width: 100%;
              }
              .toggle {
                width: 50px;
                height: 50px;
                background: #000;
                @include flex-c;
                i {
                  color: #fff;
                  transform: rotate(-90deg);
                  transition: 0.5s;
                }
              }
            }
            &.on {
              .toggle {
                i {
                  transform: rotate(90deg);
                }
              }
            }
            &:hover {
              .btn {
                a {
                  background: #000;
                  color: #fff;
                }
              }
            }

            ul.filter-sub {
              border: 1px solid #aeaeae;
              background: #fff;
              padding: 10px 15px;
              // position: absolute;
              // left: 0;
              // top: 60px;
              // z-index: 99;
              width: 100%;
              // display: none;
              li {
                line-height: 2.5em;
                font-weight: 600;
                font-size: 20px;
                display: block;
                width: 100%;
                margin-left: 0px;
                cursor: pointer;
                &:hover {
                  background: #3bb822;
                }
              }
            }
          }
        }
      }
      .line {
        border-bottom: 1px solid var(--gray2);
      }
      ul.contents {
        margin-left: -40px;

        // 폰트사이즈 없애지마, li 사이가 벌어진단 말이야*****
        font-size: 0;
        li {
          display: inline-block;
          width: 100%;
          padding-top: 60px;
          padding-left: 40px;
          a {
            position: relative;
            .art-img {
              @include flex-c;
              overflow: hidden;
              img {
                width: 100%;
                height: auto;
                max-width: 103%;
                transition: 0.3s ease;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
            .art-inner {
              height: 300px;
              padding: 20px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              background: #f8f8f8;
              .more {
                margin-top: 10px;
                .group {
                  width: 60px;
                  height: 60px;
                  background: rgb(0, 0, 0);
                  border-radius: 99px;
                  font-weight: 500;
                  @include flex-c;
                  margin-right: 15px;
                  p {
                    color: #fff;
                  }
                }
                .condensation {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  font-weight: 500;
                  .location {
                    white-space: normal;
                    overflow-wrap: break-word; /* 자동 줄바꿈 */
                    word-break: keep-all; /* 단어가 끊기지 않도록 */
                  }
                }
              }
              p {
                color: var(--gray3);
                &.i-title {
                  color: #333;
                  font-size: 24px;
                  font-weight: 600;
                  width: 100%;
                  letter-spacing: -0.02em;
                  padding-bottom: 5px;
                  white-space: normal;
                  overflow-wrap: break-word; /* 자동 줄바꿈 */
                  word-break: keep-all; /* 단어가 끊기지 않도록 */
                }
                &.date {
                  padding-top: 5px;
                }
              }
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              @include po-c;
              width: 100%;
              height: 100%;
              background-color: var(--gray);
              opacity: 0;
              transition: 0.3s ease;
              z-index: -1;
            }
            &:hover {
              .art-img {
                img {
                  width: 115%;
                  filter: brightness(0.9);
                }
              }
              .art-inner {
                background: var(--gray);
                // border-bottom: none;
                p {
                  &.i-title {
                    color: #333;
                  }
                  &.ex {
                    color: var(--gray3);
                  }
                }
                .group {
                  &.yellow {
                    /* 전시 */
                    background-color: rgba(246, 189, 32, 1);
                  }
                  &.blue {
                    /* 행사 */
                    background-color: rgb(103, 187, 243);
                  }
                  &.green {
                    /* 교육 */
                    background-color: rgb(42, 161, 58);
                  }
                  background: #e13b3b;
                  p {
                    color: #000;
                    font-weight: 600;
                  }
                }
              }
              &::after {
                width: 105%;
                height: 104%;
                opacity: 1;
              }
            }
          }
        }
      }

      // 페이지 네비
      .pager-container {
        padding-top: 60px;
        margin-bottom: 80px;
        nav.pager-nav {
          width: 100%;
          ul.pager {
            width: 20%;
            margin: auto;
            display: flex;
            justify-content: center;
            gap: 5px;
            li {
              flex: 1;
              text-align: center;
              border: 1px solid #b51919;
              a {
                font-size: 24px;
                display: block;
                padding: 5px;
                color: var(--gray3);
              }
              &.on {
                a {
                  color: #333;
                }
              }
            }
          }
        }
      }
    }
  }

  // ----------------------------------------------
  // footer
  footer {
    padding: 0 40px;
    background: var(--gray);
    .f-top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 24px;
      .f-logo {
        width: 100%;
        // padding-bottom: 24px;

        img {
          width: 60%;
          margin-bottom: 15px;
        }
        li {
          font-weight: 500;
          a {
            font-weight: 800;
          }
        }
      }
      .f-logo > ul {
        border-top: none;
      }
      ul {
        border-top: 1px solid var(--gray2);
        padding: 20px 0;
        li {
          font-weight: 900;
          font-size: 16px;
          color: var(--gray2);
        }
      }
      .f-information {
        border-bottom: 1px solid var(--gray2);
      }
      .family {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid var(--gray2);
        p {
          margin-bottom: 10px;
          font-weight: 800;
        }
        select {
          width: 100%;
          height: 40px;
          padding: 10px;
        }
      }
    }
    .f-btn {
      display: flex;
      flex-direction: column-reverse;

      p {
        color: var(--gray2);
        width: 100%;
        text-align: center;
        // border-top: 1px solid #000;
        padding: 24px 0 60px;
      }
      .sns {
        width: 100%;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--gray3);

        ul {
          margin: auto;
          width: 80%;
          gap: 20px;
          li {
            flex: 1;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) {
  body {
    background: #fff;
  }
  header {
    padding: 20px 100px;
    transition: 0.5s;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    .inner {
      // width: 90%;
      max-width: 1700px;
      height: 100%;
      margin: auto;
      @include flex-c(space-between);

      h1 {
        width: 20%;
        height: 100%;
        img {
          height: 100%;
        }
      }
      nav {
        width: 50%;
        display: none;
        > ul {
          li.main-menu {
            flex: 1;
            text-align: center;
            position: relative;
            &:hover > a {
              background: #d6a9a9;
            }
            > a {
              display: block;
              width: 100%;
              padding: 10px;
            }
          }
        }
        // 음 메인메뉴 안에 넣으면 안되는지 이해가 잘....
        ul.sub-menu {
          width: 100%;
          position: absolute;
          left: 0;
          top: 65px;
          display: none;
          li {
            > a {
              display: block;
              color: #fff;
              padding: 6px;
              font-size: 16px;
              border: 1px solid #828080;
              &:hover {
                color: #333;
                &::before {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 200px;
                  background: #fff;
                  z-index: -1;
                }
              }
            }
          }
        }
      }
      .right-menu {
        width: 20%;
        ul {
          gap: 20px;
          justify-content: flex-end;
          li {
            a {
              color: #fff;
              i {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .wrap {
    width: 95%;
    margin: -40px auto 0;

    .container {
      width: 100%;
      max-width: 1200px;
      padding: 0 40px;
      margin: auto;
      margin-top: 200px;
      position: relative;
      h2 {
        font-size: 40px;
        margin-bottom: 40px;
      }
      .menu-filter {
        ul.filter {
          margin-left: -40px;
          padding-bottom: 40px;
          >li {
            margin-left: 40px;
            position: relative;
            padding-bottom: 20px;
            cursor: pointer;
            .btn {
              box-shadow: 0 0 0 2px #000 inset;
              background: #fff;
              display: flex;
              justify-content: space-between;
              font-size: 24px;
              font-weight: 600;
              a {
                padding: 15px 20px;
                width: 100%;
              }
              .toggle {
                width: 60px;
                height: 60px;
                background: #000;
                @include flex-c;
                i {
                  color: #fff;
                  transform: rotate(-90deg);
                  transition: 0.35s ease;
                }
              }
            }
            &.on {
              a {
                background: #000;
                color: #fff;
              }
              .toggle {
                i {
                  transform: rotate(90deg);
                }
              }
            }
            &:hover {
              .btn {
                a {
                  background: #000;
                  color: #fff;
                }
              }
            }

            ul.filter-sub {
              border: 1px solid #aeaeae;
              background: #fff;
              padding: 10px 15px;
              position: absolute;
              left: 0;
              top: 60px;
              z-index: 99;
              width: 100%;
              display: none;

              &.on {
                display: block;
              }

              li {
                line-height: 2.5em;
                font-weight: 600;
                font-size: 20px;
                display: block;
                width: 100%;
                margin-left: 0px;
                cursor: pointer;
                color: var(--gray3);
                &:hover {
                  color: #000;
                  border: 1px solid #000;
                }
              }
            }
          }
        }
      }
      .line {
        border-bottom: 1px solid var(--gray2);
      }
      ul.contents {
        margin-left: -40px;

        // 폰트사이즈 없애지마, li 사이가 벌어진단 말이야*****
        font-size: 0;
        li {
          display: inline-block;
          width: 50%;
          padding-top: 60px;
          padding-left: 40px;
          a {
            position: relative;
            .art-img {
              @include flex-c;
              overflow: hidden;
              img {
                width: 100%;
                height: auto;
                max-width: 103%;
                transition: 0.3s ease;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
            .art-inner {
              height: 300px;
              max-height: 300px;
              overflow: hidden;
              padding: 20px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              background: #f8f8f8;
              .more {
                margin-top: 10px;
                .group {
                  width: 60px;
                  height: 60px;
                  background: rgb(0, 0, 0);
                  border-radius: 99px;
                  font-weight: 500;
                  @include flex-c;
                  margin-right: 15px;
                  p {
                    color: #fff;
                  }
                }
                .condensation {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  font-weight: 500;
                  .location {
                    white-space: normal;
                    overflow-wrap: break-word; /* 자동 줄바꿈 */
                    word-break: keep-all; /* 단어가 끊기지 않도록 */
                  }
                }
              }
              p {
                color: var(--gray3);
                &.i-title {
                  color: #333;
                  font-size: 24px;
                  font-weight: 600;
                  width: 100%;
                  letter-spacing: -0.02em;
                  padding-bottom: 5px;
                  white-space: normal;
                  overflow-wrap: break-word; /* 자동 줄바꿈 */
                  word-break: keep-all; /* 단어가 끊기지 않도록 */
                }
                &.date {
                  padding-top: 5px;
                }
              }
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              @include po-c;
              width: 100%;
              height: 100%;
              background-color: var(--gray);
              opacity: 0;
              transition: 0.3s ease;
              z-index: -1;
            }
            &:hover {
              img {
                width: 105%;
                filter: brightness(0.9);
              }
              .art-inner {
                background: var(--gray);
                // border-bottom: none;
                p {
                  &.i-title {
                    color: #333;
                  }
                  &.ex {
                    color: var(--gray3);
                  }
                }
                .group {
                  &.yellow {
                    /* 전시 */
                    background-color: rgba(246, 189, 32, 1);
                  }
                  &.blue {
                    /* 행사 */
                    background-color: rgb(103, 187, 243);
                  }
                  &.green {
                    /* 교육 */
                    background-color: rgb(42, 161, 58);
                  }
                  background: #e13b3b;
                  p {
                    color: #000;
                    font-weight: 600;
                  }
                }
              }
              &::after {
                width: 105%;
                height: 104%;
                opacity: 1;
              }
            }
          }
        }
        // >div{
        // }
      }

      // 페이지 네비
      .pager-container {
        padding-top: 60px;
        margin-bottom: 80px;
        nav.pager-nav {
          width: 100%;
          ul.pager {
            width: 20%;
            margin: auto;
            display: flex;
            justify-content: center;
            gap: 5px;
            li {
              flex: 1;
              text-align: center;
              border: 1px solid #b51919;
              a {
                font-size: 24px;
                display: block;
                padding: 5px;
                color: var(--gray3);
              }
              &.on {
                a {
                  color: #333;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    background: var(--gray);
    // border: 3px solid #b30f0f;
    .f-inner {
      width: 90%;
      max-width: 1700px;
      margin: auto;
      padding-top: 60px;
      .f-top {
        justify-content: space-between;
        margin-bottom: 60px;
        display: flex;
        .f-logo {
          width: 34%;
          img {
            width: 50%;
            margin-bottom: 30px;
          }
          ul {
            li {
              font-weight: 500;
              font-size: 16px;
              color: var(--gray3);
              a {
                font-weight: 800;
                padding-left: 5px;
              }
            }
          }
        }
        ul.f-menu,
        ul.f-information {
          margin-top: -5px;
          li {
            line-height: 35px;
            font-weight: 800;
            font-size: 16px;
            a {
              position: relative;
              display: inline-block;
              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: black; /* 선의 색상 */
                transition: width 0.3s ease;
              }
              &:hover::after {
                width: 100%;
              }
            }
          }
        }

        .family {
          width: 20%;
          p {
            margin-bottom: 10px;
            font-weight: 800;
          }
          select {
            width: 100%;
            height: 40px;
            padding: 10px;
          }
        }
      }
    }
    .f-bottom {
      background: #000000;
      .inner {
        width: 90%;
        max-width: 1700px;
        margin: auto;
        padding: 20px 40px;
        @include flex-c(space-between);
        .line {
          border-top: 1px solid #bcbcbc;
          padding-bottom: 10px;
        }
        p {
          color: var(--gray2);
        }
        .sns {
          width: 35%;
          ul {
            width: 100%;
            gap: 15px;
            li {
              flex: 1;
              img {
                width: 100%;
                filter: invert(1);
              }
            }
          }
        }
      }
    }
  }
}

// -----------------------------------------------------------------
@media only screen and (min-width: 1200px) {
  body {
    background: #fff;
  }
  header {
    padding: 20px 100px;
    transition: 0.5s;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    .inner {
      // width: 90%;
      max-width: 1700px;
      height: 100%;
      margin: auto;
      @include flex-c(space-between);

      h1 {
        width: 20%;
        height: 100%;
        img {
          height: 100%;
        }
      }
      nav {
        width: 50%;
        > ul {
          li.main-menu {
            flex: 1;
            text-align: center;
            position: relative;
            &:hover > a {
              background: #d6a9a9;
            }
            > a {
              color: #333;
              display: block;
              width: 100%;
              padding: 10px;
            }
          }
        }
        // 음 메인메뉴 안에 넣으면 안되는지 이해가 잘....
        ul.sub-menu {
          width: 100%;
          position: absolute;
          left: 0;
          top: 65px;
          display: none;
          li {
            > a {
              display: block;
              color: #fff;
              padding: 6px;
              font-size: 16px;
              border: 1px solid #828080;
              &:hover {
                color: #333;
                &::before {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 200px;
                  background: #fff;
                  z-index: -1;
                }
              }
            }
          }
        }
      }
      .right-menu {
        width: 20%;
        ul {
          gap: 20px;
          justify-content: flex-end;
          li {
            a {
              color: #fff;
              i {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .wrap {
    width: 90%;
    margin: -40px auto 0;

    .container {
      width: 100%;
      max-width: 1700px;
      .menu-filter {
        ul.filter {
          display: flex;
          li {
            width: 33.3333%;
          }
        }
      }
      ul.contents {
        li {
          width: 33.3333%;
        }
        // >div{
        // }
      }
    }
  }
  footer {
    background: var(--gray);
    // border: 3px solid #b30f0f;
    .f-inner {
      .f-top {
        padding: 0 40px;
        .f-logo {
          width: 50%;
          img {
            width: 40%;
          }
        }
        ul.f-menu,
        ul.f-information {
          margin-top: -7px;
          li {
            line-height: 40px;
          }
        }

        .family {
          width: 20%;
          p {
            margin-bottom: 10px;
          }
          select {
            width: 100%;
            height: 40px;
            padding: 10px;
          }
        }
      }
    }
    .f-bottom {
      .inner {
        .sns {
          width: 18%;
        }
      }
    }
  }
}
