@charset "UTF-8";
body[data-theme=light] {
  --color-gray100: #111;
  --color-gray200: #333;
  --color-gray300: #666;
  --color-gray400: #999;
  --color-gray500: #ddd;
  --color-gray600: #eee;
  --color-gray700: #fff;
  --color-gray700-gradetion: rgba(17, 17, 17, 0);
  --color-sect2-bg: #eee;
  --color-download-btn: #ddd;
}

body[data-theme=dark] {
  --color-gray100: #fff;
  --color-gray200: #eee;
  --color-gray300: #ddd;
  --color-gray400: #999;
  --color-gray500: #666;
  --color-gray600: #333;
  --color-gray700: #111;
  --color-gray700-gradetion: rgba(17, 17, 17, 0);
  --color-sect2-bg: #222;
  --color-download-btn: #333;
}

html,
body {
  position: relative;
  color: var(--color-gray600);
  background-color: var(--color-gray700);
  font-size: 10px;
}
html a,
body a {
  color: inherit;
  cursor: pointer;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
}
header nav ul li a,
header nav ul li i {
  color: #333;
}

.wrap {
  background-color: var(--color-gray700);
}
.wrap .bg_img {
  position: relative;
  height: 100vh;
  background-image: url(../imgs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap .bg_img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}
.wrap .bg_img .introduce {
  margin: auto;
  height: 86%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.wrap .bg_img .introduce h2 {
  line-height: 1.4;
}
.wrap .bg_img .introduce .txt > p {
  color: var(--color-gray200);
  line-height: 1.6;
  font-weight: 400;
}
.wrap .bg_img .introduce .txt .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .bg_img .introduce .txt .bottom .visit {
  color: var(--color-gray100);
  font-weight: 600;
  display: inline-block;
  padding: 20px 25px;
  border: 1px solid var(--color-gray100);
  border-radius: 50px;
}
.wrap .bg_img .introduce .txt .bottom .visit:hover {
  background-color: var(--color-gray100);
  color: var(--color-gray600);
}
.wrap .bg_img .introduce .txt .bottom .status {
  color: var(--color-gray700);
  text-align: center;
  font-weight: 600;
  background: var(--color-gray100);
}
.wrap .bg_img .introduce .txt .bottom .status i {
  padding-right: 6px;
  color: var(--color-gray700);
}
.wrap .bg_img .introduce .txt .bottom .status #museum_status {
  font-weight: 600;
  color: var(--color-gray700);
  display: block;
}

.sect1 {
  width: 95%;
  background-color: var(--color-gray700);
  position: relative;
  z-index: 99;
  border-radius: 20px;
}
.sect1 h3 {
  color: var(--color-gray200);
}
.sect1 .art1 .more {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sect1 .art1 .more .btn {
  display: flex;
  align-items: center;
}
.sect1 .art1 .more .btn p {
  color: #aaa;
}
.sect1 .art1 .swiper {
  width: 100%;
  height: 100%;
}
.sect1 .art1 .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect1 .art1 .swiper .swiper-slide:hover .img_box::before {
  opacity: 1;
}
.sect1 .art1 .swiper .swiper-slide:hover .img_box::after {
  opacity: 1;
}
.sect1 .art1 .swiper .swiper-slide:hover .img_box img {
  transform: scale(1.05);
}
.sect1 .art1 .swiper .swiper-slide a {
  width: 100%;
}
.sect1 .art1 .swiper .swiper-slide a .img_box {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.sect1 .art1 .swiper .swiper-slide a .img_box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  opacity: 0;
  transition: 0.3s;
}
.sect1 .art1 .swiper .swiper-slide a .img_box::after {
  content: "프로그램 정보 보기";
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transform: translateX(-50%);
  opacity: 0;
  transition-duration: 0.1s;
}
.sect1 .art1 .swiper .swiper-slide a .img_box img {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.sect1 .art1 .swiper .swiper-slide a .txt .title {
  color: var(--color-gray200);
  font-weight: 500;
}
.sect1 .art1 .swiper .swiper-slide a .txt .sub_txt p {
  color: var(--color-gray200);
}
.sect1 .art1 .swiper .pagination_area {
  position: relative;
  padding: 40px;
  display: flex;
}
.sect1 .art1 .swiper .pagination_area .swiper-pagination {
  position: absolute;
  top: 48%;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--color-gray500);
}
.sect1 .art1 .swiper .pagination_area .swiper-pagination span {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--color-gray100);
}
.sect1 .art1 .swiper .pagination_area .btn_box {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.sect1 .art1 .swiper .pagination_area .btn_box > div {
  position: absolute;
}
.sect1 .art1 .swiper .pagination_area .btn_box > div::after {
  display: none;
}
.sect1 .art1 .swiper .pagination_area .btn_box > div span {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-gray100);
  position: relative;
}
.sect1 .art1 .swiper .pagination_area .btn_box > div span.next::before, .sect1 .art1 .swiper .pagination_area .btn_box > div span.next::after {
  content: "";
  position: absolute;
  right: 1px;
  width: 50%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-gray100);
  transform-origin: right;
}
.sect1 .art1 .swiper .pagination_area .btn_box > div span.next::before {
  top: 0;
  transform: rotate(45deg);
}
.sect1 .art1 .swiper .pagination_area .btn_box > div span.next::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.sect1 .art1 .swiper .pagination_area .btn_box > div span.prev::before, .sect1 .art1 .swiper .pagination_area .btn_box > div span.prev::after {
  content: "";
  position: absolute;
  left: 1px;
  width: 50%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-gray100);
  transform-origin: left;
}
.sect1 .art1 .swiper .pagination_area .btn_box > div span.prev::before {
  top: 0;
  transform: rotate(45deg);
}
.sect1 .art1 .swiper .pagination_area .btn_box > div span.prev::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.sect1 .art2 .collections .left a,
.sect1 .art2 .collections .right a {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.sect1 .art2 .collections .left a .collection_name,
.sect1 .art2 .collections .right a .collection_name {
  position: absolute;
  left: 30px;
  bottom: 25px;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  z-index: 1;
}
.sect1 .art2 .collections .left {
  border-radius: 20px;
  overflow: hidden;
  height: 360px;
}
.sect1 .art2 .collections .left a .img_box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sect1 .art2 .collections .left a .img_box img {
  width: 100%;
  transform: scale(1);
  transition: 0.3s ease;
  min-height: 600px;
}
.sect1 .art2 .collections .left a:hover .img_box::after {
  opacity: 1;
}
.sect1 .art2 .collections .left a:hover img {
  transform: scale(1.05);
}
.sect1 .art2 .collections .grid {
  display: grid;
  gap: 4px;
  margin-top: 4px;
}
.sect1 .art2 .collections .grid a .img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sect1 .art2 .collections .grid a .img_box img {
  transform: scale(1);
  transition: 0.3s ease;
}
.sect1 .art2 .collections .grid a:nth-child(3) .img_box {
  align-items: start;
}
.sect1 .art2 .collections .grid a:hover::after {
  opacity: 0.8;
}
.sect1 .art2 .collections .grid a:hover img {
  transform: scale(1.1);
}
.sect1 .art2 ul {
  display: flex;
  gap: 8px;
}
.sect1 .art2 ul li {
  width: 25%;
}
.sect1 .art2 ul li a .link {
  display: block;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 20px;
  white-space: nowrap;
}
.sect1 .art2 ul li a .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-gray500);
  transition: 0.3s;
}
.sect1 .art2 ul li a .link,
.sect1 .art2 ul li a .txt {
  color: var(--color-gray200);
}

.sect2 {
  width: 95%;
  margin: auto;
}
.sect2 .top {
  border-radius: 20px;
  background-color: var(--color-sect2-bg);
  text-align: center;
}
.sect2 .top h3 {
  color: var(--color-gray100);
}
.sect2 .top p {
  color: var(--color-gray200);
}
.sect2 .top a {
  background-color: var(--color-download-btn);
  color: var(--color-gray200);
  display: inline-block;
  font-weight: 600;
  border-radius: 50px;
  transition: 0.2s;
}
.sect2 .top a:hover {
  background-color: var(--color-gray200);
  color: var(--color-gray600);
  transition: 0.5s;
}
.sect2 .bottom .item_txt {
  text-align: center;
}
.sect2 .bottom .item_txt .title p,
.sect2 .bottom .item_txt .sub_txt p {
  color: var(--color-gray100);
}
.sect2 .bottom .item_txt .title {
  font-weight: 600;
}

footer .f_top .f_logo li {
  color: var(--color-gray400);
}
footer .f_top .f_logo li a {
  color: var(--color-gray200);
}
footer .f_top .site_map .f_menu li {
  line-height: 1;
}
footer .f_top .site_map .f_menu li a {
  color: var(--color-gray200);
  font-weight: 600;
}
footer .f_top .site_map .exhibition > a,
footer .f_top .site_map .collection > a,
footer .f_top .site_map .visit > a {
  display: inline-block;
  color: var(--color-gray200);
  font-weight: 600;
}
footer .f_top .site_map .exhibition ul li a,
footer .f_top .site_map .collection ul li a,
footer .f_top .site_map .visit ul li a {
  color: var(--color-gray400);
  display: inline-block;
  font-weight: 400;
  position: relative;
}
footer .f_top .site_map .exhibition ul li a::before,
footer .f_top .site_map .collection ul li a::before,
footer .f_top .site_map .visit ul li a::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-gray400);
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}
footer .f_top .site_map .exhibition ul li a:hover::before,
footer .f_top .site_map .collection ul li a:hover::before,
footer .f_top .site_map .visit ul li a:hover::before {
  opacity: 1;
  transition: opacity 0.3s ease;
}
footer .line {
  border-top: 1px solid var(--color-gray500);
}
footer .f_bottom {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .f_bottom p {
  color: var(--color-gray400);
}
footer .f_bottom .f_information {
  display: flex;
}
footer .f_bottom .f_information a {
  color: var(--color-gray200);
  font-weight: 500;
}
footer .f_bottom .sns ul {
  display: flex;
}
footer .f_bottom .sns ul li img {
  width: 100%;
  filter: invert(1);
}

.mode-label {
  display: none;
  display: inline-block;
  z-index: 1000;
  width: 80px;
  margin-top: 20px;
  padding: 12px;
  border-radius: 20px;
  background: var(--color-gray500);
  color: var(--color-gray200);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.mode-label svg {
  display: none;
}
.mode-label svg.on {
  display: block;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
}

input[type=checkbox]:checked + .mode-label::after {
  display: none;
}

@media only screen and (max-width: 600px) {
  body .no-scroll {
    overflow: hidden;
  }
  header {
    height: 60px;
    padding: 12px 0px;
  }
  header .inner {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .inner h1 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .inner h1 img {
    width: 100%;
  }
  header .inner nav {
    width: 50%;
    display: none;
  }
  header .inner nav ul li {
    flex: 1;
    text-align: center;
  }
  header .inner .mobile_menu {
    height: 40px;
    width: 40px;
    padding: 10px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .inner .mobile_menu .mobile_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  header .inner .mobile_menu .mobile_box span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  header .inner .mobile_menu .mobile_box span::before, header .inner .mobile_menu .mobile_box span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
    pointer-events: none;
  }
  header .inner .mobile_menu .mobile_box span::before {
    top: -10px;
  }
  header .inner .mobile_menu .mobile_box span::after {
    bottom: -10px;
    transform: rotate(0);
  }
  header .inner .mobile_menu .mobile_box.on span {
    background-color: transparent;
  }
  header .inner .mobile_menu .mobile_box.on span::before, header .inner .mobile_menu .mobile_box.on span::after {
    background-color: var(--color-gray100);
  }
  header .inner .mobile_menu .mobile_box.on span::before {
    transform: rotate(45deg);
    top: 0;
  }
  header .inner .mobile_menu .mobile_box.on span::after {
    transform: rotate(-45deg);
    bottom: 0;
  }
  header .inner .mobile_menu ul.mobile_nav {
    display: none;
    overflow: scroll;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    padding: 100px 20px 40px;
    background-color: var(--color-gray700);
    overflow-y: auto;
  }
  header .inner .mobile_menu ul.mobile_nav.on {
    display: block;
  }
  header .inner .mobile_menu ul.mobile_nav li.main-menu > a {
    display: inline-block;
    font-size: 6vw;
    font-weight: 600;
    color: var(--color-gray100);
    padding: 20px 0 10px;
  }
  header .inner .mobile_menu ul.mobile_nav li.main-menu ul.sub-menu a {
    display: inline-block;
    font-size: 6vw;
    font-weight: 400;
    color: var(--color-gray400);
    padding: 10px 0;
  }
  header .inner .mobile_menu ul.mobile_nav li.main-menu ul.sub-menu a:hover {
    color: var(--color-gray200);
  }
  header .inner .mobile_menu ul.mobile_nav .search {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: 4vw;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
  }
  header .inner .mobile_menu ul.mobile_nav .search input {
    display: block;
    width: 85%;
    height: 60px;
    padding: 10px;
    background-color: var(--color-gray600);
    border-radius: 10px 0 0 10px;
    font-size: 4vw;
    font-weight: 400;
    color: var(--color-gray100);
    border: none;
    outline: none;
  }
  header .inner .mobile_menu ul.mobile_nav .search input::placeholder {
    color: var(--color-gray400);
  }
  header .inner .mobile_menu ul.mobile_nav .search .search_icon {
    padding: 10px;
    width: 15%;
    height: 100%;
    border: 1px solid var(--color-gray700);
    background-color: var(--color-gray200);
    position: relative;
  }
  header .inner .mobile_menu ul.mobile_nav .search .search_icon i {
    position: absolute;
    color: var(--color-gray700);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .inner .mobile_menu ul.mobile_nav .login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  header .inner .mobile_menu ul.mobile_nav .login a {
    width: 100%;
    height: 60px;
    border: 1px solid var(--color-gray200);
    border-radius: 10px;
    font-size: 4vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .inner .mobile_menu ul.mobile_nav .login a span {
    color: var(--color-gray100);
  }
  header .inner .right-menu {
    display: none;
    width: 20%;
  }
  header .inner .right-menu ul {
    gap: 20px;
    justify-content: flex-end;
  }
  header .inner .right-menu ul li a {
    white-space: nowrap;
    color: var(--color-gray100);
  }
  header .inner .right-menu ul li a i {
    color: var(--color-gray100);
  }
  header .scrolled {
    background-color: var(--color-gray100);
    border-bottom: 1px solid #e4e4e4;
  }
  header .scrolled nav ul li a {
    color: var(--color-gray700);
  }
  header .scrolled .right-menu ul li a {
    color: var(--color-gray700);
  }
  header .scrolled .right-menu ul li a i {
    color: var(--color-gray700);
  }
  .wrap .bg_img {
    background-position: top center;
  }
  .wrap .bg_img::after {
    height: 80%;
    background: linear-gradient(to top, var(--color-gray700) 20%, var(--color-gray700-gradetion) 80%);
  }
  .wrap .bg_img .introduce {
    width: 95%;
    padding: 14vh 10px 0;
    gap: 14rem;
    text-align: center;
  }
  .wrap .bg_img .introduce h2 {
    font-size: 7vw;
    line-height: 1.4;
  }
  .wrap .bg_img .introduce .txt p {
    word-break: keep-all;
    padding-bottom: 3vh;
    font-size: 14px;
  }
  .wrap .bg_img .introduce .txt p br {
    display: none;
  }
  .wrap .bg_img .introduce .txt .bottom {
    flex-direction: column;
    background-color: transparent;
  }
  .wrap .bg_img .introduce .txt .bottom .visit {
    padding: 20px 25px;
    font-size: 1.6rem;
  }
  .wrap .bg_img .introduce .txt .bottom .status {
    margin-top: 5vh;
    padding: 2vh;
    border-radius: 40px;
  }
  .wrap .bg_img .introduce .txt .bottom .status i {
    display: none;
  }
  .wrap .animate .title h2 {
    transform: translateX(0);
    transition: 0.5s ease;
  }
  .wrap .animate .title p:nth-child(1) {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.1s;
  }
  .wrap .animate .title p:nth-child(2) {
    transform: translateX(0);
    transition: 0.5s ease;
    transition-delay: 0.2s;
  }
  .wrap .animate .title p.artist {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.25s;
  }
  .wrap h3 {
    font-size: 6vw;
    padding-bottom: 20px;
  }
  .wrap .sect1 {
    padding: 80px 10px 60px;
    margin: -40px auto 0;
  }
  .wrap .sect1 .art1 {
    margin-bottom: 60px;
  }
  .wrap .sect1 .art1 .more {
    padding-bottom: 20px;
    align-items: center;
  }
  .wrap .sect1 .art1 .more h3 {
    padding-bottom: 0;
  }
  .wrap .sect1 .art1 .more a.btn {
    display: flex;
    align-items: center;
  }
  .wrap .sect1 .art1 .more a.btn p {
    font-size: 3vw;
    font-weight: 400;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt {
    padding: 0 5px;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt .title {
    font-size: 2rem;
    font-weight: 400;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt .sub_txt p {
    font-size: 1.6rem;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination {
    width: 60%;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .btn_box {
    width: 100px;
    height: 50px;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .btn_box > div {
    top: 54%;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .btn_box > div i {
    font-size: 6vw;
  }
  .wrap .sect1 .art2 .collections {
    padding-bottom: 40px;
  }
  .wrap .sect1 .art2 .collections .left .collection_name,
  .wrap .sect1 .art2 .collections .right .collection_name {
    left: 15px;
    bottom: 10px;
    font-size: 5vw;
    z-index: 1;
  }
  .wrap .sect1 .art2 .collections .left {
    height: 200px;
  }
  .wrap .sect1 .art2 .collections .left a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(17, 17, 17, 0.6196078431) 0%, rgba(17, 17, 17, 0) 90%);
    opacity: 0.9;
  }
  .wrap .sect1 .art2 .collections .left a .img_box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .sect1 .art2 .collections .left a .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrap .sect1 .art2 .collections .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrap .sect1 .art2 .collections .grid a {
    height: 150px;
  }
  .wrap .sect1 .art2 .collections .grid a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(17, 17, 17, 0.6196078431) 0%, rgba(17, 17, 17, 0) 90%);
    opacity: 0.9;
  }
  .wrap .sect1 .art2 .collections .grid a .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrap .sect1 .art2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
  }
  .wrap .sect1 .art2 ul li {
    width: 100%;
  }
  .wrap .sect1 .art2 ul li a {
    display: block;
  }
  .wrap .sect1 .art2 ul li a .link {
    width: 100%;
    font-size: 5vw;
    padding-bottom: 10px;
  }
  .wrap .sect1 .art2 ul li a .link::after {
    width: 100%;
    display: none;
  }
  .wrap .sect1 .art2 ul li a .txt {
    display: none;
  }
  .wrap .sect2 {
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .wrap .sect2 .top {
    margin-bottom: 60px;
    padding: 40px 10px;
  }
  .wrap .sect2 .top .app h3 {
    padding-bottom: 20px;
    font-size: 6vw;
    line-height: 1.4;
  }
  .wrap .sect2 .top .app h3 br {
    display: block;
  }
  .wrap .sect2 .top .app p {
    font-size: 4vw;
    padding-bottom: 40px;
    word-break: keep-all;
  }
  .wrap .sect2 .top .app p br {
    display: none;
  }
  .wrap .sect2 .top .app a {
    font-size: 1.6rem;
    padding: 15px 40px;
  }
  .wrap .sect2 .top .q {
    display: none;
  }
  .wrap .sect2 .top .q p {
    color: var(--color-gray100);
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .q ul.q_list li {
    border-bottom: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .top .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: var(--color-gray100);
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .top .q ul.q_list li:nth-child(1) {
    border-top: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vw;
  }
  .wrap .sect2 .bottom a.item {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .wrap .sect2 .bottom a.item:nth-child(5) {
    border-right: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .title p,
  .wrap .sect2 .bottom a.item .item_txt .title i {
    color: var(--color-gray100);
    font-size: 4vw;
    width: 100%;
  }
  .wrap .sect2 .bottom a.item .item_txt .title i {
    display: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .sub_txt {
    display: none;
  }
  footer {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    padding: 0 10px;
  }
  footer .f_top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  footer .f_top .f_logo {
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-gray600);
  }
  footer .f_top .f_logo img {
    width: 60%;
    margin-bottom: 15px;
  }
  footer .f_top .f_logo ul li {
    font-weight: 500;
    font-size: 4vw;
    margin-bottom: 6px;
  }
  footer .f_top .f_logo ul li a {
    font-weight: 800;
    margin-left: 5px;
  }
  footer .f_top .site_map a {
    font-size: 6vw;
  }
  footer .f_top .site_map ul {
    padding-top: 10px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-gray600);
  }
  footer .f_top .site_map ul li {
    font-weight: 900;
    margin-bottom: 10px;
  }
  footer .f_top .site_map ul li a {
    font-size: 5vw;
  }
  footer .f_top .site_map .visit ul {
    margin-bottom: 0;
  }
  footer .f_top .f_information {
    border-bottom: 1px solid var(--gray3);
  }
  footer .f_top .family {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--gray3);
  }
  footer .f_top .family p {
    margin-bottom: 10px;
    font-weight: 800;
  }
  footer .f_top .family select {
    width: 100%;
    height: 40px;
    padding: 10px;
  }
  footer .line {
    margin: 0;
  }
  footer .f_bottom {
    display: flex;
    flex-direction: column-reverse;
  }
  footer .f_bottom p {
    color: var(--color-gray400);
    width: 100%;
    text-align: center;
    padding: 24px 0 60px;
  }
  footer .f_bottom .sns {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-gray600);
    margin-top: 20px;
  }
  footer .f_bottom .sns ul {
    margin: auto;
    width: 80%;
    gap: 20px;
  }
  footer .f_bottom .sns ul li {
    flex: 1;
  }
  footer .f_bottom .sns ul li img {
    width: 100%;
  }
  footer .f_bottom .left {
    margin-top: 20px;
    width: 100%;
  }
  footer .f_bottom .left .f_information {
    justify-content: space-between;
    font-size: 3vw;
  }
  footer .f_bottom .left p {
    padding: 10px 0 40px;
  }
}
@media only screen and (min-width: 601px) {
  header {
    height: 120px;
    padding: 40px 20px;
  }
  header .inner {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .inner h1 {
    width: 15%;
    height: 40px;
    position: relative;
  }
  header .inner h1 a {
    width: 100%;
  }
  header .inner h1 a img {
    width: 100%;
  }
  header .inner nav {
    width: 70%;
  }
  header .inner nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  header .inner nav > ul li.main-menu {
    text-align: center;
    position: relative;
  }
  header .inner nav > ul li.main-menu:hover > a::before {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  header .inner nav > ul li.main-menu > a {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
  }
  header .inner nav > ul li.main-menu > a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-gray400);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  header .inner nav > ul li.main-menu ul.sub-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 65px;
    display: none;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a {
    display: block;
    color: var(--color-gray100);
    padding: 6px;
    font-size: 16px;
    border: 1px solid #828080;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover {
    color: #000;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: var(--color-gray100);
    z-index: -1;
  }
  header .inner .mobile_menu {
    display: none;
  }
  header .inner .right-menu {
    width: 15%;
  }
  header .inner .right-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  header .inner .right-menu ul li a {
    color: #999;
    background-color: #ddd;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
  }
  header .inner .right-menu ul li a i {
    color: var(--color-gray200);
  }
  header .scrolled {
    background-color: var(--color-gray100);
    border-bottom: 1px solid #e4e4e4;
  }
  header .scrolled nav > ul li.main-menu a {
    color: black;
  }
  header.scrolled .right-menu ul li a {
    color: var(--color-gray700);
  }
  header.scrolled .right-menu ul li a i {
    color: var(--color-gray700);
  }
  .wrap h3 {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  .wrap .bg_img {
    background-position: top 50% center;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrap .bg_img::after {
    height: 80%;
    background: linear-gradient(to top, var(--color-gray700) 20%, var(--color-gray700-gradetion) 80%);
  }
  .wrap .bg_img .introduce {
    width: 95%;
    padding: 200px 0 25px;
    gap: 300px;
  }
  .wrap .bg_img .introduce h2 {
    font-size: 5rem;
  }
  .wrap .bg_img .introduce .txt > p {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .wrap .bg_img .introduce .txt .bottom .visit {
    font-size: 2rem;
  }
  .wrap .bg_img .introduce .txt .bottom .status {
    padding: 20px 30px;
    font-size: 2rem;
    border-radius: 50px;
  }
  .wrap .sect1 {
    margin: -80px auto 0;
    padding: 120px 20px;
  }
  .wrap .sect1 .art1 .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .wrap .sect1 .art1 .more h3 {
    margin-bottom: 0;
  }
  .wrap .sect1 .art1 .more a.btn {
    display: flex;
    align-items: center;
  }
  .wrap .sect1 .art1 .more a.btn p {
    font-size: 2rem;
    font-weight: 400;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt {
    padding: 0 5px;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt .title {
    font-size: 2.4rem;
    line-height: 1.3;
    margin-top: 10px;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt .sub_txt {
    margin-top: 10px;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt .sub_txt p {
    font-size: 2rem;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination {
    width: 49%;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .btn_box {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 24px;
    right: 0;
    z-index: 100;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .btn_box > div {
    width: 50px;
    height: 50px;
    top: 45%;
  }
  .wrap .sect1 .art1 .swiper .item {
    display: none;
  }
  .wrap .sect1 .art1 .swiper .item .art_img {
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
  }
  .wrap .sect1 .art1 .swiper .item.item4 {
    display: block;
  }
  .wrap .sect1 .art2 {
    margin-top: 160px;
  }
  .wrap .sect1 .art2 .collections {
    gap: 4px;
    width: 100%;
    padding-bottom: 100px;
  }
  .wrap .sect1 .art2 .collections .left a,
  .wrap .sect1 .art2 .collections .right a {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  .wrap .sect1 .art2 .collections .left a::after,
  .wrap .sect1 .art2 .collections .right a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: linear-gradient(to top, rgba(17, 17, 17, 0.6196078431) 0%, rgba(17, 17, 17, 0) 40%);
    opacity: 0.6;
    transition: 0.3s ease;
  }
  .wrap .sect1 .art2 .collections .left a .collection_name,
  .wrap .sect1 .art2 .collections .right a .collection_name {
    font-size: 2.4rem;
  }
  .wrap .sect1 .art2 .collections .left {
    border-radius: 20px;
    overflow: hidden;
    height: 360px;
  }
  .wrap .sect1 .art2 .collections .left a .img_box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .wrap .sect1 .art2 .collections .left a .img_box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: linear-gradient(to top, rgba(17, 17, 17, 0.6196078431) 0%, rgba(17, 17, 17, 0) 40%);
    opacity: 0.6;
    transition: 0.3s ease;
  }
  .wrap .sect1 .art2 .collections .left a .img_box img {
    transform: scale(1);
    transition: 0.3s ease;
    min-height: 600px;
  }
  .wrap .sect1 .art2 .collections .left a:hover .img_box::after {
    opacity: 1;
  }
  .wrap .sect1 .art2 .collections .left a:hover img {
    transform: scale(1.05);
  }
  .wrap .sect1 .art2 .collections .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    margin-top: 4px;
  }
  .wrap .sect1 .art2 .collections .grid a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: linear-gradient(to top, rgba(17, 17, 17, 0.6196078431) 0%, rgba(17, 17, 17, 0) 40%);
    opacity: 0.5;
    transition: 0.3s ease;
  }
  .wrap .sect1 .art2 .collections .grid a .img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .wrap .sect1 .art2 .collections .grid a .img_box img {
    transform: scale(1);
    transition: 0.3s ease;
  }
  .wrap .sect1 .art2 .collections .grid a:nth-child(3) .img_box {
    align-items: start;
  }
  .wrap .sect1 .art2 .collections .grid a:hover::after {
    opacity: 0.8;
  }
  .wrap .sect1 .art2 .collections .grid a:hover img {
    transform: scale(1.1);
  }
  .wrap .sect1 .art2 ul {
    display: flex;
    gap: 8px;
  }
  .wrap .sect1 .art2 ul li {
    width: 25%;
  }
  .wrap .sect1 .art2 ul li a .link {
    display: block;
    font-size: 2rem;
    padding-bottom: 20px;
  }
  .wrap .sect1 .art2 ul li a .link::after {
    transition: 0.3s;
  }
  .wrap .sect1 .art2 ul li a .txt {
    display: none;
  }
  .wrap .sect2 {
    width: 95%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .wrap .sect2 .top {
    margin-bottom: 120px;
    padding: 60px 0;
  }
  .wrap .sect2 .top .app h3 {
    padding-bottom: 20px;
    font-size: 3rem;
  }
  .wrap .sect2 .top .app h3 br {
    display: none;
  }
  .wrap .sect2 .top .app p {
    font-size: 1.6rem;
    padding-bottom: 40px;
  }
  .wrap .sect2 .top .app a {
    font-size: 2rem;
    padding: 20px 60px;
  }
  .wrap .sect2 .top .q {
    display: none;
  }
  .wrap .sect2 .top .q p {
    color: var(--color-gray100);
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .q ul.q_list li {
    border-bottom: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .top .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: var(--color-gray100);
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .top .q ul.q_list li:nth-child(1) {
    border-top: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .wrap .sect2 .bottom a.item {
    border-right: 1px solid var(--color-gray400);
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .wrap .sect2 .bottom a.item:nth-child(5) {
    border-right: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .title p,
  .wrap .sect2 .bottom a.item .item_txt .title i {
    color: var(--color-gray100);
    font-size: 2rem;
    letter-spacing: 1;
    width: 100%;
  }
  .wrap .sect2 .bottom a.item .item_txt .title i {
    display: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .sub_txt {
    display: none;
  }
  .wrap footer {
    margin-top: 100px;
    padding-bottom: 20px;
  }
  .wrap footer .f_top {
    width: 95%;
    margin: auto;
    margin-bottom: 60px;
    padding-top: 100px;
  }
  .wrap footer .f_top .f_logo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
  }
  .wrap footer .f_top .f_logo .img_box {
    width: 80%;
  }
  .wrap footer .f_top .f_logo .img_box img {
    width: 100%;
    margin-bottom: 30px;
  }
  .wrap footer .f_top .f_logo ul li {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .wrap footer .f_top .f_logo ul li a {
    font-weight: 800;
    padding-left: 5px;
  }
  .wrap footer .f_top .site_map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .wrap footer .f_top .site_map .f_menu li {
    margin-bottom: 20px;
  }
  .wrap footer .f_top .site_map .f_menu li a {
    font-size: 2rem;
  }
  .wrap footer .f_top .site_map .exhibition > a,
  .wrap footer .f_top .site_map .collection > a,
  .wrap footer .f_top .site_map .visit > a {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  .wrap footer .f_top .site_map .exhibition ul li a,
  .wrap footer .f_top .site_map .collection ul li a,
  .wrap footer .f_top .site_map .visit ul li a {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .wrap footer .line {
    padding-bottom: 20px;
  }
  .wrap footer .f_bottom {
    width: 95%;
  }
  .wrap footer .f_bottom .f_information {
    margin-bottom: 6px;
    display: flex;
  }
  .wrap footer .f_bottom .f_information a {
    color: var(--color-gray200);
  }
  .wrap footer .f_bottom .sns ul {
    gap: 20px;
  }
  .wrap footer .f_bottom .sns ul li {
    width: 30px;
    height: 30px;
  }
  .wrap footer .f_bottom .sns ul li img {
    width: 100%;
  }
  .animate .title h2 {
    transform: translateX(0);
    transition: 0.5s ease;
  }
  .animate .title p:nth-child(1) {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.1s;
  }
  .animate .title p:nth-child(2) {
    transform: translateX(0);
    transition: 0.5s ease;
    transition-delay: 0.2s;
  }
  .animate .title p.artist {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.25s;
  }
}
@media only screen and (min-width: 900px) {
  .wrap .bg_img .introduce .txt > p br.welBr {
    display: none;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination {
    width: 33.3333%;
  }
  .wrap .sect1 .art2 {
    margin-top: 160px;
  }
  .wrap .sect1 .art2 .collections {
    display: flex;
    flex-direction: column;
  }
  .wrap .sect1 .art2 .collections .left a,
  .wrap .sect1 .art2 .collections .right a {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  .wrap .sect1 .art2 .collections .left a .collection_name,
  .wrap .sect1 .art2 .collections .right a .collection_name {
    font-size: 2.4rem;
  }
  .wrap .sect1 .art2 .collections .left {
    width: 100%;
    height: 400px;
  }
  .wrap .sect1 .art2 .collections .left a {
    height: 100%;
  }
  .wrap .sect1 .art2 .collections .left a .img_box img {
    width: 100%;
  }
  .wrap .sect1 .art2 .collections .grid {
    width: 100%;
    height: 220px;
    grid-template-columns: repeat(4, 1fr);
  }
  .wrap .sect1 .art2 .collections .grid a .img_box img {
    width: 100%;
    min-height: 100%;
  }
  .wrap .sect1 .art2 .collections .grid a:nth-child(3) .img_box {
    align-items: start;
  }
  .wrap .sect1 .art2 ul li a .link {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  .wrap .sect1 .art2 ul li a .link::after {
    width: 10%;
  }
  .wrap .sect1 .art2 ul li a .txt {
    display: block;
    font-size: 1.6rem;
    word-break: keep-all;
  }
  .wrap .sect1 .art2 ul li a .txt br {
    display: block;
  }
  .wrap .sect1 .art2 ul li a .txt br.coral {
    display: none;
  }
  .wrap .sect1 footer .f-top {
    justify-content: space-between;
    margin-bottom: 60px;
    display: flex;
    padding: 0 40px;
  }
  .wrap .sect1 footer .f-top .f_logo {
    width: 50%;
  }
  .wrap .sect1 footer .f-top .f_logo img {
    width: 50%;
    margin-bottom: 30px;
  }
  .wrap .sect1 footer .f-top .f_logo ul li {
    font-weight: 500;
    font-size: 16px;
    color: var(--gray3);
  }
  .wrap .sect1 footer .f-top .f_logo ul li a {
    font-weight: 800;
    padding-left: 5px;
  }
  .wrap .sect1 footer .f-top ul.f-menu li,
  .wrap .sect1 footer .f-top ul.f-information li {
    line-height: 40px;
    font-weight: 800;
    font-size: 16px;
  }
  .wrap .sect1 footer .f-top .family {
    width: 20%;
  }
  .wrap .sect1 footer .f-top .family p {
    margin-bottom: 10px;
    font-weight: 800;
  }
  .wrap .sect1 footer .f-top .family select {
    width: 100%;
    height: 40px;
    padding: 10px;
  }
  .wrap .sect1 footer .line {
    padding-bottom: 20px;
  }
  .wrap .sect1 footer .f_bottom {
    display: flex;
    padding: 0 40px 60px;
    /* 혹시나 모바일의 영향이 있을까하는.... */
    justify-content: space-between;
    align-self: center;
  }
  .wrap .sect1 footer .f_bottom p {
    color: var(--gray2);
  }
  .wrap .sect1 footer .f_bottom .sns {
    width: 25%;
  }
  .wrap .sect1 footer .f_bottom .sns ul {
    width: 100%;
    gap: 20px;
  }
  .wrap .sect1 footer .f_bottom .sns ul li {
    flex: 1;
  }
  .wrap .sect1 footer .f_bottom .sns ul li img {
    width: 100%;
  }
  .wrap .sect2 .top {
    padding: 80px 0;
  }
  .wrap .sect2 .top .app h3 {
    padding-bottom: 20px;
    font-size: 4rem;
  }
  .wrap .sect2 .top .app h3 br {
    display: none;
  }
  .wrap .sect2 .top .app p {
    font-size: 2rem;
  }
  .wrap .sect2 .top .app p br.appBr {
    display: none;
  }
  .wrap .sect2 .top .q {
    display: none;
  }
  .wrap .sect2 .top .q p {
    color: var(--color-gray100);
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .q ul.q_list li {
    border-bottom: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .top .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: var(--color-gray100);
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .top .q ul.q_list li:nth-child(1) {
    border-top: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .bottom a.item {
    padding-right: 20px;
    padding-left: 20px;
  }
  .wrap .sect2 .bottom a.item:nth-child(5) {
    border-right: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .title {
    padding-bottom: 10px;
  }
  .wrap .sect2 .bottom a.item .item_txt .title p,
  .wrap .sect2 .bottom a.item .item_txt .title i {
    color: var(--color-gray100);
    font-size: 2.4rem;
    letter-spacing: 1;
  }
  .wrap .sect2 .bottom a.item .item_txt .title i {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  header .inner {
    max-width: 1600px;
  }
  header .inner nav > ul {
    gap: 40px;
  }
  header .inner nav > ul li.main-menu > a {
    padding: 10px;
    font-size: 2rem;
  }
  header .inner nav > ul li.main-menu ul.sub-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 65px;
    display: none;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a {
    display: block;
    color: var(--color-gray100);
    padding: 6px;
    font-size: 16px;
    border: 1px solid #828080;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover {
    color: #000;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: var(--color-gray100);
    z-index: -1;
  }
  header .inner .right-menu ul {
    gap: 10px;
  }
  header .inner .right-menu ul li a {
    padding: 10px 20px;
  }
  header .scrolled {
    background-color: var(--color-gray100);
    border-bottom: 1px solid #e4e4e4;
  }
  header .scrolled nav > ul li.main-menu a {
    color: black;
  }
  .wrap h3 {
    font-size: 4rem;
  }
  .wrap .bg_img {
    background-size: 100%;
    padding: 0;
  }
  .wrap .bg_img .introduce {
    max-width: 1700px;
    padding: 200px 50px 0;
    gap: 300px;
  }
  .wrap .bg_img .introduce h2 {
    font-size: 5rem;
    line-height: 1.4;
  }
  .wrap .bg_img .introduce .txt p {
    color: var(--color-gray200);
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
  }
  .wrap .bg_img .introduce .txt .bottom .visit {
    color: var(--color-gray100);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 20px 25px;
    border: 1px solid var(--color-gray100);
    border-radius: 50px;
  }
  .wrap .sect1 {
    max-width: 1700px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .wrap .sect1 .art1 .more a.btn .right p {
    font-size: 12px;
    font-weight: 800;
  }
  .wrap .sect1 .art1 .swiper .swiper-scrollbar {
    width: 24%;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination {
    width: 25%;
  }
  .wrap .sect1 .art2 {
    margin-top: 160px;
  }
  .wrap .sect1 .art2 .collections {
    flex-direction: row;
    width: 100%;
  }
  .wrap .sect1 .art2 .collections .left,
  .wrap .sect1 .art2 .collections .right {
    width: 50%;
    height: 700px;
  }
  .wrap .sect1 .art2 .collections .left a .collection_name,
  .wrap .sect1 .art2 .collections .right a .collection_name {
    left: 30px;
    bottom: 25px;
    font-size: 2.4rem;
  }
  .wrap .sect1 .art2 .collections .left .img_box img {
    height: 100%;
  }
  .wrap .sect1 .art2 .collections .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
  }
  .wrap .sect1 .art2 .collections .grid a .img_box img {
    height: 100%;
  }
  .wrap .sect1 .art2 ul li {
    width: 25%;
  }
  .wrap .sect1 .art2 ul li a .txt {
    font-size: 2rem;
  }
  .wrap .sect1 .art2 ul li a .txt br.coral {
    display: block;
  }
  .wrap .sect2 .top .app h3 {
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .app h3 br {
    display: none;
  }
  .wrap .sect2 .top .app p {
    font-size: 2rem;
  }
  .wrap .sect2 .top .app a {
    font-size: 2rem;
  }
  .wrap .sect2 .top .q {
    display: none;
  }
  .wrap .sect2 .top .q p {
    color: var(--color-gray100);
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .q ul.q_list li {
    border-bottom: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .top .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: var(--color-gray100);
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .top .q ul.q_list li:nth-child(1) {
    border-top: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .bottom a.item {
    padding-right: 20px;
    padding-left: 20px;
  }
  .wrap .sect2 .bottom a.item:nth-child(5) {
    border-right: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }
  .wrap .sect2 .bottom a.item .item_txt .title p,
  .wrap .sect2 .bottom a.item .item_txt .title i {
    font-size: 2.4rem;
    letter-spacing: 1;
  }
  .wrap .sect2 .bottom a.item .item_txt .title i {
    display: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .sub_txt {
    display: block;
    color: var(--color-gray200);
    font-size: 16px;
  }
  footer {
    margin-top: 100px;
  }
  footer .f_top {
    display: flex;
    justify-content: space-between;
  }
  footer .f_top .f_logo {
    display: block !important;
    width: 30% !important;
  }
  footer .f_top .f_logo .img_box {
    width: 50%;
  }
  footer .f_top .f_logo .img_box img {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .f_top .site_map {
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 20px;
  }
  footer .f_top .site_map .f_menu li a {
    font-size: 2.4rem;
  }
  footer .f_top .site_map .exhibition > a,
  footer .f_top .site_map .collection > a,
  footer .f_top .site_map .visit > a {
    font-size: 2.4rem;
  }
  footer .f_top .site_map .exhibition ul li a,
  footer .f_top .site_map .collection ul li a,
  footer .f_top .site_map .visit ul li a {
    font-size: 2rem;
  }
  footer .line {
    padding-bottom: 20px;
  }
  footer .f_bottom .f_information {
    margin-top: 6px;
    gap: 10px;
  }
  footer .f_bottom .f_information a {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=index.css.map */