@charset "UTF-8";
body[data-theme=light] {
  --color-gray100: #111;
  --color-gray200: #333;
  --color-gray300: #666;
  --color-gray400: #999;
  --color-gray500: #ccc;
  --color-gray600: #eee;
  --color-gray700: #fff;
  --color-sect2-bg: #f7f7f7;
  --color-sect2-bg-dark: #1a1a1a;
  --color-download-btn: #ddd;
}

body[data-theme=dark] {
  --color-gray100: #fff;
  --color-gray200: #eee;
  --color-gray300: #ccc;
  --color-gray400: #999;
  --color-gray500: #666;
  --color-gray600: #333;
  --color-gray700: #111;
  --color-sect2-bg: #1a1a1a;
  --color-download-btn: #666;
}

html,
body {
  position: relative;
  color: var(--color-gray600);
  background-color: var(--color-gray700);
  font-size: 10px;
}
html a,
body a {
  color: inherit;
  cursor: pointer;
}
html p,
html i,
body p,
body i {
  letter-spacing: -1.4px;
}

main {
  position: relative;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: var(--color-gray700);
  transition: 0.5s;
}
header nav a,
header nav i {
  color: var(--color-gray100);
}
header .first_logo {
  max-width: 44%;
}
header .logo_change {
  object-fit: contain;
}

.wrap {
  background-color: var(--color-gray700);
}
.wrap .bg_img {
  position: relative;
  height: 100vh;
  background-image: url(../imgs/new_bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap .bg_img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}
.wrap .bg_img .introduce {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  z-index: 1;
}
.wrap .bg_img .introduce .txt {
  position: absolute;
}
.wrap .bg_img .introduce .txt h2 {
  line-height: 1.2;
  letter-spacing: -1.4px;
  color: #f4f4f4;
}
.wrap .bg_img .introduce .txt p {
  color: #ddd;
  line-height: 1.8;
  font-weight: 300;
}
.wrap .bg_img .introduce .txt .visit {
  display: inline-block;
  position: relative;
  color: #ddd;
  font-size: 20px;
  font-weight: 300;
  transition: 0.3s;
}
.wrap .bg_img .introduce .txt .visit::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: #999;
  transition: 0.3s;
}
.wrap .bg_img .introduce .txt .visit:hover {
  color: #f4f4f4;
  font-weight: 600;
}
.wrap .bg_img .introduce .txt .visit:hover::after {
  background: #f4f4f4;
}
.wrap .bg_img .introduce .bottom {
  position: absolute;
}
.wrap .bg_img .introduce .bottom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 220%;
  background: #fff;
  border-radius: 50px;
  z-index: -1;
}
.wrap .bg_img .introduce .bottom .status {
  display: inline-block;
  color: #111;
  text-align: center;
  font-weight: 600;
}
.wrap .bg_img .introduce .bottom .status i {
  padding-right: 6px;
}
.wrap .bg_img .introduce .bottom .status #museum_status {
  font-weight: 600;
  letter-spacing: 0;
}
.wrap .bg_img .introduce .bottom .status i,
.wrap .bg_img .introduce .bottom .status .today,
.wrap .bg_img .introduce .bottom .status #museum_status {
  color: #111;
}
.wrap .bg_img .status {
  font-size: 20px;
}

.sect1 {
  position: relative;
  margin: auto;
  background-color: var(--color-gray700);
  z-index: 99;
}
.sect1 h3 {
  color: var(--color-gray200);
  font-weight: 600;
}
.sect1 .art1 .more {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sect1 .art1 .more .btn {
  display: flex;
  align-items: center;
}
.sect1 .art1 .more .btn p {
  color: #aaa;
}
.sect1 .art1 .swiper {
  width: 100%;
  height: 100%;
}
.sect1 .art1 .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect1 .art1 .swiper .swiper-slide:hover .img_box::before {
  opacity: 1;
}
.sect1 .art1 .swiper .swiper-slide:hover .img_box::after {
  opacity: 1;
}
.sect1 .art1 .swiper .swiper-slide:hover .img_box img {
  transform: scale(1.05);
}
.sect1 .art1 .swiper .swiper-slide a {
  width: 100%;
}
.sect1 .art1 .swiper .swiper-slide a .img_box {
  overflow: hidden;
  position: relative;
}
.sect1 .art1 .swiper .swiper-slide a .img_box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  opacity: 0;
  transition: 0.3s;
}
.sect1 .art1 .swiper .swiper-slide a .img_box::after {
  content: "프로그램 정보 보기";
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 1;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 600;
  transform: translateX(-50%);
  opacity: 0;
  transition-duration: 0.1s;
}
.sect1 .art1 .swiper .swiper-slide a .img_box img {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.sect1 .art1 .swiper .swiper-slide a .txt .title {
  color: var(--color-gray200);
  font-weight: 500;
}
.sect1 .art1 .swiper .swiper-slide a .txt .sub_txt p {
  color: var(--color-gray400);
  font-weight: 300;
}
.sect1 .art2 .collections .coll {
  width: 100%;
}
.sect1 .art2 .collections .swiper-wrapper {
  width: 100%;
}
.sect1 .art2 .collections .swiper-slide {
  width: 100%;
}
.sect1 .art2 .collections .swiper-slide img {
  width: 100%;
  object-fit: cover;
}
.sect1 .art2 .collections .title {
  font-weight: 400;
}
.sect1 .art2 .collections .artist,
.sect1 .art2 .collections .year {
  color: var(--color-gray400);
  font-weight: 300;
}
.sect1 .art2 .collections .text_container {
  position: relative;
}
.sect1 .art2 .collections .text_container .text {
  position: absolute;
  opacity: 0;
}
.sect1 .art2 .collections .text_container .text.on {
  opacity: 1;
}
.sect1 .art2 .collections .text_container .title {
  color: var(--color-gray200);
}
.sect1 .art2 ul {
  margin-left: auto;
}
.sect1 .art2 ul li:not(:last-child) {
  border-bottom: 1px solid var(--color-gray600);
}
.sect1 .art2 ul .link {
  display: block;
}
.sect1 .art2 ul .link_title {
  color: var(--color-gray100);
  font-weight: 500;
}
.sect1 .art2 ul .txt {
  color: var(--color-gray400);
  font-weight: 300;
}
.sect1 .pagination_area {
  position: relative;
  display: flex;
}
.sect1 .pagination_area .swiper-pagination {
  position: absolute;
  top: 48%;
  left: 0;
  overflow: hidden;
  background-color: var(--color-gray500);
}
.sect1 .pagination_area .swiper-pagination span {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--color-gray100);
}
.sect1 .pagination_area .swiper-button-next,
.sect1 .pagination_area .swiper-button-prev {
  border: 1px solid var(--color-gray200);
  border-radius: 50%;
  padding: 14px;
}
.sect1 .pagination_area .swiper-button-next:hover,
.sect1 .pagination_area .swiper-button-prev:hover {
  background: var(--color-gray200);
}
.sect1 .pagination_area .swiper-button-next:hover span,
.sect1 .pagination_area .swiper-button-next:hover span.prev::after,
.sect1 .pagination_area .swiper-button-next:hover span.prev::before,
.sect1 .pagination_area .swiper-button-next:hover span.next::after,
.sect1 .pagination_area .swiper-button-next:hover span.next::before,
.sect1 .pagination_area .swiper-button-prev:hover span,
.sect1 .pagination_area .swiper-button-prev:hover span.prev::after,
.sect1 .pagination_area .swiper-button-prev:hover span.prev::before,
.sect1 .pagination_area .swiper-button-prev:hover span.next::after,
.sect1 .pagination_area .swiper-button-prev:hover span.next::before {
  background-color: var(--color-gray700);
}
.sect1 .pagination_area .btn_box {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.sect1 .pagination_area .btn_box > div {
  position: absolute;
}
.sect1 .pagination_area .btn_box > div::after {
  display: none;
}
.sect1 .pagination_area .btn_box > div span {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-gray100);
  position: relative;
}
.sect1 .pagination_area .btn_box > div span.next::before, .sect1 .pagination_area .btn_box > div span.next::after {
  content: "";
  position: absolute;
  right: 1px;
  width: 50%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-gray100);
  transform-origin: right;
}
.sect1 .pagination_area .btn_box > div span.next::before {
  top: 0;
  transform: rotate(45deg);
}
.sect1 .pagination_area .btn_box > div span.next::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.sect1 .pagination_area .btn_box > div span.prev::before, .sect1 .pagination_area .btn_box > div span.prev::after {
  content: "";
  position: absolute;
  left: 1px;
  width: 50%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-gray100);
  transform-origin: left;
}
.sect1 .pagination_area .btn_box > div span.prev::before {
  top: 0;
  transform: rotate(45deg);
}
.sect1 .pagination_area .btn_box > div span.prev::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.sect1 .pagination_area .btn_box .swiper-button-next {
  right: 0;
}
.sect1 .pagination_area .btn_box .swiper-button-prev {
  left: 0;
}

.sect2 {
  border-top: 1px solid var(--color-gray500);
}
.sect2 .app h3 {
  color: var(--color-gray100);
}
.sect2 .app p {
  color: var(--color-gray200);
}
.sect2 .download_btn {
  display: inline-block;
  background-color: var(--color-gray100);
  border-radius: 50px;
  color: var(--color-gray600);
  font-weight: 600;
}
.sect2 .bottom .item {
  background: var(--color-sect2-bg);
  border-radius: 12px;
}
.sect2 .bottom .item .title {
  color: var(--color-gray100);
  font-weight: 600;
}
.sect2 .bottom .item .sub_txt {
  color: var(--color-gray300);
}

footer .f_top .f_logo li {
  color: var(--color-gray400);
}
footer .f_top .f_logo li a {
  color: var(--color-gray200);
}
footer .f_top .site_map .f_menu li {
  line-height: 1;
}
footer .f_top .site_map .f_menu li a {
  color: var(--color-gray200);
  font-weight: 600;
}
footer .f_top .site_map .exhibition > a,
footer .f_top .site_map .collection > a,
footer .f_top .site_map .visit > a {
  display: inline-block;
  color: var(--color-gray200);
  font-weight: 600;
}
footer .f_top .site_map .exhibition ul li a,
footer .f_top .site_map .collection ul li a,
footer .f_top .site_map .visit ul li a {
  color: var(--color-gray400);
  display: inline-block;
  font-weight: 400;
  position: relative;
}
footer .f_top .site_map .exhibition ul li a::before,
footer .f_top .site_map .collection ul li a::before,
footer .f_top .site_map .visit ul li a::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-gray500);
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
footer .f_top .site_map .exhibition ul li a:hover::before,
footer .f_top .site_map .collection ul li a:hover::before,
footer .f_top .site_map .visit ul li a:hover::before {
  opacity: 1;
  transition: opacity 0.3s ease;
}
footer .line {
  border-top: 1px solid var(--color-gray500);
}

.footer_util {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_util p {
  color: var(--color-gray400);
}
.footer_util .f_information {
  display: flex;
}
.footer_util .f_information a {
  color: var(--color-gray400);
  font-weight: 500;
}
.footer_util .sns ul {
  display: flex;
}
.footer_util .sns ul li img {
  height: 100%;
}

.mode_change {
  display: inline-block;
  width: 60px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  background: var(--color-gray500);
  color: var(--color-gray200);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1000;
}
.mode_change svg {
  display: none;
}
.mode_change svg.on {
  display: block;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
}

input[type=checkbox]:checked + .mode_change::after {
  display: none;
}

@media only screen and (max-width: 899px) {
  header {
    height: 60px;
    padding: 12px 20px;
  }
  header .inner {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    position: relative;
    max-width: 48%;
    width: 48%;
    height: 100%;
  }
  header h1 img {
    position: absolute;
    left: 0;
    top: 0;
  }
  header h1 .logo_change {
    max-width: 187px;
  }
  header nav {
    width: 50%;
    display: none;
  }
  header nav ul li {
    flex: 1;
    text-align: center;
  }
  header .mobile_menu {
    height: 40px;
    width: 40px;
    padding: 10px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .mobile_menu .mobile_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  header .mobile_menu .mobile_box span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  header .mobile_menu .mobile_box span::before, header .mobile_menu .mobile_box span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
    pointer-events: none;
  }
  header .mobile_menu .mobile_box span::before {
    top: -10px;
  }
  header .mobile_menu .mobile_box span::after {
    bottom: -10px;
    transform: rotate(0);
  }
  header .mobile_menu .mobile_box.on span {
    background-color: transparent;
  }
  header .mobile_menu .mobile_box.on span::before, header .mobile_menu .mobile_box.on span::after {
    background-color: var(--color-gray100);
  }
  header .mobile_menu .mobile_box.on span::before {
    transform: rotate(45deg);
    top: 0;
  }
  header .mobile_menu .mobile_box.on span::after {
    transform: rotate(-45deg);
    bottom: 0;
  }
  header .mobile_menu ul.mobile_nav {
    display: none;
    overflow: scroll;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    padding: 100px 20px 40px;
    background-color: var(--color-gray700);
  }
  header .mobile_menu ul.mobile_nav.on {
    display: block;
  }
  header .mobile_menu ul.mobile_nav li.main-menu {
    margin-bottom: 10px;
  }
  header .mobile_menu ul.mobile_nav li.main-menu > a {
    display: block;
    font-weight: 500;
    color: var(--color-gray100);
    padding: 6px 0;
  }
  header .mobile_menu ul.mobile_nav li.main-menu ul.sub-menu a {
    display: block;
    font-weight: 500;
    color: var(--color-gray400);
    padding: 6px 0;
  }
  header .mobile_menu ul.mobile_nav li.main-menu ul.sub-menu a:hover {
    color: var(--color-gray200);
  }
  header .mobile_menu ul.mobile_nav .search {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
  }
  header .mobile_menu ul.mobile_nav .search input {
    display: block;
    width: 85%;
    height: 60px;
    padding: 10px;
    background-color: var(--color-gray600);
    border-radius: 10px 0 0 10px;
    font-weight: 400;
    color: var(--color-gray100);
    border: none;
    outline: none;
  }
  header .mobile_menu ul.mobile_nav .search input::placeholder {
    color: var(--color-gray400);
  }
  header .mobile_menu ul.mobile_nav .search .search_icon {
    padding: 10px;
    width: 15%;
    height: 100%;
    border: 1px solid var(--color-gray700);
    background-color: var(--color-gray200);
    position: relative;
  }
  header .mobile_menu ul.mobile_nav .search .search_icon i {
    position: absolute;
    color: var(--color-gray700);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .mobile_menu ul.mobile_nav .login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  header .mobile_menu ul.mobile_nav .login a {
    width: 100%;
    height: 60px;
    border: 1px solid var(--color-gray200);
    border-radius: 10px;
    font-size: 4vw;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .mobile_menu ul.mobile_nav .login a span {
    color: var(--color-gray100);
  }
  header .right-menu {
    display: none;
    width: 20%;
  }
  header .right-menu ul {
    gap: 20px;
    justify-content: flex-end;
  }
  header .right-menu ul li a {
    white-space: nowrap;
    color: var(--color-gray100);
  }
  header .right-menu ul li a i {
    color: var(--color-gray100);
  }
  header .first_logo {
    width: 80%;
  }
  header .logo_change {
    width: 100%;
  }
  header .scrolled {
    background-color: var(--color-gray100);
    border-bottom: 1px solid #e4e4e4;
  }
  header .scrolled nav ul li a {
    color: var(--color-gray700);
  }
  header .scrolled .right-menu ul li a {
    color: var(--color-gray700);
  }
  header .scrolled .right-menu ul li a i {
    color: var(--color-gray700);
  }
}
@media only screen and (max-width: 600px) {
  header .mobile_nav {
    padding: 100px 20px 40px;
  }
  header .mobile_nav li.main-menu > a {
    font-size: 24px;
    padding: 10px 0;
  }
  header .mobile_nav li.main-menu ul.sub-menu a {
    font-size: 24px;
  }
  header .mobile_nav .search input {
    font-size: 20px;
  }
  body .no-scroll {
    overflow: hidden;
  }
  .wrap .bg_img {
    padding: 0 10px;
    background-position: top center;
  }
  .wrap .bg_img::after {
    height: 80%;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 30%, rgba(17, 17, 17, 0.7333333333) 50%);
  }
  .wrap .bg_img .introduce {
    text-align: center;
  }
  .wrap .bg_img .introduce h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .wrap .bg_img .introduce .txt {
    top: 36%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
  .wrap .bg_img .introduce .txt p {
    word-break: keep-all;
    padding-bottom: 3vh;
    line-height: 1.5;
    font-size: 14px;
  }
  .wrap .bg_img .introduce .txt p br {
    display: none;
  }
  .wrap .bg_img .introduce .txt .visit {
    padding: 10px 15px;
    font-size: 1.4rem;
  }
  .wrap .bg_img .introduce .bottom {
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .bg_img .introduce .bottom::before {
    width: 100%;
    height: 60px;
  }
  .wrap .bg_img .introduce .bottom .status {
    width: 100%;
    white-space: nowrap;
    padding: 0px 30px;
    font-weight: 500;
  }
  .wrap .bg_img .introduce .bottom .status i {
    display: none;
  }
  .wrap .bg_img .introduce .bottom .status .today,
  .wrap .bg_img .introduce .bottom .status #museum_status {
    display: inline-block;
  }
  .wrap .animate .title h2 {
    transform: translateX(0);
    transition: 0.5s ease;
  }
  .wrap .animate .title p:nth-child(1) {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.1s;
  }
  .wrap .animate .title p:nth-child(2) {
    transform: translateX(0);
    transition: 0.5s ease;
    transition-delay: 0.2s;
  }
  .wrap .animate .title p.artist {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.25s;
  }
  .wrap h3 {
    font-size: 28px;
    padding-bottom: 20px;
  }
  .wrap .sect1 {
    padding: 80px 10px 60px;
  }
  .wrap .sect1 .art1 {
    margin-bottom: 60px;
  }
  .wrap .sect1 .art1 .more {
    padding-bottom: 20px;
    align-items: center;
  }
  .wrap .sect1 .art1 .more h3 {
    padding-bottom: 0;
  }
  .wrap .sect1 .art1 .more a.btn {
    display: flex;
    align-items: center;
  }
  .wrap .sect1 .art1 .more a.btn p {
    font-size: 3vw;
    font-weight: 400;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt {
    padding: 0 5px;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt .title {
    font-size: 2rem;
    font-weight: 400;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt .sub_txt p {
    font-size: 1.6rem;
  }
  .wrap .sect1 .art1 .swiper .pagination_area {
    padding-bottom: 44px;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination {
    width: 60%;
  }
  .wrap .sect1 .btn_box {
    width: 90px;
    height: 40px;
  }
  .wrap .sect1 .btn_box > div {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .wrap .sect1 .btn_box > div span {
    width: 80%;
  }
  .wrap .sect1 .art2 .collections {
    position: relative;
    padding-bottom: 40px;
  }
  .wrap .sect1 .art2 .collections .author,
  .wrap .sect1 .art2 .collections .title,
  .wrap .sect1 .art2 .collections .year {
    font-size: 16px;
  }
  .wrap .sect1 .art2 .coll {
    padding-bottom: 12px;
  }
  .wrap .sect1 .art2 .pagination_area {
    position: absolute;
    bottom: 64px;
    right: 0;
    width: 90px;
    height: 40px;
    padding: 0;
    z-index: 1;
  }
  .wrap .sect1 .art2 .text_container {
    width: 60%;
    height: 63px;
  }
  .wrap .sect1 .art2 .text {
    bottom: 0;
    left: 0;
  }
  .wrap .sect1 .art2 .artist,
  .wrap .sect1 .art2 .title,
  .wrap .sect1 .art2 .year {
    font-size: 20px;
    font-size: 14px;
  }
  .wrap .sect1 .art2 ul {
    border-top: 1px solid var(--color-gray600);
  }
  .wrap .sect1 .art2 ul li {
    width: 100%;
    padding: 14px 0;
  }
  .wrap .sect1 .art2 ul .link {
    width: 100%;
  }
  .wrap .sect1 .art2 ul .link_title {
    font-size: 20px;
    font-weight: 400;
  }
  .wrap .sect1 .art2 ul .txt {
    display: none;
  }
  .wrap .sect2 {
    padding: 80px 10px 60px;
  }
  .wrap .sect2 .top {
    margin-bottom: 60px;
  }
  .wrap .sect2 .app h3 {
    padding-bottom: 20px;
  }
  .wrap .sect2 .app p {
    color: #666;
    font-size: 14px;
    padding-bottom: 40px;
    word-break: keep-all;
  }
  .wrap .sect2 .app p br {
    display: none;
  }
  .wrap .sect2 .app .download_btn {
    padding: 15px 40px;
    background: var(--color-gray100);
    color: var(--color-gray700);
    font-size: 1.6rem;
  }
  .wrap .sect2 .bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .wrap .sect2 .bottom .item {
    display: block;
    padding: 20px;
  }
  .wrap .sect2 .bottom .item .title {
    width: 100%;
    padding-bottom: 2px;
    font-size: 20px;
  }
  .wrap .sect2 .bottom .item .sub_txt {
    font-size: 16px;
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-top: 40px;
  }
  footer .f_top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  footer .f_top .f_logo {
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-gray600);
  }
  footer .f_top .f_logo img {
    width: 60%;
    margin-bottom: 15px;
  }
  footer .f_top .f_logo ul li {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 6px;
  }
  footer .f_top .f_logo ul li a {
    font-weight: 800;
    margin-left: 5px;
  }
  footer .f_top .site_map a {
    font-size: 24px;
  }
  footer .f_top .site_map ul {
    padding-top: 10px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-gray600);
  }
  footer .f_top .site_map ul li {
    font-weight: 900;
    margin-bottom: 10px;
  }
  footer .f_top .site_map ul li a {
    font-size: 20px;
  }
  footer .f_top .site_map .visit ul {
    margin-bottom: 0;
  }
  footer .f_top .f_information {
    border-bottom: 1px solid var(--gray3);
  }
  footer .f_top .family {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--gray3);
  }
  footer .f_top .family p {
    margin-bottom: 10px;
    font-weight: 800;
  }
  footer .f_top .family select {
    width: 100%;
    height: 40px;
    padding: 10px;
  }
  footer .line {
    margin: 0;
  }
  .footer_util {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
  }
  .footer_util p {
    width: 100%;
    text-align: center;
    padding: 24px 0 60px;
  }
  .footer_util .left {
    margin-top: 20px;
    width: 100%;
  }
  .footer_util .left .f_information {
    justify-content: space-between;
    font-size: 3vw;
  }
  .footer_util .left p {
    padding: 10px 0 40px;
  }
  .footer_util .sns {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-gray600);
    margin-top: 20px;
  }
  .footer_util .sns ul {
    margin: auto;
    width: 80%;
    gap: 20px;
  }
  .footer_util .sns ul li {
    flex: 1;
  }
  .footer_util .sns ul li img {
    width: 100%;
  }
  .mode_change {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 60px;
    height: 60px;
    padding: 12px;
    border-radius: 50%;
    transition: 0.5s;
  }
  .mode_change.on {
    position: absolute;
  }
}
@media only screen and (min-width: 601px) {
  header .mobile_nav {
    padding: 100px 20px 40px;
  }
  header .mobile_nav li.main-menu > a {
    font-size: 24px;
  }
  header .mobile_nav li.main-menu ul.sub-menu a {
    font-size: 24px;
  }
  header .mobile_nav .search input {
    font-size: 24px;
  }
  header.scrolled .right-menu ul li a {
    color: var(--color-gray700);
  }
  header.scrolled .right-menu ul li a i {
    color: var(--color-gray700);
  }
  .wrap h3 {
    font-size: 3.2rem;
    margin-bottom: 40px;
  }
  .wrap .bg_img {
    background-position: top 50% center;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrap .bg_img::after {
    height: 60%;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0) 30%, rgba(17, 17, 17, 0.7333333333) 50%);
  }
  .wrap .bg_img .introduce .txt {
    left: 0px;
    bottom: 80px;
    width: 100%;
  }
  .wrap .bg_img .introduce .txt h2 {
    margin-bottom: 12px;
    font-size: 3.2rem;
  }
  .wrap .bg_img .introduce .txt h2 br {
    display: none;
  }
  .wrap .bg_img .introduce .txt p {
    margin-bottom: 40px;
    font-size: 1.4rem;
  }
  .wrap .bg_img .introduce .bottom {
    right: 20px;
    bottom: 62px;
  }
  .wrap .sect1,
  .wrap .sect2,
  .wrap footer {
    margin: auto 20px;
  }
  .wrap .sect1 {
    padding: 120px 0;
  }
  .wrap .sect1 .art1 .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .wrap .sect1 .art1 .more h3 {
    margin-bottom: 0;
  }
  .wrap .sect1 .art1 .more a.btn {
    display: flex;
    align-items: center;
  }
  .wrap .sect1 .art1 .more a.btn p {
    font-size: 2rem;
    font-weight: 400;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt {
    padding: 0 5px;
    margin-top: 12px;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt .title {
    font-size: 2.4rem;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt .sub_txt {
    margin-top: 6px;
  }
  .wrap .sect1 .art1 .swiper .swiper-wrapper .swiper-slide .txt .sub_txt p {
    font-size: 2.4rem;
  }
  .wrap .sect1 .art1 .swiper .pagination_area {
    padding: 40px;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination {
    width: 49%;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .btn_box {
    width: 110px;
    height: 50px;
    position: absolute;
    bottom: 24px;
    right: 0;
    z-index: 100;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .btn_box > div {
    width: 50px;
    height: 50px;
    top: 45%;
  }
  .wrap .sect1 .art1 .swiper .item {
    display: none;
  }
  .wrap .sect1 .art1 .swiper .item .art_img {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
  }
  .wrap .sect1 .art1 .swiper .item.item4 {
    display: block;
  }
  .wrap .sect1 .art2 {
    margin-top: 120px;
  }
  .wrap .sect1 .art2 .collections {
    width: 100%;
    padding-bottom: 10px;
    position: relative;
  }
  .wrap .sect1 .art2 .collections .swiper-slide {
    position: relative;
    width: 100%;
  }
  .wrap .sect1 .art2 .collections .pagination_area {
    position: absolute;
    bottom: -180px;
    left: 0px;
    width: 110px;
    height: 50px;
    z-index: 10;
  }
  .wrap .sect1 .art2 .collections .pagination_area .btn_box {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 24px;
    right: 0;
    z-index: 100;
  }
  .wrap .sect1 .art2 .collections .pagination_area .btn_box > div {
    width: 50px;
    height: 50px;
    top: 45%;
  }
  .wrap .sect1 .art2 .collections .text {
    left: 0;
    bottom: -112px;
  }
  .wrap .sect1 .art2 .collections .artist,
  .wrap .sect1 .art2 .collections .title,
  .wrap .sect1 .art2 .collections .year {
    font-size: 20px;
  }
  .wrap .sect1 .art2 ul {
    width: 50%;
  }
  .wrap .sect1 .art2 ul .link {
    padding: 16px 0;
  }
  .wrap .sect1 .art2 ul .link_title {
    font-size: 24px;
    padding-bottom: 6px;
  }
  .wrap .sect1 .art2 ul .link_title::after {
    transition: 0.3s;
  }
  .wrap .sect1 .art2 ul .txt {
    font-size: 20px;
  }
  .wrap .sect1 .art2 ul .txt br {
    display: block;
  }
  .wrap .sect2 {
    padding: 80px 0 120px;
  }
  .wrap .sect2 .app {
    margin-bottom: 120px;
  }
  .wrap .sect2 .app .q {
    display: none;
  }
  .wrap .sect2 .app .q p {
    color: var(--color-gray100);
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .app .q ul.q_list li {
    border-bottom: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .app .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: var(--color-gray100);
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .app .q ul.q_list li:nth-child(1) {
    border-top: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .app h3 {
    padding-bottom: 20px;
  }
  .wrap .sect2 .app h3 br {
    display: none;
  }
  .wrap .sect2 .app p {
    font-size: 1.6rem;
    padding-bottom: 40px;
  }
  .wrap .sect2 .download_btn {
    font-size: 2rem;
    padding: 16px 30px;
  }
  .wrap .sect2 .bottom {
    display: flex;
    gap: 5px;
  }
  .wrap .sect2 .bottom .item {
    display: inline-block;
    width: 20%;
    padding: 10px 20px;
    text-align: center;
  }
  .wrap .sect2 .bottom .title {
    font-size: 2rem;
    width: 100%;
  }
  .wrap .sect2 .bottom .sub_txt {
    font-size: 16px;
  }
  .wrap footer .f_top {
    margin-bottom: 60px;
    padding-top: 100px;
  }
  .wrap footer .f_top .f_logo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
  }
  .wrap footer .f_top .f_logo .img_box {
    width: 280px;
  }
  .wrap footer .f_top .f_logo .img_box img {
    width: 100%;
    margin-bottom: 30px;
  }
  .wrap footer .f_top .f_logo ul li {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .wrap footer .f_top .f_logo ul li a {
    font-weight: 800;
    padding-left: 5px;
  }
  .wrap footer .f_top .site_map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .wrap footer .f_top .site_map .f_menu li {
    margin-bottom: 20px;
  }
  .wrap footer .f_top .site_map .f_menu li a {
    font-size: 2rem;
  }
  .wrap footer .f_top .site_map .exhibition > a,
  .wrap footer .f_top .site_map .collection > a,
  .wrap footer .f_top .site_map .visit > a {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  .wrap footer .f_top .site_map .exhibition ul li a,
  .wrap footer .f_top .site_map .collection ul li a,
  .wrap footer .f_top .site_map .visit ul li a {
    font-size: 2rem;
    margin-bottom: 12px;
  }
  .wrap .footer_util {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 95%;
  }
  .wrap .footer_util .f_information {
    margin-bottom: 6px;
    display: flex;
    gap: 10px;
    font-size: 1.6rem;
  }
  .wrap .footer_util .sns ul {
    gap: 20px;
    justify-content: flex-end;
  }
  .wrap .footer_util .sns ul li {
    width: 30px;
    height: 30px;
  }
  main {
    position: relative;
  }
  .mode_change {
    position: absolute;
    bottom: 60px;
    left: 2.5%;
  }
  .animate .title h2 {
    transform: translateX(0);
    transition: 0.5s ease;
  }
  .animate .title p:nth-child(1) {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.1s;
  }
  .animate .title p:nth-child(2) {
    transform: translateX(0);
    transition: 0.5s ease;
    transition-delay: 0.2s;
  }
  .animate .title p.artist {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.25s;
  }
}
@media only screen and (min-width: 900px) {
  header {
    height: 80px;
    padding: 20px 40px;
  }
  header .inner {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .inner h1 {
    height: 100%;
  }
  header .inner .first_logo {
    width: 65%;
  }
  header .inner .logo_change {
    height: 100%;
  }
  header .inner nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
  header .inner nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  header .inner nav > ul li.main-menu {
    text-align: center;
    position: relative;
  }
  header .inner nav > ul li.main-menu:hover > a::before {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  header .inner nav > ul li.main-menu > a {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    position: relative;
  }
  header .inner nav > ul li.main-menu > a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  header .inner nav > ul li.main-menu ul.sub-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 65px;
    display: none;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a {
    display: block;
    color: var(--color-gray100);
    padding: 6px;
    font-size: 16px;
    border: 1px solid #828080;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover {
    color: #000;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: var(--color-gray100);
    z-index: -1;
  }
  header .inner .mobile_menu {
    display: none;
  }
  header .inner .right-menu {
    width: 20%;
  }
  header .inner .right-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header .inner .right-menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray300);
    font-size: 1.6rem;
    font-weight: 600;
    width: 40px;
    height: 40px;
    padding: 0 10px;
  }
  header .inner .right-menu ul li a svg {
    fill: var(--color-gray300);
  }
  header .inner .right-menu ul li a i {
    color: var(--color-gray300);
  }
  header .scrolled {
    background-color: var(--color-gray100);
    border-bottom: 1px solid #e4e4e4;
  }
  header .scrolled nav > ul li.main-menu a {
    color: black;
  }
  .wrap .bg_img .introduce {
    padding: 0px;
  }
  .wrap .bg_img .introduce .txt {
    width: 100%;
    left: 20px;
    bottom: 80px;
  }
  .wrap .bg_img .introduce .txt h2 {
    font-size: 4.8rem;
  }
  .wrap .bg_img .introduce .txt p {
    font-size: 1.6rem;
  }
  .wrap .bg_img .introduce .txt p br.welBr {
    display: none;
  }
  .wrap .bg_img .introduce .bottom {
    right: 40px;
    bottom: 80px;
  }
  .wrap .sect1,
  .wrap .sect2 {
    margin: auto 40px;
    padding: 80px 0 120px;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination {
    width: 33.3333%;
  }
  .wrap .sect1 .art2 {
    margin-top: 160px;
  }
  .wrap .sect1 .art2 .collections {
    padding-bottom: 20px;
  }
  .wrap .sect1 .art2 ul {
    width: 66.6666%;
  }
  .wrap .sect1 .art2 ul .link {
    position: relative;
    padding: 20px 0;
  }
  .wrap .sect1 .art2 ul .link:hover span {
    opacity: 1;
    right: 0px;
  }
  .wrap .sect1 .art2 ul .txt {
    width: calc(100% - 50px);
  }
  .wrap .sect1 .art2 ul span {
    display: block;
    width: 30px;
    height: 1px;
    background: var(--color-gray300);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.5s;
  }
  .wrap .sect1 .art2 ul span::before, .wrap .sect1 .art2 ul span::after {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 1px;
    background: var(--color-gray300);
  }
  .wrap .sect1 .art2 ul span::before {
    transform-origin: right;
    transform: rotate(45deg);
    top: 0;
  }
  .wrap .sect1 .art2 ul span::after {
    bottom: 0;
    transform-origin: right;
    transform: rotate(-45deg);
  }
  .wrap .sect2 .app h3 {
    padding-bottom: 20px;
    font-size: 4rem;
  }
  .wrap .sect2 .app h3 br {
    display: none;
  }
  .wrap .sect2 .app p {
    font-size: 2rem;
  }
  .wrap .sect2 .app p br.appBr {
    display: none;
  }
  .wrap .sect2 .q {
    display: none;
  }
  .wrap .sect2 .q p {
    color: var(--color-gray100);
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .q ul.q_list li {
    border-bottom: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: var(--color-gray100);
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .q ul.q_list li:nth-child(1) {
    border-top: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .bottom a.item {
    padding: 30px 10px;
  }
  .wrap .sect2 .bottom .sub_txt {
    font-size: 14px;
  }
  .wrap .sect2 .bottom .sub_txt br {
    display: none;
  }
  .wrap footer {
    margin: auto 40px;
  }
  .wrap footer .f-top {
    justify-content: space-between;
    margin-bottom: 60px;
    display: flex;
    padding: 0 40px;
  }
  .wrap footer .f-top .f_logo {
    width: 50%;
  }
  .wrap footer .f-top .f_logo img {
    width: 50%;
    margin-bottom: 30px;
  }
  .wrap footer .f-top .f_logo ul li {
    font-weight: 500;
    font-size: 16px;
    color: var(--gray3);
  }
  .wrap footer .f-top .f_logo ul li a {
    font-weight: 800;
    padding-left: 5px;
  }
  .wrap footer .f-top ul.f-menu li,
  .wrap footer .f-top ul.f-information li {
    line-height: 40px;
    font-weight: 800;
    font-size: 16px;
  }
  .wrap footer .f-top .family {
    width: 20%;
  }
  .wrap footer .f-top .family p {
    margin-bottom: 10px;
    font-weight: 800;
  }
  .wrap footer .f-top .family select {
    width: 100%;
    height: 40px;
    padding: 10px;
  }
  .wrap .footer_util {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }
  .wrap .footer_util .sns {
    width: 25%;
  }
  .wrap .footer_util .sns ul {
    width: 100%;
    gap: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    height: 110px;
    padding: 20px 40px;
  }
  header .inner nav > ul {
    gap: 20px;
  }
  header .inner nav > ul li.main-menu > a {
    padding: 10px;
    font-size: 1.6rem;
  }
  header .inner nav > ul li.main-menu ul.sub-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 65px;
    display: none;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a {
    padding: 6px;
    font-size: 16px;
    border: 1px solid #828080;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover {
    color: #000;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background-color: var(--color-gray100);
    z-index: -1;
  }
  header .inner .first_logo {
    max-width: 44%;
  }
  header .inner .logo_change {
    max-width: 260px;
  }
  header .scrolled {
    background-color: var(--color-gray100);
    border-bottom: 1px solid #e4e4e4;
  }
  header .scrolled nav > ul li.main-menu a {
    color: black;
  }
  .wrap .bg_img .introduce .txt p {
    line-height: 1.6;
  }
  .wrap .sect1,
  .wrap .sect2 footer {
    padding: 120px 0px 160px;
  }
  .wrap .sect1 .art1 .more a.btn .right p {
    font-size: 12px;
    font-weight: 800;
  }
  .wrap .sect1 .art1 .swiper .swiper-scrollbar {
    width: 24%;
  }
  .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination {
    width: 25%;
  }
  .wrap .sect1 .art2 {
    margin-top: 160px;
  }
  .wrap .sect1 .art2 .collections {
    width: 100%;
  }
  .wrap .sect1 .art2 ul {
    width: 50%;
  }
  .wrap .sect1 .art2 ul .txt {
    font-size: 2rem;
  }
  .wrap .sect1 .art2 ul .txt br {
    display: none;
  }
  .wrap .sect2 .top .q {
    display: none;
  }
  .wrap .sect2 .top .q p {
    color: var(--color-gray100);
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .q ul.q_list li {
    border-bottom: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .top .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: var(--color-gray100);
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .top .q ul.q_list li:nth-child(1) {
    border-top: 1px solid var(--color-gray500);
  }
  .wrap .sect2 .app h3 {
    padding-bottom: 20px;
  }
  .wrap .sect2 .app h3 br {
    display: none;
  }
  .wrap .sect2 .app p {
    font-size: 2rem;
  }
  .wrap .sect2 .app a {
    font-size: 2rem;
  }
  .wrap .sect2 .bottom .title {
    font-size: 2.4rem;
    padding-bottom: 4px;
  }
  .wrap .sect2 .bottom .sub_txt {
    font-size: 16px;
  }
  .wrap .sect2 .bottom .sub_txt br {
    display: block;
  }
  footer {
    margin-top: 100px;
  }
  footer .f_top {
    display: flex;
    justify-content: space-between;
  }
  footer .f_top .f_logo {
    display: block !important;
    width: 30% !important;
  }
  footer .f_top .f_logo .img_box {
    width: 50%;
  }
  footer .f_top .f_logo .img_box img {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .f_top .site_map {
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 20px;
  }
  footer .f_top .site_map .f_menu li a {
    font-size: 2.4rem;
  }
  footer .f_top .site_map .exhibition > a,
  footer .f_top .site_map .collection > a,
  footer .f_top .site_map .visit > a {
    font-size: 2.4rem;
  }
  footer .f_top .site_map .exhibition ul li a,
  footer .f_top .site_map .collection ul li a,
  footer .f_top .site_map .visit ul li a {
    font-size: 2rem;
  }
  .footer_util .f_information {
    margin-top: 6px;
    gap: 10px;
  }
  .footer_util .f_information a {
    font-size: 1.6rem;
  }
  .footer_util .sns {
    width: 15%;
  }
}/*# sourceMappingURL=index.css.map */