@charset "UTF-8";
html,
body {
  background: #111;
  font-size: 10px;
  color: #333;
  position: relative;
}
html a,
body a {
  color: inherit;
  cursor: pointer;
}
html .wrap,
body .wrap {
  background: #111;
}
html .wrap .bg_img,
body .wrap .bg_img {
  background: url("../imgs/서울시립미술관.jpg") top 50% center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
html .wrap .bg_img::after,
body .wrap .bg_img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(to top, #11110f 0%, rgba(17, 16, 17, 0) 80%);
  z-index: 0;
  pointer-events: none;
}
html .wrap .bg_img .introduce,
body .wrap .bg_img .introduce {
  margin: auto;
  height: 86%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
html .wrap .bg_img .introduce h2,
body .wrap .bg_img .introduce h2 {
  line-height: 1.4;
}
html .wrap .bg_img .introduce .txt > p,
body .wrap .bg_img .introduce .txt > p {
  color: #ddd;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 40px;
}
html .wrap .bg_img .introduce .txt .bottom,
body .wrap .bg_img .introduce .txt .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html .wrap .bg_img .introduce .txt .bottom .visit,
body .wrap .bg_img .introduce .txt .bottom .visit {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  padding: 20px 25px;
  border: 1px solid #fff;
  border-radius: 50px;
}
html .wrap .bg_img .introduce .txt .bottom .visit:hover,
body .wrap .bg_img .introduce .txt .bottom .visit:hover {
  background: #fff;
  color: #333;
}
html .wrap .bg_img .introduce .txt .bottom .status,
body .wrap .bg_img .introduce .txt .bottom .status {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
html .wrap .bg_img .introduce .txt .bottom .status i,
body .wrap .bg_img .introduce .txt .bottom .status i {
  padding-right: 6px;
  color: #fff;
}
html .wrap .bg_img .introduce .txt .bottom .status span,
body .wrap .bg_img .introduce .txt .bottom .status span {
  font-weight: 600;
  color: #fff;
}
html .wrap .sect1,
body .wrap .sect1 {
  width: 95%;
  background: #fff;
  position: relative;
  z-index: 99;
  border-radius: 20px;
}
html .wrap .sect1 .art1 .more,
body .wrap .sect1 .art1 .more {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
html .wrap .sect1 .art1 .more .btn,
body .wrap .sect1 .art1 .more .btn {
  display: flex;
  align-items: center;
}
html .wrap .sect1 .art1 .more .btn p,
body .wrap .sect1 .art1 .more .btn p {
  color: var(--gray3);
}
html .wrap .sect1 .art1 .more .btn .right,
body .wrap .sect1 .art1 .more .btn .right {
  width: 20px;
  height: 20px;
  border-radius: 99px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
html .wrap .sect1 .art1 .more .btn .right p,
body .wrap .sect1 .art1 .more .btn .right p {
  color: #333;
  font-size: 12px;
  font-weight: 800;
}
html .wrap .sect1 .art1 .swiper,
body .wrap .sect1 .art1 .swiper {
  width: 100%;
  height: 100%;
}
html .wrap .sect1 .art1 .swiper .swiper-slide,
body .wrap .sect1 .art1 .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
html .wrap .sect1 .art1 .swiper .swiper-slide a,
body .wrap .sect1 .art1 .swiper .swiper-slide a {
  width: 100%;
}
html .wrap .sect1 .art1 .swiper .swiper-slide a .img_box,
body .wrap .sect1 .art1 .swiper .swiper-slide a .img_box {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
html .wrap .sect1 .art1 .swiper .swiper-slide a .img_box::after,
body .wrap .sect1 .art1 .swiper .swiper-slide a .img_box::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  pointer-events: none;
}
html .wrap .sect1 .art1 .swiper .swiper-slide a .img_box img,
body .wrap .sect1 .art1 .swiper .swiper-slide a .img_box img {
  display: block;
  width: 100%;
  object-fit: cover;
}
html .wrap .sect1 .art1 .swiper .swiper-slide a .txt .title,
body .wrap .sect1 .art1 .swiper .swiper-slide a .txt .title {
  font-weight: 500;
}
html .wrap .sect1 .art1 .swiper .pagination_area,
body .wrap .sect1 .art1 .swiper .pagination_area {
  position: relative;
  padding: 40px;
  display: flex;
  border: 1px solid #000;
}
html .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination,
body .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  left: 0;
  border-radius: 20px;
  overflow: hidden;
}
html .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination span,
body .wrap .sect1 .art1 .swiper .pagination_area .swiper-pagination span {
  border-radius: 20px;
  overflow: hidden;
  background: #111;
}
html .wrap .sect1 .art2 .collections .left a,
html .wrap .sect1 .art2 .collections .right a,
body .wrap .sect1 .art2 .collections .left a,
body .wrap .sect1 .art2 .collections .right a {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
html .wrap .sect1 .art2 .collections .left a p,
html .wrap .sect1 .art2 .collections .right a p,
body .wrap .sect1 .art2 .collections .left a p,
body .wrap .sect1 .art2 .collections .right a p {
  position: absolute;
  left: 30px;
  bottom: 25px;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  z-index: 1;
}
html .wrap .sect1 .art2 .collections .left,
body .wrap .sect1 .art2 .collections .left {
  border-radius: 20px;
  overflow: hidden;
  height: 360px;
}
html .wrap .sect1 .art2 .collections .left a .img_box,
body .wrap .sect1 .art2 .collections .left a .img_box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
html .wrap .sect1 .art2 .collections .left a .img_box img,
body .wrap .sect1 .art2 .collections .left a .img_box img {
  width: 100%;
  transform: scale(1);
  transition: 0.3s ease;
  min-height: 600px;
}
html .wrap .sect1 .art2 .collections .left a:hover .img_box::after,
body .wrap .sect1 .art2 .collections .left a:hover .img_box::after {
  opacity: 1;
}
html .wrap .sect1 .art2 .collections .left a:hover img,
body .wrap .sect1 .art2 .collections .left a:hover img {
  transform: scale(1.05);
}
html .wrap .sect1 .art2 .collections .grid,
body .wrap .sect1 .art2 .collections .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-top: 4px;
}
html .wrap .sect1 .art2 .collections .grid a .img_box,
body .wrap .sect1 .art2 .collections .grid a .img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
html .wrap .sect1 .art2 .collections .grid a .img_box img,
body .wrap .sect1 .art2 .collections .grid a .img_box img {
  transform: scale(1);
  transition: 0.3s ease;
}
html .wrap .sect1 .art2 .collections .grid a:nth-child(3) .img_box,
body .wrap .sect1 .art2 .collections .grid a:nth-child(3) .img_box {
  align-items: start;
}
html .wrap .sect1 .art2 .collections .grid a:hover::after,
body .wrap .sect1 .art2 .collections .grid a:hover::after {
  opacity: 0.8;
}
html .wrap .sect1 .art2 .collections .grid a:hover img,
body .wrap .sect1 .art2 .collections .grid a:hover img {
  transform: scale(1.1);
}
html .wrap .sect1 .art2 ul,
body .wrap .sect1 .art2 ul {
  display: flex;
  gap: 8px;
}
html .wrap .sect1 .art2 ul li,
body .wrap .sect1 .art2 ul li {
  width: 25%;
}
html .wrap .sect1 .art2 ul li a .link,
body .wrap .sect1 .art2 ul li a .link {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 20px;
  display: block;
  position: relative;
  white-space: nowrap;
}
html .wrap .sect1 .art2 ul li a .link::after,
body .wrap .sect1 .art2 ul li a .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #eee;
  transition: 0.3s;
}
html .wrap .sect1 .art2 ul li a .txt,
body .wrap .sect1 .art2 ul li a .txt {
  display: none;
}
html .wrap .sect2,
body .wrap .sect2 {
  width: 95%;
  margin: auto;
}
html .wrap .sect2 .top,
body .wrap .sect2 .top {
  border-radius: 20px;
  background: #222;
  text-align: center;
}
html .wrap .sect2 .top h3,
body .wrap .sect2 .top h3 {
  color: #fff;
}
html .wrap .sect2 .top p,
body .wrap .sect2 .top p {
  color: #ddd;
}
html .wrap .sect2 .top a,
body .wrap .sect2 .top a {
  background: #444;
  color: #eee;
  display: inline-block;
  font-weight: 600;
  border-radius: 50px;
  transition: 0.2s;
}
html .wrap .sect2 .top a:hover,
body .wrap .sect2 .top a:hover {
  background: #ddd;
  color: #333;
  transition: 0.5s;
}
html .wrap .sect2 .bottom .item_txt,
body .wrap .sect2 .bottom .item_txt {
  text-align: center;
}
html .wrap .sect2 .bottom .item_txt .title p,
html .wrap .sect2 .bottom .item_txt .sub_txt p,
body .wrap .sect2 .bottom .item_txt .title p,
body .wrap .sect2 .bottom .item_txt .sub_txt p {
  color: #fff;
}
html .wrap .sect2 .bottom .item_txt .title,
body .wrap .sect2 .bottom .item_txt .title {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  header {
    border: 1px solid #96db15;
    padding: 20px 40px;
    transition: 0.5s;
  }
  header .inner {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .inner h1 {
    display: none;
    width: 20%;
    height: 100%;
  }
  header .inner h1 img {
    height: 100%;
  }
  header .inner nav {
    width: 50%;
    display: none;
  }
  header .inner nav ul li {
    flex: 1;
    text-align: center;
  }
  header .inner nav ul li a {
    color: #fff;
  }
  header .inner .right-menu {
    width: 20%;
  }
  header .inner .right-menu ul {
    gap: 20px;
    justify-content: flex-end;
  }
  header .inner .right-menu ul li a {
    color: #fff;
  }
  header .inner .right-menu ul li a i {
    color: #fff;
  }
  header.scrolled {
    background-color: rgb(255, 255, 255); /* 스크롤 후 변경된 배경색 */
    border-bottom: 1px solid #e4e4e4;
  }
  header.scrolled nav ul li a {
    color: black; /* 스크롤 후 변경된 nav 링크 색상 */
  }
  header.scrolled .right-menu ul li a {
    color: black; /* 스크롤 후 변경된 nav 링크 색상 */
  }
  header.scrolled .right-menu ul li a i {
    color: black; /* 스크롤 후 변경된 nav 링크 색상 */
  }
  .wrap .bg_img {
    background: url(../imgs/서울시립미술관.jpg) top 50% center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .wrap .bg_img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, #11110f 0%, rgba(17, 16, 17, 0) 80%);
    z-index: 0;
    pointer-events: none;
  }
  .wrap .bg_img .introduce {
    width: 95%;
    padding: 150px 20px 0;
    gap: 3rem;
    text-align: center;
  }
  .wrap .bg_img .introduce h2 {
    font-size: 7vw;
    line-height: 1.4;
  }
  .wrap .bg_img .introduce .txt p {
    font-size: clamp(1.4rem, 1vw, 1.6rem);
    word-break: keep-all;
    margin-bottom: 20px;
  }
  .wrap .bg_img .introduce .txt p br {
    display: none;
  }
  .wrap .bg_img .introduce .txt .bottom {
    flex-direction: column;
    background: transparent;
  }
  .wrap .bg_img .introduce .txt .bottom .visit {
    padding: 20px 25px;
    font-size: 1.6rem;
  }
  .wrap .bg_img .introduce .txt .bottom .status {
    padding-top: 50px;
    font-size: 4vw;
  }
  .wrap .animate .title h2 {
    transform: translateX(0);
    transition: 0.5s ease;
  }
  .wrap .animate .title p:nth-child(1) {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.1s;
  }
  .wrap .animate .title p:nth-child(2) {
    transform: translateX(0);
    transition: 0.5s ease;
    transition-delay: 0.2s;
  }
  .wrap .animate .title p.artist {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.25s;
  }
  .wrap h3 {
    font-size: 6vw;
    padding-bottom: 20px;
  }
  .wrap .sect1 {
    padding: 80px 10px 60px;
    margin: -40px auto 0;
  }
  .wrap .sect1 article.art1 {
    margin-bottom: 60px;
  }
  .wrap .sect1 article.art1 .more {
    padding-bottom: 0;
  }
  .wrap .sect1 article.art1 .more a.btn {
    display: flex;
    align-items: center;
  }
  .wrap .sect1 article.art1 .more a.btn p {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .wrap .sect1 article.art1 .more a.btn .right {
    width: 20px;
    height: 20px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .wrap .sect1 article.art1 .more a.btn .right p {
    color: var(--gray3);
    font-size: 12px;
    font-weight: 800;
  }
  .wrap .sect1 article.art1 .swiper .swiper-wrapper .swiper-slide .txt {
    padding: 0 5px;
  }
  .wrap .sect1 article.art1 .swiper .swiper-wrapper .swiper-slide .txt .title {
    font-size: 2rem;
    font-weight: 400;
  }
  .wrap .sect1 article.art1 .swiper .swiper-wrapper .swiper-slide .txt .sub_txt p {
    font-size: 1.6rem;
  }
  .wrap .sect1 article.art1 .swiper .swiper-scrollbar {
    width: 24%;
    margin: 0;
    left: 0;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .wrap .sect1 article.art1 .swiper .btn_box {
    border: 1px solid #000;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 24px;
    right: 0;
    z-index: 100;
  }
  .wrap .sect1 article.art1 .swiper .btn_box > div {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 10px;
    color: #333;
  }
  .wrap .sect1 article.art1 .swiper .item {
    display: none;
  }
  .wrap .sect1 article.art1 .swiper .item .art_img {
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
  }
  .wrap .sect1 article.art1 .swiper .item.item4 {
    display: block;
  }
  .wrap .sect1 article.art2 .collections {
    padding-bottom: 40px;
  }
  .wrap .sect1 article.art2 .collections .left a p,
  .wrap .sect1 article.art2 .collections .right a p {
    left: 15px;
    bottom: 10px;
    font-size: 5vw;
  }
  .wrap .sect1 article.art2 .collections .left {
    height: 200px;
  }
  .wrap .sect1 article.art2 .collections .left a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(17, 17, 17, 0.6196078431) 0%, rgba(17, 17, 17, 0) 90%);
    opacity: 0.9;
  }
  .wrap .sect1 article.art2 .collections .left a .img_box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap .sect1 article.art2 .collections .left a .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrap .sect1 article.art2 .collections .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrap .sect1 article.art2 .collections .grid a {
    height: 150px;
  }
  .wrap .sect1 article.art2 .collections .grid a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(17, 17, 17, 0.6196078431) 0%, rgba(17, 17, 17, 0) 90%);
    opacity: 0.9;
  }
  .wrap .sect1 article.art2 .collections .grid a .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrap .sect1 article.art2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
  }
  .wrap .sect1 article.art2 ul li {
    width: 100%;
  }
  .wrap .sect1 article.art2 ul li a {
    display: block;
  }
  .wrap .sect1 article.art2 ul li a .link {
    width: 100%;
    font-size: 5vw;
    padding-bottom: 10px;
  }
  .wrap .sect1 article.art2 ul li a .link::after {
    width: 100%;
    display: none;
  }
  .wrap .sect1 article.art2 ul li a .txt {
    display: none;
  }
  .wrap .sect2 {
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .wrap .sect2 .top {
    margin-bottom: 60px;
    padding: 40px 10px;
  }
  .wrap .sect2 .top .app h3 {
    padding-bottom: 20px;
    font-size: 6vw;
    line-height: 1.4;
  }
  .wrap .sect2 .top .app h3 br {
    display: block;
  }
  .wrap .sect2 .top .app p {
    font-size: 4vw;
    padding-bottom: 40px;
    word-break: keep-all;
  }
  .wrap .sect2 .top .app p br {
    display: none;
  }
  .wrap .sect2 .top .app a {
    font-size: 1.6rem;
    padding: 15px 40px;
  }
  .wrap .sect2 .top .q {
    display: none;
  }
  .wrap .sect2 .top .q p {
    color: #fff;
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .q ul.q_list li {
    border-bottom: 1px solid #666;
  }
  .wrap .sect2 .top .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: #fff;
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .top .q ul.q_list li:nth-child(1) {
    border-top: 1px solid #666;
  }
  .wrap .sect2 .bottom {
    display: flex;
    justify-content: space-between;
  }
  .wrap .sect2 .bottom a.item {
    border-right: 1px solid #999;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .wrap .sect2 .bottom a.item:nth-child(5) {
    border-right: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .title p,
  .wrap .sect2 .bottom a.item .item_txt .title i {
    color: #fff;
    letter-spacing: 1;
    width: 100%;
  }
  .wrap .sect2 .bottom a.item .item_txt .title i {
    display: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .sub_txt {
    display: none;
  }
  footer {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    padding: 0 10px;
  }
  footer .f-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  footer .f-top .f-logo {
    width: 100%;
  }
  footer .f-top .f-logo img {
    width: 60%;
    margin-bottom: 15px;
  }
  footer .f-top .f-logo li {
    font-weight: 500;
  }
  footer .f-top .f-logo li a {
    font-weight: 800;
  }
  footer .f-top .f-logo > ul {
    border-top: none;
  }
  footer .f-top ul {
    border-top: 1px solid var(--gray3);
    padding: 20px 0;
  }
  footer .f-top ul li {
    font-weight: 900;
    font-size: 16px;
    color: var(--gray3);
  }
  footer .f-top .f-information {
    border-bottom: 1px solid var(--gray3);
  }
  footer .f-top .family {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--gray3);
  }
  footer .f-top .family p {
    margin-bottom: 10px;
    font-weight: 800;
  }
  footer .f-top .family select {
    width: 100%;
    height: 40px;
    padding: 10px;
  }
  footer .f-btn {
    display: flex;
    flex-direction: column-reverse;
  }
  footer .f-btn p {
    color: var(--gray2);
    width: 100%;
    text-align: center;
    padding: 24px 0 60px;
  }
  footer .f-btn .sns {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--gray3);
  }
  footer .f-btn .sns ul {
    margin: auto;
    width: 80%;
    gap: 20px;
  }
  footer .f-btn .sns ul li {
    flex: 1;
  }
  footer .f-btn .sns ul li img {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) {
  header {
    height: 120px;
    transition: 0.5s;
    background: #fff;
    padding: 40px 20px;
  }
  header .inner {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .inner h1 {
    width: 15%;
    height: 40px;
    position: relative;
  }
  header .inner h1 a {
    width: 100%;
  }
  header .inner h1 a img {
    width: 100%;
  }
  header .inner nav {
    width: 70%;
  }
  header .inner nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  header .inner nav > ul li.main-menu {
    text-align: center;
    position: relative;
  }
  header .inner nav > ul li.main-menu:hover > a::before {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  header .inner nav > ul li.main-menu > a {
    color: #333;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
  }
  header .inner nav > ul li.main-menu > a::before {
    content: "";
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  header .inner nav > ul li.main-menu ul.sub-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 65px;
    display: none;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a {
    display: block;
    color: #fff;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #828080;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover {
    color: #000;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    z-index: -1;
  }
  header .inner .right-menu {
    width: 15%;
  }
  header .inner .right-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  header .inner .right-menu ul li a {
    color: #666;
    background: #ddd;
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
  }
  header .inner .right-menu ul li a i {
    color: #333;
  }
  header .scrolled {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e4e4e4;
  }
  header .scrolled nav > ul li.main-menu a {
    color: black;
  }
  header.scrolled .right-menu ul li a {
    color: black;
  }
  header.scrolled .right-menu ul li a i {
    color: black;
  }
  .wrap h3 {
    font-size: 3rem;
    padding-bottom: 40px;
  }
  .wrap .bg_img .introduce {
    width: 95%;
    padding: 200px 0 25px;
    gap: 300px;
  }
  .wrap .bg_img .introduce h2 {
    font-size: 5rem;
  }
  .wrap .bg_img .introduce .txt p {
    font-size: 2rem;
  }
  .wrap .bg_img .introduce .txt .bottom .visit {
    font-size: 2rem;
  }
  .wrap .bg_img .introduce .txt .bottom .status {
    background: #111;
    padding: 20px 30px;
    font-size: 2.4rem;
    border-radius: 50px;
  }
  .wrap .sect1 {
    margin: -80px auto 0;
    padding: 120px 20px;
  }
  .wrap .sect1 article.art1 .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrap .sect1 article.art1 .more a.btn {
    display: flex;
    align-items: center;
  }
  .wrap .sect1 article.art1 .more a.btn p {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .wrap .sect1 article.art1 .more a.btn .right {
    width: 20px;
    height: 20px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .wrap .sect1 article.art1 .more a.btn .right p {
    color: var(--gray3);
    font-size: 12px;
    font-weight: 800;
  }
  .wrap .sect1 article.art1 .swiper .swiper-wrapper .swiper-slide .txt {
    padding: 0 5px;
  }
  .wrap .sect1 article.art1 .swiper .swiper-wrapper .swiper-slide .txt .title {
    font-size: 2.4rem;
    line-height: 1.3;
    margin-top: 10px;
  }
  .wrap .sect1 article.art1 .swiper .swiper-wrapper .swiper-slide .txt .sub_txt {
    margin-top: 10px;
    color: #666;
  }
  .wrap .sect1 article.art1 .swiper .swiper-wrapper .swiper-slide .txt .sub_txt p {
    font-size: 2rem;
  }
  .wrap .sect1 article.art1 .swiper .pagination_area .swiper-pagination {
    width: 49%;
  }
  .wrap .sect1 article.art1 .swiper .btn_box {
    width: 130px;
    height: 50px;
    position: absolute;
    bottom: 24px;
    right: 0;
    z-index: 100;
  }
  .wrap .sect1 article.art1 .swiper .btn_box > div {
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: #333;
  }
  .wrap .sect1 article.art1 .swiper .item {
    display: none;
  }
  .wrap .sect1 article.art1 .swiper .item .art_img {
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
  }
  .wrap .sect1 article.art1 .swiper .item.item4 {
    display: block;
  }
  .wrap .sect1 article.art2 {
    margin-top: 160px;
  }
  .wrap .sect1 article.art2 .collections {
    gap: 4px;
    width: 100%;
    padding-bottom: 100px;
  }
  .wrap .sect1 article.art2 .collections .left a,
  .wrap .sect1 article.art2 .collections .right a {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  .wrap .sect1 article.art2 .collections .left a::after,
  .wrap .sect1 article.art2 .collections .right a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(to top, rgba(17, 17, 17, 0.6196078431) 0%, rgba(17, 17, 17, 0) 40%);
    opacity: 0.6;
    transition: 0.3s ease;
  }
  .wrap .sect1 article.art2 .collections .left a p,
  .wrap .sect1 article.art2 .collections .right a p {
    position: absolute;
    left: 30px;
    bottom: 25px;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    z-index: 1;
  }
  .wrap .sect1 article.art2 .collections .left {
    border-radius: 20px;
    overflow: hidden;
    height: 360px;
  }
  .wrap .sect1 article.art2 .collections .left a .img_box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .wrap .sect1 article.art2 .collections .left a .img_box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(to top, rgba(17, 17, 17, 0.6196078431) 0%, rgba(17, 17, 17, 0) 40%);
    opacity: 0.6;
    transition: 0.3s ease;
  }
  .wrap .sect1 article.art2 .collections .left a .img_box img {
    transform: scale(1);
    transition: 0.3s ease;
    min-height: 600px;
  }
  .wrap .sect1 article.art2 .collections .left a:hover .img_box::after {
    opacity: 1;
  }
  .wrap .sect1 article.art2 .collections .left a:hover img {
    transform: scale(1.05);
  }
  .wrap .sect1 article.art2 .collections .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    margin-top: 4px;
  }
  .wrap .sect1 article.art2 .collections .grid a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(to top, rgba(17, 17, 17, 0.6196078431) 0%, rgba(17, 17, 17, 0) 40%);
    opacity: 0.5;
    transition: 0.3s ease;
  }
  .wrap .sect1 article.art2 .collections .grid a .img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .wrap .sect1 article.art2 .collections .grid a .img_box img {
    transform: scale(1);
    transition: 0.3s ease;
  }
  .wrap .sect1 article.art2 .collections .grid a:nth-child(3) .img_box {
    align-items: start;
  }
  .wrap .sect1 article.art2 .collections .grid a:hover::after {
    opacity: 0.8;
  }
  .wrap .sect1 article.art2 .collections .grid a:hover img {
    transform: scale(1.1);
  }
  .wrap .sect1 article.art2 ul {
    display: flex;
    gap: 8px;
  }
  .wrap .sect1 article.art2 ul li {
    width: 25%;
  }
  .wrap .sect1 article.art2 ul li a .link {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
    display: block;
    position: relative;
    white-space: nowrap;
  }
  .wrap .sect1 article.art2 ul li a .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #eee;
    transition: 0.3s;
  }
  .wrap .sect1 article.art2 ul li a .txt {
    display: none;
  }
  .wrap .sect2 {
    width: 95%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .wrap .sect2 .top {
    margin-bottom: 120px;
    padding: 60px 0;
  }
  .wrap .sect2 .top .app h3 {
    padding-bottom: 20px;
    font-size: 3rem;
  }
  .wrap .sect2 .top .app h3 br {
    display: none;
  }
  .wrap .sect2 .top .app p {
    font-size: 1.6rem;
    padding-bottom: 40px;
  }
  .wrap .sect2 .top .app a {
    font-size: 2rem;
    padding: 20px 60px;
  }
  .wrap .sect2 .top .q {
    display: none;
  }
  .wrap .sect2 .top .q p {
    color: #fff;
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .q ul.q_list li {
    border-bottom: 1px solid #666;
  }
  .wrap .sect2 .top .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: #fff;
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .top .q ul.q_list li:nth-child(1) {
    border-top: 1px solid #666;
  }
  .wrap .sect2 .bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .wrap .sect2 .bottom a.item {
    border-right: 1px solid #999;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }
  .wrap .sect2 .bottom a.item:nth-child(5) {
    border-right: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .title p,
  .wrap .sect2 .bottom a.item .item_txt .title i {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 1;
    width: 100%;
  }
  .wrap .sect2 .bottom a.item .item_txt .title i {
    display: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .sub_txt {
    display: none;
  }
  .wrap footer {
    margin-top: 100px;
  }
  .wrap footer .f-top {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 0 40px;
  }
  .wrap footer .f-top .f-logo {
    width: 50%;
  }
  .wrap footer .f-top .f-logo img {
    width: 50%;
    margin-bottom: 30px;
  }
  .wrap footer .f-top .f-logo ul li {
    font-weight: 500;
    font-size: 16px;
    color: var(--gray3);
  }
  .wrap footer .f-top .f-logo ul li a {
    font-weight: 800;
    padding-left: 5px;
  }
  .wrap footer .f-top ul.f-menu li,
  .wrap footer .f-top ul.f-information li {
    line-height: 40px;
    font-weight: 800;
    font-size: 16px;
  }
  .wrap footer .f-top .family {
    width: 20%;
  }
  .wrap footer .f-top .family p {
    margin-bottom: 10px;
    font-weight: 800;
  }
  .wrap footer .f-top .family select {
    width: 100%;
    height: 40px;
    padding: 10px;
  }
  .wrap footer .line {
    border-top: 1px solid #bcbcbc;
    padding-bottom: 20px;
  }
  .wrap footer .f-btn {
    display: flex;
    padding: 0 40px 60px;
    /* 혹시나 모바일의 영향이 있을까하는.... */
    justify-content: space-between;
    align-self: center;
  }
  .wrap footer .f-btn p {
    color: var(--gray2);
  }
  .wrap footer .f-btn .sns {
    width: 25%;
  }
  .wrap footer .f-btn .sns ul {
    width: 100%;
    gap: 20px;
  }
  .wrap footer .f-btn .sns ul li {
    flex: 1;
  }
  .wrap footer .f-btn .sns ul li img {
    width: 100%;
  }
  .animate .title h2 {
    transform: translateX(0);
    transition: 0.5s ease;
  }
  .animate .title p:nth-child(1) {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.1s;
  }
  .animate .title p:nth-child(2) {
    transform: translateX(0);
    transition: 0.5s ease;
    transition-delay: 0.2s;
  }
  .animate .title p.artist {
    transform: translateX(0);
    transition: 0.5s ease-out;
    transition-delay: 0.25s;
  }
}
@media only screen and (min-width: 900px) {
  .wrap .bg_img .introduce .txt > p br.welBr {
    display: none;
  }
  .wrap .sect1 article.art1 .swiper .pagination_area .swiper-pagination {
    width: 33.3333%;
  }
  .wrap .sect1 article.art2 {
    margin-top: 160px;
  }
  .wrap .sect1 article.art2 .collections {
    display: block;
  }
  .wrap .sect1 article.art2 .collections .left a,
  .wrap .sect1 article.art2 .collections .right a {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  .wrap .sect1 article.art2 .collections .left a p,
  .wrap .sect1 article.art2 .collections .right a p {
    position: absolute;
    left: 30px;
    bottom: 25px;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    z-index: 1;
  }
  .wrap .sect1 article.art2 .collections .left {
    width: 100%;
    height: 400px;
  }
  .wrap .sect1 article.art2 .collections .left a {
    height: 100%;
  }
  .wrap .sect1 article.art2 .collections .left a .img_box img {
    width: 100%;
  }
  .wrap .sect1 article.art2 .collections .grid {
    width: 100%;
    height: 220px;
    grid-template-columns: repeat(4, 1fr);
  }
  .wrap .sect1 article.art2 .collections .grid a .img_box img {
    width: 100%;
    min-height: 100%;
  }
  .wrap .sect1 article.art2 .collections .grid a:nth-child(3) .img_box {
    align-items: start;
  }
  .wrap .sect1 article.art2 ul {
    display: flex;
    gap: 8px;
  }
  .wrap .sect1 article.art2 ul li {
    width: 25%;
  }
  .wrap .sect1 article.art2 ul li a .link {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  .wrap .sect1 article.art2 ul li a .link::after {
    width: 10%;
    background: #ddd;
  }
  .wrap .sect1 article.art2 ul li a .txt {
    font-size: 1.6rem;
    display: block;
    word-break: keep-all;
  }
  .wrap .sect1 article.art2 ul li a .txt br {
    display: block;
  }
  .wrap .sect1 article.art2 ul li a .txt br.coral {
    display: none;
  }
  .wrap .sect1 footer .f-top {
    justify-content: space-between;
    margin-bottom: 60px;
    display: flex;
    padding: 0 40px;
  }
  .wrap .sect1 footer .f-top .f-logo {
    width: 50%;
  }
  .wrap .sect1 footer .f-top .f-logo img {
    width: 50%;
    margin-bottom: 30px;
  }
  .wrap .sect1 footer .f-top .f-logo ul li {
    font-weight: 500;
    font-size: 16px;
    color: var(--gray3);
  }
  .wrap .sect1 footer .f-top .f-logo ul li a {
    font-weight: 800;
    padding-left: 5px;
  }
  .wrap .sect1 footer .f-top ul.f-menu li,
  .wrap .sect1 footer .f-top ul.f-information li {
    line-height: 40px;
    font-weight: 800;
    font-size: 16px;
  }
  .wrap .sect1 footer .f-top .family {
    width: 20%;
  }
  .wrap .sect1 footer .f-top .family p {
    margin-bottom: 10px;
    font-weight: 800;
  }
  .wrap .sect1 footer .f-top .family select {
    width: 100%;
    height: 40px;
    padding: 10px;
  }
  .wrap .sect1 footer .line {
    border-top: 1px solid #bcbcbc;
    padding-bottom: 20px;
  }
  .wrap .sect1 footer .f-btn {
    display: flex;
    padding: 0 40px 60px;
    /* 혹시나 모바일의 영향이 있을까하는.... */
    justify-content: space-between;
    align-self: center;
  }
  .wrap .sect1 footer .f-btn p {
    color: var(--gray2);
  }
  .wrap .sect1 footer .f-btn .sns {
    width: 25%;
  }
  .wrap .sect1 footer .f-btn .sns ul {
    width: 100%;
    gap: 20px;
  }
  .wrap .sect1 footer .f-btn .sns ul li {
    flex: 1;
  }
  .wrap .sect1 footer .f-btn .sns ul li img {
    width: 100%;
  }
  .wrap .sect2 .top {
    padding: 80px 0;
  }
  .wrap .sect2 .top .app h3 {
    padding-bottom: 20px;
    font-size: 4rem;
  }
  .wrap .sect2 .top .app h3 br {
    display: none;
  }
  .wrap .sect2 .top .app p {
    font-size: 2rem;
  }
  .wrap .sect2 .top .app p br.appBr {
    display: none;
  }
  .wrap .sect2 .top .q {
    display: none;
  }
  .wrap .sect2 .top .q p {
    color: #fff;
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .q ul.q_list li {
    border-bottom: 1px solid #666;
  }
  .wrap .sect2 .top .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: #fff;
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .top .q ul.q_list li:nth-child(1) {
    border-top: 1px solid #666;
  }
  .wrap .sect2 .bottom a.item {
    padding-right: 20px;
    padding-left: 20px;
  }
  .wrap .sect2 .bottom a.item:nth-child(5) {
    border-right: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .title {
    padding-bottom: 10px;
  }
  .wrap .sect2 .bottom a.item .item_txt .title p,
  .wrap .sect2 .bottom a.item .item_txt .title i {
    color: #fff;
    font-size: 2.4rem;
    letter-spacing: 1;
  }
  .wrap .sect2 .bottom a.item .item_txt .title i {
    display: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .sub_txt {
    display: block;
    color: #ddd;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  header .inner {
    max-width: 1600px;
  }
  header .inner nav > ul {
    gap: 40px;
  }
  header .inner nav > ul li.main-menu > a {
    padding: 10px;
    font-size: 2rem;
  }
  header .inner nav > ul li.main-menu ul.sub-menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 65px;
    display: none;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a {
    display: block;
    color: #fff;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #828080;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover {
    color: #000;
  }
  header .inner nav > ul li.main-menu ul.sub-menu li > a:hover::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    z-index: -1;
  }
  header .inner .right-menu ul {
    gap: 10px;
  }
  header .inner .right-menu ul li a {
    padding: 10px 20px;
  }
  header .scrolled {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e4e4e4;
  }
  header .scrolled nav > ul li.main-menu a {
    color: black;
  }
  .wrap h3 {
    font-size: 4rem;
    padding-bottom: 40px;
  }
  .wrap .bg_img {
    background-size: 100%;
  }
  .wrap .bg_img .introduce {
    max-width: 1700px;
    padding: 200px 50px 0;
    gap: 300px;
  }
  .wrap .bg_img .introduce h2 {
    font-size: 5rem;
    line-height: 1.4;
  }
  .wrap .bg_img .introduce .txt p {
    color: #ddd;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
  }
  .wrap .bg_img .introduce .txt .bottom .visit {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 20px 25px;
    border: 1px solid #fff;
    border-radius: 50px;
  }
  .wrap .sect1 {
    max-width: 1700px;
    padding: 150px 50px;
  }
  .wrap .sect1 article.art1 .more a.btn .right p {
    color: var(--gray3);
    font-size: 12px;
    font-weight: 800;
  }
  .wrap .sect1 article.art1 .swiper .swiper-scrollbar {
    width: 24%;
  }
  .wrap .sect1 article.art1 .swiper .pagination_area .swiper-pagination {
    width: 25%;
  }
  .wrap .sect1 article.art1 .swiper .item {
    display: none;
  }
  .wrap .sect1 article.art1 .swiper .item .art_img {
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
  }
  .wrap .sect1 article.art1 .swiper .item.item4 {
    display: block;
  }
  .wrap .sect1 article.art2 {
    margin-top: 160px;
  }
  .wrap .sect1 article.art2 .collections {
    height: 700px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 100%;
    padding-bottom: 100px;
  }
  .wrap .sect1 article.art2 .collections .left,
  .wrap .sect1 article.art2 .collections .right {
    width: 50%;
  }
  .wrap .sect1 article.art2 .collections .left a,
  .wrap .sect1 article.art2 .collections .right a {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  .wrap .sect1 article.art2 .collections .left a p,
  .wrap .sect1 article.art2 .collections .right a p {
    position: absolute;
    left: 30px;
    bottom: 25px;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    z-index: 1;
  }
  .wrap .sect1 article.art2 .collections .left {
    height: 100%;
  }
  .wrap .sect1 article.art2 .collections .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0;
    height: auto;
  }
  .wrap .sect1 article.art2 .collections .grid a .img_box img {
    min-height: 300px;
  }
  .wrap .sect1 article.art2 ul li {
    width: 25%;
  }
  .wrap .sect1 article.art2 ul li a .txt {
    font-size: 2rem;
  }
  .wrap .sect1 article.art2 ul li a .txt br.coral {
    display: block;
  }
  .wrap .sect2 .top .app h3 {
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .app h3 br {
    display: none;
  }
  .wrap .sect2 .top .app p {
    font-size: 2rem;
  }
  .wrap .sect2 .top .app a {
    font-size: 2rem;
  }
  .wrap .sect2 .top .q {
    display: none;
  }
  .wrap .sect2 .top .q p {
    color: #fff;
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .wrap .sect2 .top .q ul.q_list li {
    border-bottom: 1px solid #666;
  }
  .wrap .sect2 .top .q ul.q_list li a {
    display: inline-block;
    padding: 20px 0;
    color: #fff;
    font-size: 2rem;
    line-height: 1.4;
  }
  .wrap .sect2 .top .q ul.q_list li:nth-child(1) {
    border-top: 1px solid #666;
  }
  .wrap .sect2 .bottom a.item {
    padding-right: 20px;
    padding-left: 20px;
  }
  .wrap .sect2 .bottom a.item:nth-child(5) {
    border-right: none;
  }
  .wrap .sect2 .bottom a.item .item_txt .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }
  .wrap .sect2 .bottom a.item .item_txt .title p,
  .wrap .sect2 .bottom a.item .item_txt .title i {
    font-size: 2.4rem;
    letter-spacing: 1;
  }
  .wrap .sect2 .bottom a.item .item_txt .title i {
    display: none;
  }
  footer .f-top {
    margin-bottom: 60px;
    padding: 0 60px;
  }
  footer .f-top .f-logo {
    width: 50%;
  }
  footer .f-top .f-logo img {
    width: 50%;
    margin-bottom: 30px;
  }
  footer .f-top .family {
    width: 20%;
  }
  footer .f-top .family p {
    margin-bottom: 10px;
  }
  footer .f-top .family select {
    width: 100%;
    height: 40px;
    padding: 10px;
  }
  footer .line {
    border-top: 1px solid #bcbcbc;
    padding-bottom: 20px;
  }
  footer .f-btn {
    display: flex;
    padding: 0 60px 60px;
    /* 혹시나 모바일의 영향이 있을까하는.... */
    justify-content: space-between;
    align-self: center;
  }
  footer .f-btn p {
    color: var(--gray3);
  }
  footer .f-btn .sns {
    width: 25%;
  }
  footer .f-btn .sns ul {
    width: 100%;
    gap: 20px;
  }
  footer .f-btn .sns ul li {
    flex: 1;
  }
  footer .f-btn .sns ul li img {
    width: 100%;
  }
}/*# sourceMappingURL=index copy.css.map */