@mixin flex-c($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}
@mixin trans-c($left: 50%, $top: 50%, $transform: translate(-50%, -50%)) {
  position: absolute;
  left: $left;
  top: $top;
  transform: $transform;
}
@mixin trans-yc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

section{
  &.sect1 {
    // height: 100vh;
    height: calc(100vh - 280px);
    margin-top: 85px;
    position: relative;
    .swiper {
      position: relative;
      width: calc(100% - 160px);
      height: 100%;
      .swiper-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        .swiper-slide {
          border: 1px solid #000;
          width: calc(100% - 160px);
          height: 100%;
          position: relative;
          overflow: hidden;
          @include flex-c();
          a{
            img{
              width: 100%;
              height: 100%;
              display: block;
              &.web{
                width: 100%;
              }
              &.mob{
                display: none;
              }
            }
          }
        }
      }
    }
    .arrow {
      position: absolute;
      z-index: 99;
      @include flex-c();
      border: 1px solid #000;
      &.prev1 {
        left: 1%;
        top: 50%;
        transform: translateY(-50%);
        // pointer-events: none;
      }
      &.next1 {
        right: 1%;
        top: 50%;
        transform: translateY(-50%);
      }
      svg {
        fill: none;
        stroke: #ccc;
        position: absolute;
        cursor: pointer;

        width: 50px;
        height: 150px;
        cursor: pointer;
        path {
          stroke: #ddd;
          stroke-width: 4;
          stroke-linecap: round; /* 선이라서 stroke-linecap / border-radius 적용 안됨*/
          transition: 0.35s;
          fill: transparent;
        }
      }

      &:hover {
        path {
          stroke: #999;
        }
      }
    }
  }
}