@import url(../reset.css);
@import url(../font/font.css);

@mixin flex-c($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin po-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
// @import url(); //폰트 적용할 파일

$font-size-h2: 50px;
$font-size-h3: 40px;
$font-style: normal;
$font-famaily-h2: "";
//wehight??두께임 -light, -bold같은 거
$font-famaily-h3: "";

$main-basic: #ff671a;
$main-bright1: #ffa87c;
$main-bright2: #ffcdb4;

$sub-color-400: #a785c7;
$sub-color-500: #8a2be2;
$sub-color-600: #5d3a8d;

$gray-200: #eee;
$gray-300-bg: #f5f5f5;
$gray-400: #d9d9d9;
$gray-500: #b5b5b5;
$gray-600: #757575;
$gray-700: #666666;
$gray-800-txt: #333333;
$gray-900: #111111;

$bg-gray: #f5f5f5;
$bg-w: #fff;
$bg-b: #000;
$bg-sect4: #252525;

$height-50vh: 50vh;
$height-100vh: 100vh;
// --------------------------------------------------------
@mixin font-styles($size, $family) {
  font-size: $size;
  font-family: $family;
  font-style: normal;
}

body {
  font-family: "Pretendard";
  letter-spacing: -0.05rem;
  font-size: 10px;
  line-height: 10px;
}
h2 {
  @include font-styles($font-size-h2, $font-famaily-h2);
  // color:$main-color-600
  font-size: 1.2rem;
  color: $main-basic;
}
h3 {
  @include font-styles($font-size-h3, $font-famaily-h3);
  // color: $main-300;
}
p {
  font-size: 1.2rem;
  line-height: 2rem;
}
span {
  font-weight: 700;
  color: $main-basic;
}
section {
  &.sect2 {
    background: $bg-gray;
  }
  &.sect3 {
    .q {
      color: $main-basic;
      font-weight: 500;
    }
    ul.list {
      li {
        font-size: 1rem;
        .list-gf {
          @include flex-c(space-between);
          padding-top: 10px;
          .rod {
            height: 10px;
            border-radius: 5px;
            background: $gray-500;
            &.rod1 {
              background: $main-basic;
            }
          }
          .list-nubmer {
            &.color {
              color: $main-basic;
            }
            &::after {
              content: "%";
              padding-left: 5px;
            }
          }
        }
        &:not(:last-child) {
          padding-bottom: 10px;
        }
        &:nth-child(1) {
          color: $main-basic;
          font-weight: 600;
        }
        &:nth-child(1) {
          .rod1 {
            width: 48.1%;
          }
          .rod2 {
            width: 30.2%;
            border: 1px solid #000;
          }
          .rod3 {
            width: 21.6%;
          }
        }
        &:nth-child(2) {
          .rod1 {
            width: 65.3%;
          }
          .rod2 {
            width: 31.6%;
          }
          .rod3 {
            width: 13.1%;
          }
        }
        &:nth-child(3) {
          .rod1 {
            width: 41.9%;
          }
          .rod2 {
            width: 34.9%;
          }
          .rod3 {
            width: 23.2%;
          }
        }
      }
    }
  }
  &.sect4 {
    background: $bg-sect4;
    text-align: center;
    color: $bg-w;

    .gird-p {
      width: 100%;
      // background: url(./img/selmin/sect4-bg.svg);
      // padding: 20px;

      .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 5px;
        &.main-g {
          border-bottom: 1px solid $bg-w;
          font-weight: bold
        }
        .item {
          // border: 1px solid #cf3d3d;
          @include flex-c();
        }
      }
      .sub-grid {
        ul {
          &:not(:last-child) {
            border-bottom: 1px solid $gray-600;
          }
          li {
            font-weight: 400;
            color: $gray-400;
            &.i-bg {
              background: rgba($main-bright2, 0.2);
              border-radius: 5px;
            }
            img{
              filter: brightness(80%);
            }
            i.fa-o {
              color: $main-basic;
            }
          }
        }
      }
    }
    .calender {
      color: $gray-600;
    }
    .benchmarking {
      display: flex;
      .txt{
        background: $bg-w;
        border-radius: 20px;
        padding-left: 15px;
        padding: 20px;
        color: $gray-800-txt;
        text-align: left;
        li {
          list-style: disc;
        }
      }
    }
  }
  &.sect5{
    text-align: center;
    color: $bg-w;
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (max-width: 500px) {
  p, li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .inner {
    width: 80%;
    margin: auto;
  }
  // ---------------------------------------------
  section {
    // text-align: center;
    height: $height-100vh;
    padding: 80px 0;
    h2 {
      line-height: 2rem;
      padding-bottom: 20px;
    }
    &.intro {
      background: #ff671a;
      display: flex;
      color: #fff;
      .imgbox {
        width: 300px;
        height: 300px;
        border-radius: 60px;
        background: $bg-w;
        @include flex-c;
        @include po-c;

        img {
          width: 60%;
        }

        &::after {
          content: "";
          width: 100%;
          height: 100vh;
          display: block;
          position: absolute;
          border-right: 1px dashed #ffffff;
          border-left: 1px dashed #ffffff;
        }
        &::before {
          content: "";
          width: 100vw;
          height: 100%;
          display: block;
          position: absolute;
          border-top: 1px dashed #ffffff;
          border-bottom: 1px dashed #ffffff;
        }
      }
      .txt {
        display: flex;
        gap: 100px;
      }
    }
    &.sect1 {
      text-align: center;
      height: 40vh;
      border: 1px solid #000;
      p {
        &.speech {
          font-size: 1.5rem;
          padding-bottom: 20px;
          font-weight: 500;
        }
      }
    }
    &.sect2 {
      .t-box {
        .summary {
          width: 95%;
          font-size: 1.5rem;
          line-height: 2.5rem;
          padding-bottom: 20px;
          br {
            &.dis-n {
              display: none;
            }
          }
        }
        .txt {
          span {
            color: $gray-800-txt;
          }
        }
      }
    }
    &.sect3 {
      height: 255vh;
      background: linear-gradient(
          0deg,
          rgba($bg-sect4, 1) 10%,
          rgba($bg-sect4, 0) 20%
        ),
        url(./img/selmin/needs.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      article {
        &.qbox {
          width: 100%;
          margin-top: -250px;
          margin-bottom: 10px;
          > div {
            width: 100%;
            border-radius: 20px;
            padding: 40px 30px;
            background: $bg-w;
            margin-right: 20px;
            &:not(:last-child) {
              margin-bottom: 10px;
            }
            .q {
              letter-spacing: 0.2rem;
              font-size: 1.5rem;
              font-weight: 500;
              color: $main-basic;
              padding-bottom: 10px;
            }
            .question {
              font-size: 1.25rem;
              letter-spacing: -0.1rem;
              padding-bottom: 40px;
              line-height: 1.5em;
              br.none {
                display: none;
              }
            }
            ul.list {
              li {
                font-size: 1rem;
                .list-gf {
                  @include flex-c(space-between);
                  padding-top: 10px;
                  .rod {
                    height: 10px;
                    border-radius: 5px;
                    background: $gray-500;
                    &.rod1 {
                      background: $main-basic;
                    }
                  }
                  .list-nubmer {
                    padding-left: 20px;
                    font-size: 1rem;
                    text-align: right;
                    color: $gray-500;
                    &.color {
                      color: $main-basic;
                    }
                    &::after {
                      content: "%";
                      padding-left: 5px;
                    }
                  }
                }
                &:not(:last-child) {
                  padding-bottom: 10px;
                }
                &:nth-child(1) {
                  color: $main-basic;
                  font-weight: 600;
                }
                &:nth-child(1) {
                  .rod1 {
                    width: 48.1%;
                  }
                  .rod2 {
                    width: 30.2%;
                    border: 1px solid #000;
                  }
                  .rod3 {
                    width: 21.6%;
                  }
                }
                &:nth-child(2) {
                  .rod1 {
                    width: 65.3%;
                  }
                  .rod2 {
                    width: 31.6%;
                  }
                  .rod3 {
                    width: 13.1%;
                  }
                }
                &:nth-child(3) {
                  .rod1 {
                    width: 41.9%;
                  }
                  .rod2 {
                    width: 34.9%;
                  }
                  .rod3 {
                    width: 23.2%;
                  }
                }
              }
            }
          }
        }
        &.result {
          text-align: center;
          color: $bg-w;
          padding-bottom: 200px;
          white-space: nowrap;
        }

        &.review {
          padding-bottom: 100px;
          ul {
            text-align: center;
            li {
              width: 100%;
              line-height: 2rem;
              font-size: 1.25rem;
              display: block;
              padding: 15px 25px;
              border-radius: 10px;
              background: $bg-b;
              color: $bg-w;
              margin-bottom: 10px;
            }
          }
        }
        &.needs {
          text-align: center;
          color: $bg-w;
          span {
            width: 2px;
            height: 2px;
            background: firebrick;
          }
          i {
            font-size: 2.5rem;
            padding-bottom: 80px;
            padding-bottom: 80px;
            position: relative;
            color: $main-basic;
          }
          p {
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 2.5rem;
          }
        }
      }
      cite {
        display: block;
        font-size: 0.8rem;
        font-weight: 400;
        padding-bottom: 100px;
        color: rgba($color: $bg-w, $alpha: 0.5);
      }
    }
    &.sect4 {
      height: 100vh;
      .inner {
        width: 100%;
        .summary {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
        p {
          width: 80%;
          margin: auto;
        }
        .gird-p {
          background: linear-gradient(
            0deg,
            rgba($bg-sect4, 0) 10%,
            rgba($bg-w, 0.1) 50%
          );
          border-top: 2px solid $gray-600;
          padding: 20px 0;
          margin-top: 50px;
          .grid {
            height: 50px;
            padding: 5px;
            li {
              font-size: 0.8rem;
              line-height: 1rem;
              &.triangle {
                img {
                  width: 45%;
                  height: 45%;
                }
              }
            }
          }
        }
        p.calender {
          font-size: 0.65rem;
          margin-top: -10px;
          padding-bottom: 40px;
        }
        .benchmarking {
          justify-content: center;
          .app{
            display: none;
          }
          width: 90%;
          margin: auto;
          font-size: 1rem;
          ul{
            padding-left: 20px;
            li{
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 501px) {
  body {
    font-size: 4vw;
  }
  p, li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .inner {
    width: 80%;
    margin: auto;
  }
  // ---------------------------------------------
  section {
    height: $height-100vh;
    padding: 40px 0;
    h2 {
      padding-bottom: 20px;
    }
    &.intro {
      background: #ff671a;
      display: flex;
      color: #fff;
      .imgbox {
        width: 300px;
        height: 300px;
        border-radius: 60px;
        background: $bg-w;
        @include flex-c;
        @include po-c;

        img {
          width: 60%;
        }

        &::after {
          content: "";
          width: 100%;
          height: 100vh;
          display: block;
          position: absolute;
          border-right: 1px dashed #ffffff;
          border-left: 1px dashed #ffffff;
        }
        &::before {
          content: "";
          width: 100vw;
          height: 100%;
          display: block;
          position: absolute;
          border-top: 1px dashed #ffffff;
          border-bottom: 1px dashed #ffffff;
        }
      }
      .txt {
        display: flex;
        gap: 100px;
      }
    }
    &.sect1 {
      text-align: center;
      height: 30vh;
      border: 1px solid #000;
      p {
        white-space: nowrap;
        &.speech {
          font-size: 1.5rem;
          padding-bottom: 20px;
          font-weight: 500;
        }
      }
    }
    &.sect2 {
      .t-box {
        .summary {
          width: 95%;
          font-size: 1.5rem;
          line-height: 2.5rem;
          padding-bottom: 20px;
        }
      }
    }
    &.sect3 {
      height: 220vh;
      background: linear-gradient(
          0deg,
          rgba($bg-sect4, 1) 10%,
          rgba($bg-sect4, 0) 20%
        ),
        url(./img/selmin/needs.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      article {
        &.qbox {
          width: 100%;
          margin-top: -200px;
          > div {
            width: 100%;
            border-radius: 20px;
            padding: 40px 30px;
            background: $bg-w;
            &:not(:last-child) {
              margin-bottom: 10px;
            }
            .q {
              letter-spacing: 0.2rem;
              font-size: 1.5rem;
              padding-bottom: 10px;
            }
            .question {
              font-size: 1.25rem;
              letter-spacing: -0.1rem;
              padding-bottom: 40px;
              line-height: 1.5em;
              br {
                display: none;
              }
            }
            ul.list {
              li {
                font-size: 1rem;
                .list-gf {
                  @include flex-c(space-between);
                  padding-top: 10px;
                  .rod {
                    height: 10px;
                    border-radius: 5px;
                    background: $gray-500;
                    &.rod1 {
                      background: $main-basic;
                    }
                  }
                  .list-nubmer {
                    padding-left: 20px;
                    font-size: 1rem;
                    text-align: right;
                    color: $gray-500;
                    &.color {
                      color: $main-basic;
                    }
                    &::after {
                      content: "%";
                      padding-left: 5px;
                    }
                  }
                }
                &:not(:last-child) {
                  padding-bottom: 10px;
                }
                &:nth-child(1) {
                  color: $main-basic;
                  font-weight: 600;
                }
                &:nth-child(1) {
                  .rod1 {
                    width: 48.1%;
                  }
                  .rod2 {
                    width: 30.2%;
                    border: 1px solid #000;
                  }
                  .rod3 {
                    width: 21.6%;
                  }
                }
                &:nth-child(2) {
                  .rod1 {
                    width: 65.3%;
                  }
                  .rod2 {
                    width: 31.6%;
                  }
                  .rod3 {
                    width: 13.1%;
                  }
                }
                &:nth-child(3) {
                  .rod1 {
                    width: 41.9%;
                  }
                  .rod2 {
                    width: 34.9%;
                  }
                  .rod3 {
                    width: 23.2%;
                  }
                }
              }
            }
          }
        }
        &.result {
          text-align: center;
          color: $bg-w;
          padding-bottom: 200px;
          font-size: 1.5rem;
          .on {
            display: none;
          }
        }
        &.review {
          padding-bottom: 100px;
          ul {
            text-align: center;
            li {
              line-height: 2rem;
              font-size: 1.25rem;
              display: block;
              padding: 15px 25px;
              border-radius: 10px;
              background: $bg-b;
              color: $bg-w;
              margin-bottom: 20px;
              &:nth-child(odd) {
                margin-right: 20px;
              }
            }
          }
        }
        &.needs {
          text-align: center;
          color: $bg-w;
          span {
            width: 2px;
            height: 2px;
            background: firebrick;
          }
          i {
            font-size: 2.5rem;
            padding-bottom: 80px;
            padding-bottom: 80px;
            position: relative;
            color: $main-basic;
          }
          p {
            font-weight: 600;
            font-size: 2rem;
            line-height: 3rem;
          }
        }
      }
      cite {
        display: block;
        font-size: 0.8rem;
        font-weight: 600;
        padding-top: 10px;
        color: $main-bright1;
        padding-bottom: 100px;
      }
    }
    &.sect4 {
      height: 120vh;
      text-align: center;
      color: $bg-w;
      .inner {
        .summary {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
        p {
          width: 80%;
          margin: auto;
        }
        .gird-p {
          width: 100%;
          background: url('./img/selmin/sect4-bg.svg'), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
          background-position: center top;
          background-size: 100%;
          background-repeat: no-repeat;

          padding: 20px;
          margin-top: 60px;
          .grid {
            height: 50px;
            padding: 5px;
            li {
              font-size: 0.8rem;
              line-height: 1rem;
              &.triangle {
                img {
                  width: 45%;
                  height: 45%;
                }
              }
            }
          }
        }
        p.calender {
          font-size: 0.65rem;
          margin-top: -10px;
          padding-bottom: 40px;
        }
        .benchmarking {
          margin: auto;
          font-size: 1rem;
          .app{
            display: none;
          }
          .txt{
            width: 100%;
            ul{
              padding-left: 20px;
              li{
                &:not(:last-child){padding-bottom: 10px;}
                br{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 801px) {
  .inner {
    width: 85%;
    margin: auto;
  }
  .summary {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .txt {
    text-align: justify;
  }
  // ---------------------------------------------
  section {
    height: $height-100vh;
    padding: 80px 0;
    h2 {
      padding-bottom: 20px;
    }
    &.intro {
      background: #ff671a;
      display: flex;
      color: #fff;
      .imgbox {
        width: 300px;
        height: 300px;
        border-radius: 60px;
        background: $bg-w;
        @include flex-c;
        @include po-c;

        img {
          width: 60%;
        }

        &::after {
          content: "";
          width: 100%;
          height: 100vh;
          display: block;
          position: absolute;
          border-right: 1px dashed #ffffff;
          border-left: 1px dashed #ffffff;
        }
        &::before {
          content: "";
          width: 100vw;
          height: 100%;
          display: block;
          position: absolute;
          border-top: 1px dashed #ffffff;
          border-bottom: 1px dashed #ffffff;
        }
      }
      .txt {
        display: flex;
        gap: 100px;
      }
    }
    &.sect1 {
      text-align: center;
      height: 40vh;
      border: 1px solid #000;
    }
    &.sect2 {
      .t-box {
        display: flex;
        justify-content: space-between;
        .summary {
          width: 45%;
          line-height: 3rem;
        }
        .txt {
          width: 55%;
        }
      }
    }
    &.sect3 {
      height: 130vh;
      article {
        &.qbox {
          @include flex-c(space-between, center);
          > div {
            width: 32%;
            border-radius: 20px;
            padding: 30px 20px;
            .q {
              letter-spacing: 0.2rem;
              font-size: 1.2rem;
            }
            .question {
              height: 85px;
              font-size: 1.2rem;
              letter-spacing: -0.1rem;
              line-height: 1.5rem;
              padding-bottom: 40px;
              white-space: wrap;
            }
            ul.list {
              li {
                font-size: 1rem;
                .list-gf {
                  @include flex-c(space-between);
                  padding-top: 10px;
                  .rod {
                    height: 10px;
                    border-radius: 5px;
                  }
                  .list-nubmer {
                    padding-left: 20px;
                    font-size: 1rem;
                    text-align: right;
                    &::after {
                      content: "%";
                      padding-left: 5px;
                    }
                  }
                }
              }
            }
          }
        }
        &.result {
          margin: auto;
          white-space: wrap;
          border: 1px solid #20d84b;
          text-align: center;
          color: $bg-w;
          padding-bottom: 150px;
          white-space: nowrap;
          br {
            display: none;
            &.on {
              display: block;
            }
          }
        }
        &.review {
          padding-bottom: 150px;
          ul {
            text-align: center;
            li {
              line-height: 2rem;
              font-size: 1.2rem;
              display: inline-block;
              padding: 15px 25px;
              border-radius: 10px;
              color: $bg-w;
              margin-bottom: 10px;
              br {
                display: none;
              }
              &:nth-child(odd) {
                margin-right: 10px;
              }
            }
          }
        }
        &.needs {
          text-align: center;
          color: $bg-w;
          span {
            width: 2px;
            height: 2px;
            background: firebrick;
          }
          i {
            font-size: 2.5rem;
            padding-bottom: 80px;
            padding-bottom: 80px;
            position: relative;
            color: $main-basic;
            // &::after{
            //   content: '';
            //   width: 10px;
            //   height: 100px;
            //   border: 5px dotted #ffffff;
            //   @include po-c();
            // }
          }
          p {
            font-weight: 600;
            font-size: 2rem;
            line-height: 3.5rem;
          }
        }
      }
      cite {
        display: block;
        font-size: 0.8rem;
        font-weight: 600;
        color: $main-bright1;
        padding-bottom: 100px;
      }
    }
    &.sect4{
      .inner{
        .summary{
          font-size: 2rem;
          line-height: 3rem;
          padding-bottom: 20px;
          br{display: block;}
        }
        .gird-p {
          background: linear-gradient(to bottom, rgba($bg-sect4, 0), rgba($bg-sect4, 1) 100%),url('./img/selmin/sect4-bg.svg'),;
          background-position: center top;
          background-size: 100%;
          background-repeat: no-repeat;

          padding: 20px 40px;
          .grid{
            padding: 5px 0;
            height: 60px;
            .item{
              i{
                font-size: 1.1rem;
              }
              &.triangle {
                img {
                  width: 45%;
                  height: 45%;
                }
              }
            }
          }
        }
        br{display: none;}
      }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 1200px) {
  body {
    font-size: 4vw;
  }
  p, li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .inner {
    width: 1200px;
    margin: auto;
  }
  // ---------------------------------------------
  section {
    height: $height-100vh;
    h2 {
      padding-bottom: 20px;
    }
    &.intro {
      background: #ff671a;
      display: flex;
      color: #fff;
      .imgbox {
        width: 300px;
        height: 300px;
        border-radius: 60px;
        background: $bg-w;
        @include flex-c;
        @include po-c;

        img {
          width: 60%;
        }

        &::after {
          content: "";
          width: 100%;
          height: 100vh;
          display: block;
          position: absolute;
          border-right: 1px dashed #ffffff;
          border-left: 1px dashed #ffffff;
        }
        &::before {
          content: "";
          width: 100vw;
          height: 100%;
          display: block;
          position: absolute;
          border-top: 1px dashed #ffffff;
          border-bottom: 1px dashed #ffffff;
        }
      }
      .txt {
        display: flex;
        gap: 100px;
      }
    }
    &.sect2 {
      .t-box {
        display: flex;
        justify-content: space-between;
        .summary {
          width: 30%;
          font-size: 2rem;
          line-height: 3rem;
        }
        .txt {
          width: 65%;
        }
      }
    }
    &.sect3 {
      article {
        &.qbox {
          margin-top: -250px;
          margin-bottom: 20px;
          > div {
            width: 32%;
            // height: 384px;
            padding: 40px 30px;
            &:not(:last-child) {
              margin-bottom: 0;
            }
            .q {
              font-size: 1.5rem;
            }
            .question {
              font-size: 1.5rem;
              line-height: 2rem;
              br {
                display: block;
              }
            }
            ul.list {
              li {
                .list-gf {
                  padding-top: 0;
                  .rod {
                    height: 12px;
                  }
                  .list-nubmer {
                    padding-left: 20px;
                  }
                }
                &:not(:last-child) {
                  padding-bottom: 10px;
                }
              }
            }
          }
        }
        &.result {
          width: 84%;
          text-align: center;
          color: $bg-w;
          padding-bottom: 200px;
        }
        &.review {
          padding-bottom: 100px;
          ul {
            text-align: center;
            li {
              line-height: 2rem;
              font-size: 1.5rem;
              display: inline-block;
              padding: 15px 25px;
              border-radius: 10px;
              background: $gray-900;
              color: $bg-w;
              margin-bottom: 20px;
              &:nth-child(odd) {
                margin-right: 20px;
              }
            }
          }
        }
        &.needs {
          text-align: center;
          color: $bg-w;
          span {
            width: 2px;
            height: 2px;
            background: firebrick;
          }
          i {
            font-size: 2.5rem;
            padding-bottom: 80px;
            padding-bottom: 80px;
            position: relative;
            color: $main-basic;
            // &::after{
            //   content: '';
            //   width: 10px;
            //   height: 100px;
            //   border: 5px dotted #ffffff;
            //   @include po-c();
            // }
          }
          p {
            font-weight: 600;
            font-size: 2rem;
            line-height: 3.5rem;
          }
        }
      }
      cite {
        display: block;
        font-size: 0.8rem;
        font-weight: 600;
        color: $main-bright1;
      }
    }
    &.sect4 {
      background: $bg-sect4;
      display: grid;
      .inner{
        .gird-p {
          padding: 20px 40px;
          .grid{
            padding: 5px 0;
            height: 70px;
            .item{
              font-size: 1rem;
              i{
              font-size: 1.1rem;
              }
              &.triangle {
                img {
                  width: 40%;
                  height: 40%;
                }
              }
            }
          }
        }
        p.calender{
          font-size: 1rem;
          padding-bottom: 80px;
        }
        .benchmarking{
          justify-content: space-between;
          .app{
            @include flex-c(space-between);
            flex-direction: column;
            width: 15%;
            padding: 15px ;
            text-align: center;
            .box{
              border-radius: 20px;
              background: $bg-w;
              width: 100px;
              height: 100px;
              border: 1px solid #000;
              box-shadow: 0 5px 10px rgba($bg-b, 0.5);

              @include flex-c();
              p{
              color: $gray-400;  
              }
            }
            p{
              margin: 0;
              width: 100%;
            }
          }
          .txt{
            width: 80%;
            box-shadow: 0 5px 20px rgba($bg-b, 0.5);
          }
        }
      }
    }
    &.sect5{
      background: 
    radial-gradient(circle, rgba($bg-sect4, 0.3), rgba($bg-sect4, 1) 50%),
    url(./img/selmin/sect5-bg3.svg);
  background-size: cover; 
  background-position: center;
    }
  }
}
