body {
  font-family: "PretendardVariable", sans-serif;
}
/* 공통 */
.basic {
  line-height: 40px;
  font-weight: 300;
  font-size: 1.5rem;
}
.flex {
  display: flex;
}
li {
  list-style: none;
}
/* ul li{gap: 100px;} */
a {
  text-decoration: none;
}
.container{width: 1200px;}

/* ------------------------------------------------------------------- */
/* header */
header {
  height: 110px;
  width: 100%; /* flexd는 */
  position: fixed;
  background-image: url(./img/header_bg.png);
  z-index: 99;
  /* align-items: center; */
}
header .container {
  width: 1536px;
  border: 2px solid blue;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
/*  */
h1 img {
  width: 215px;
}
h1 {
  padding: 10px;
}

header ul li {
  color: #1a1a1a;
  font-size: 25px;
  font-weight: 900;
  /* justify-content: flex-end; */
  padding: 0px 30px;
  border: 2px solid blue;
}
ul {
  align-items: center;
}
/* text-align: right; */

header a.Brand img {
  height: 25px;
  border: 2px solid blue;
} /* brand까지만 쓰지 말고 정확하게 경로를 찍어줄 것 */
.btu-red {
  height: 47px;
  border-radius: 5px;
  background: #c91518;
  padding: 0px 15px;
  align-items: center;
}

/* ------------------------------------------------------------------- */
.container {
  width: 1250px;
  margin: auto;
}

/* sect1 */
.wrap {
  top: 100px;
  /* 이건 뭘까? */
}
.sect1 {
  width: 100%;
  height: 1000px;
  padding-top: 160px;
  background-size: cover;
  background-position: center;
  background-image: url(./img/KakaoTalk_20230525_113441376.jpg);
}
.slogan {
  color: #fff;
  text-align: center;
  border: 5px solid #5ac915;
}

.sect1 h2 {
  margin-bottom: 20px;
}
.sect1 h2 img {
  width: 635px;
}
.sect1 {
  font-size: 1.5rem;
}

.left {
  width: 50px;
  height: 50px;
  border: 2px white;
}

/* ------------------------------------------------------------------- */
/* sect2 */
.sect2 {
  height: auto;
  padding-top: 50px;
  background-image: url(./img/bg.jpg);
  align-items: flex-end;
}
.box {
  width: 1200px;
  margin: auto;
}

.col1 {
  width: 420px;
  border: 3px solid blue;
}
.sect2 h2 {
  width: 70%;
}

.sect2 .col1 {
  width: 420px;
  border: 2px solid blue;
}
/* .flex-d {
  border: 1px solid yellow; 
} */
.sect2 ul.flex {
  justify-content: space-between;
  margin-top: 70px;
}

.Consulting {
  width: 268px;
  margin: 180px 0px 10px;
  border: 2px solid blue;
}
.optimization {
  width: 268px;border: 2px solid blue;
}
.sect2 p.basic {
  font-size: 22px;
  color: #fff; border: 2px solid blue;
}
.sect2 .li ul li img {
  /* border: 1px solid yellow; */
  width: 112px;
}

/* 핸드폰 + text */
.sect2 .col2 {
  /* width: 806px */
  border: 3px solid blue;
  position: relative;
}
.phone1 {
  width: 100%; border: 3px solid rgb(255, 242, 0);
}
/* .sect2-viual {
  width: 700px;
  border: 3px solid blue;
} */

.sect2 ul.item {
  position: absolute;
  top: 360px;
  right: -30px;
  border: 3px solid rgb(34, 255, 101);
}

.sect2 ul.item li img {
  width: 280px;
  height: 76px;border: 3px solid blue;
}
/* ------------------------------------------------------------------- */
/* sect3 */
.sect3 {
  height: auto;
  padding-top: 50px;
  background-size: cover;
  background-image: url(./img/section_bg_01-e1662533114395.jpg);
}

.box2 {
  justify-content: center;
}
.sect3 div img {
  border: 2px solid red;
}
.sect3 .phone2 {
  height: 650px;
  border: 3px solid blue;
}

/* 오른쪽 글 */
.flex-d {
  width: 500px;
}

.sect3 h2 img.hot {
  height: 44px;
  margin-top: 70px;
}

.Consulting2 {
  width: 268px;
  margin: 100px 0px 10px;
}
.optimizatio2 {
  width: 200px;
}

/* ------------------------------------------------------------------- */
/* sect4 */
.sect4 {
  height: 80%;
  padding-top: 50px;
  background-image: url(./img/bg.jpg);
  align-items: flex-end;
}
.Topokki {
  width: 268px;
  margin: 180px 0px 10px;
}
h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}
.sect4 p {
  color: #fff;
}

/* ------------------------------------------------------------------- */
/* sect5 */
.sect5 {
  height: 100%;
  padding: 100px 0;
  background-image: url(./img/bg-1.jpg);
  /* align-items: center; */
  /* position: relative; 음 굳이...? */
}
.sect5 .header-group {
  width: 288px;
}
.sect5 .header-group h2 {
  width: 100%;
}

.sect5 .sub-ject {
  justify-content: space-between;
  margin-top: 60px;
}
.sect4 h2 img.real {
  height: 51px;
  margin-top: 70px;
}

/* 매출 */

.sect5 .sales {
  height: 541px;
  position: relative;
  background-image: url(./img/bg.png), url(./img/Asset-10-80-1.jpg);
  margin-top: 60px;
  border: 4px solid blue;
}

.sect5 .sales ul.price li {
  position: absolute;
}
.sect5 .sales ul.price li:nth-child(1) {
  left: 270px;
  top: 270px;
}
.sect5 .sales ul.price li:nth-child(2) {
  left: 430px;
  top: 318px;
}
.sect5 .sales ul.price li:nth-child(3) {
  left: 607px;
  top: 250px;
}
.sect5 .sales ul.price li:nth-child(4) {
  left: 793px;
  top: 188px;
}
.sect5 .sales ul.price li:nth-child(5) {
  left: 954px;
  top: 177px;
}

/* ------------------------------------------------------------------- */
/* sect6 */
.sect6 {
  background: #faf1dd;
  padding: 200px 0px;
}

/* img */
.sect6 ul {
  flex-wrap: wrap;
  /* border: 1px solid blue; */
  /* 표시하고 싶은데 이미 최대라 이거 하면 사진이 내려감 */
}

.summay {
  height: 417px;
}
.odd {
  height: 277.4px;
}

/* ------------------------------------------------------------------- */
/* sect7 */
.sect7 {
  height: 828px;
  background-image: url(./img/food_img.png), url(./img/Asset-10-80.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
}
.sect7 .flex-d {
  width: 50%;
  padding-bottom: 50px;
}
.Consulting3{width: 170px;}
.sect7 .optimization3 {
  width: 332px;
}
.sect7 .basic3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  color: #1a1a1a;
}

.container{align-items: center;}
.hot2{ width: 60%;;}
.sect7 img.left3{left: 50%; top: 200px; position: absolute;}

/* ------------------------------------------------------------------- */
/* sect8 */
.sect8 {
  height: 900px; background: #d71920;
  background-image: url(./img/Asset-22-81.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
}
.sect8 .flex-d{left: 150px; border: 2px solid yellow;}
.Consulting4{width: 170px; margin-bottom: 10px;}
.sect8 .optimization4{width: 360px; margin-bottom: 20px;}
.basic4 {
  font-size: 25px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
}
.sect8 .flex-d{position: absolute; left: 1070px; top: 240px;}


/* ------------------------------------------------------------------- */
/* sect8 */
.sect9 {
  height: 1650px;
  background-image: url(./img/food.jpg);
  background-size: cover;
  /* background-position: bottom; */
  background-repeat: no-repeat;
  padding: 100px 0;
  position: relative;}

.sect9 .container{display: flex;}
.sect9 .basic3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  color: #1a1a1a;
  position: absolute; top: 215px;
}
.sect9 .flex-d{width: 60%;}
.sect9 .p9{width: 40%;}
.sect9 .Consulting9{width: 179px;}
.sect9 .optimization9{width: 550px;}


/* ------------------------------------------------------------------- */
/* 푸터 */
footer {display: flex; align-items: center;}
footer {height: 290px;
  background: #c91516; color: #fff;}
footer p{font-weight: 400;}
.yellow{color: #f9be00;margin-bottom: 15px; font-size: 14px;}
.address{margin-bottom: 24px;font-size: 20px;}
.jasf{font: 14px;}

/* ------------------------------------------------------------------- */
/* 푸터 fixd */

.last {width: 100%; height: 160px; padding: 0px 180px;
  position: fixed; z-index: 90; top: 848px; 
  background: #f9be00;}
.inquiry{font-size: 40px; color: #c91516;font-weight: 800;}
.call{font-size: 28px; color: #1a1a1a; font-weight: 800;}

.last .flex{align-items: center;padding: 29px 0px;}
.last .first{width: 30%;}
.last .int{ width: 100%; gap: 20px;}

.last ul li{list-style: none;}
.last ul {border: 0;}

input{padding: 6px 10px; height: 43px;}
.name {width: 240px;}
.callcall {width: 336px;}
.home {width: 144px;}
.application{width: 253px; height: 43px; padding: 8px 48px; border-radius: 10px; background:  #c91516; color: #fff; text-align: center; font-size: 18px; font-weight: 600; margin-left: 80px;}